HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
src/main/resources/application-secrets.yaml
.env
.env.externalService

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/**
.temp*

### IntelliJ IDEA ###
.idea/*.xml
!.idea/jsonSchemas.xml
.idea/inspectionProfiles/
.idea/dataSources/
*.iws
*.iml
*.ipr
out/
.idea/dictionaries/*
!.idea/dictionaries/shiba.xml
.idea/shelf/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
