<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="getMailNoticesPrompt" class="spacing-below-35">
            <p th:text="#{general.this-person-can}"></p>
            <ul class="list--bulleted">
                <li th:text="#{authorized-rep-speak-to-county.get-mail-about-your-benefits}"></li>
                <li th:text="#{authorized-rep-speak-to-county.receive-notices-by-mail-or-phone}"></li>
            </ul>
        </div>
    </body>
</html>