<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="legal-terms-prompt" class="spacing-below-60">
<div class="accordion legal-stuff-accordion" id="prepare-to-apply-accordion">
        <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a1" >
            <span th:text="#{legal-stuff.application-terms}"></span>
        </button>
    <div id="a1" class="accordion__content textarea-readonly legal-stuff-window spacing-below-35">
        <h2 class="h3" th:text="#{legal-stuff.summary}"></h2>
        <div th:text="|• #{legal-stuff.you-have-been-honest-on-this-application}|"></div>
        <div th:text="|• #{legal-stuff.you-agree-to-the-benefit-rules}|"></div>
        <div>
            <p>
                <span th:text="|• #{legal-stuff.you-can}|"></span>
                <a th:text="#{legal-stuff.register-to-vote-online}"
                   href="https://sos.state.mn.us" target="_blank" rel="noopener noreferrer"></a>
                <span th:text="#{legal-stuff.or-ask-your-county-worker}"></span>
            </p>
        </div>
        <h2 class="h3" th:text="#{legal-stuff.details}"></h2>
        <div class="spacing-below-25">
            <h3 class="h4" th:text="#{legal-stuff.employment-services-registration}"></h3>
            <div th:text="#{legal-stuff.i-understand-that-signing-this-application-registers-me-for-employment-services}"></div>
        </div>
        <div class="spacing-below-25">
            <h3 class="h4" th:text="#{legal-stuff.assignments}"></h3>
            <div th:text="#{legal-stuff.i-understand-that-when-I-get-MFIP}"></div>
        </div>
        <div class="spacing-below-25">
            <h3 class="h4" th:text="#{legal-stuff.snap-penalty-warnings}"></h3>
            <div th:text="#{legal-stuff.if-you-get-cash-or-SNAP-benefits}"></div>
            <div>
                <b th:text="|• #{legal-stuff.do-not-give-false-information}|"></b>
                <span th:text="#{legal-stuff.or-hide-information-to-get-or-continue-to-get-benefits}"></span>
            </div>
            <div>
                <b th:text="|• #{legal-stuff.do-not-trade-or-sell-snap-benefits}|"></b>
                <span th:text="#{legal-stuff.or-electronic-benefit-transfer}"></span>
            </div>
            <div>
                <b th:text="|• #{legal-stuff.do-not-use-cash-or-snap-benefits-to-buy-ineligible-items}|"></b>
                <span th:text="#{legal-stuff.such-as-alcohol-and-tobacco}"></span>
            </div>
            <div>
                <b th:text="|• #{legal-stuff.do-not-use-someone-elses-ebt-access-card}|"></b>
                <span th:text="#{legal-stuff.to-get-cash-or-snap-benefits}"></span>
            </div>
            <div th:text="#{legal-stuff.the-state-may-bar-household-members-who-break}"></div>
            <div>
                <b th:text="#{legal-stuff.special-snap-penalty-warning}"></b>
                <span th:text="#{legal-stuff.if-a-federal-state-or-local-court-finds}"></span>
            </div>
            <div>
                <b th:text="|• #{legal-stuff.controlled-substances}|"></b>
                <span th:text="#{legal-stuff.that-household-member-will-be-barred}"></span>
            </div>
            <div>
                <b th:text="|• #{legal-stuff.firearms-ammunition-or-explosives}|"></b>
                <span th:text="#{legal-stuff.that-household-member-will-be-barred-from-getting-snap}"></span>
            </div>
            <div>
                <b th:text="|• #{legal-stuff.if-you-admit-committing-a-drug-felony-in-the-past-10-years}|"></b>
                <span th:text="#{legal-stuff.the-agency-may-ask-you-to-take-random-drug-tests}"></span>
            </div>
        </div>
        <div class="spacing-below-25">
            <h3 class="h4" th:text="#{legal-stuff.perjury-and-general-declarations}"></h3>
            <div th:text="#{legal-stuff.i-declare-under-the-penalties-of-perjury}"></div>
        </div>
        <div class="spacing-below-25">
            <div>
                <b th:text="#{legal-stuff.authorization-to-share-information-for-fraud-investigation-and-audits}"></b>
                <span th:text="#{legal-stuff.i-agree-that-third-parties-may-share-information}"></span>
            </div>
            <div th:text="#{legal-stuff.this-may-include-but-is-not-limited-to}"></div>
            <div th:text="|• #{legal-stuff.employers-and-schools}|"></div>
            <div th:text="|• #{legal-stuff.landlords-and-utility-companies}|"></div>
            <div th:text="|• #{legal-stuff.financial-and-insurance-agencies}|"></div>
            <div th:text="|• #{legal-stuff.other-government-offices}|"></div>
            <div th:text="#{legal-stuff.i-understand-this-consent-is-good-for-six-months-after-my-benefits-stop}"></div>
            <h3 class="h4" th:text="#{legal-stuff.by-signing}"></h3>
            <div th:text="|• #{legal-stuff.i-understand-cash-assistance-is-provided-to-help-eligible-families-meet-their-basic-needs}|"></div>
            <div th:text="|• #{legal-stuff.i-understand-if-i-give-incorrect-information-or-misuse-an-electronic-benefit}|"></div>
            <div th:text="|• #{legal-stuff.i-acknowledge-that-since-my-last-application-or-recertification}|"></div>
            <div th:text="|• #{legal-stuff.i-acknowledge-that-i-have-read-and-understand-the-snaps-penalty-warning}|"></div>
            <div>
                <span th:text="|• #{legal-stuff.i-acknowledge-that-i-received-the-attached}|"></span>
                <a th:text="#{legal-stuff.notices-of-privacy-practices}" href="https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3979-ENG" target="_blank" rel="noopener noreferrer"></a>
                <span th:text="#{legal-stuff.and}"></span>
                <a th:text="#{legal-stuff.client-responsibilties-and-rights}" href="https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4163-ENG" target="_blank" rel="noopener noreferrer"></a>
            </div>
            <div th:text="|• #{legal-stuff.i-agree-to-assign-my-child-support-as-stated-above}|"></div>
            <div th:text="|• #{legal-stuff.i-agree-to-the-sharing-of-information-as-stated-on-the-fraud-release-information}|"></div>
            <div th:text="|• #{legal-stuff.i-agree-to-the-sharing-of-information-as-stated-in-the-social-security-numbers-section}|"></div>
            <div>
                <span th:text="|• #{legal-stuff.i-agree-to-the-sharing-of-information-as-stated-in-the-social-security-numbers-section}|"></span>
                <a th:text="#{legal-stuff.combined-application-form}" href="https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5223-ENG-pform" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
        </div>
</div>
<div th:replace="~{fragments/promptMessageFragments/legal-terms-prompt-notice-privacy :: legal-terms-prompt-notice-privacy}"></div>
 <div th:replace="~{fragments/promptMessageFragments/legal-terms-prompt-client-resp-rights :: legal-terms-prompt-client-resp-rights}"></div>
 <div th:replace="~{fragments/promptMessageFragments/legal-terms-prompt-health-care-seniors :: legal-terms-prompt-health-care-seniors}"></div>
 <div th:replace="~{fragments/promptMessageFragments/legal-terms-prompt-ccap :: legal-terms-prompt-ccap}"></div>
</div>
</html>