<div th:fragment="linealDescendantWENPrompt"
     class="reveal reveal-adjacent spacing-above-35 spacing-below-60">
  <button th:text="#{lineal-descendant-WEN.Definition-of-a}"
          type="button" class="reveal__link reveal__link-adjacent reveal__link__header-adjacent"
          aria-expanded="false" aria-controls="reveal-content">
  </button>
  <div class="reveal__content reveal__content-adjacent" id="reveal-content">
    <p th:text="#{lineal-descendant-WEN.A-lineal-descendant-is}"></p>
  </div>
</div>