<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="spendOnYourBehalfPrompt" class="spacing-below-35">
    <p th:text="#{general.this-person-can}"></p>
    <ul class="list--bulleted">
        <li th:text="#{authorized-rep-spend-on-your-behalf.get-their-own-EBT-card-that-is-connected-to-your-benefits}"></li>
        <li th:text="#{authorized-rep-spend-on-your-behalf.buy-things-for-you-with-their-card}"></li>
    </ul>
</div>
</body>
</html>