spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shiba
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
server:
  tomcat:
    max-http-form-post-size: 30MB
    use-relative-redirects: true
  servlet:
    session:
      cookie:
        secure: true
sentry:
  enable-tracing: true
  traces-sample-rate: 0.3

cloud:
  aws:
    region:
      static: us-east-2

client:
  keystore: src/main/resources/shiba-keystore.jks
  truststore: src/main/resources/shiba-truststore.jks

mnit-esb:
  url: https://test-svcs.dhs.mn.gov/WebServices/Alfresco/CreateDocument
  jaxb-context-path: org.codeforamerica.shiba.esbwsdl
  max-attempts: 4
  delay: 5400000 # 1.5 hours
  multiplier: 2
  max-delay: 10800000 # 3 hours
  timeout-seconds: 300

sender-email: help@mnbenefits.org
security-email: security@mnbenefits.org
audit-email: help+audit@mnbenefits.org
support-email: mnbenefits@codeforamerica.org
hennepin-email: mnbenefits@codeforamerica.org

mail-gun:
  url: "https://api.mailgun.net/v3/mail.mnbenefits.org/messages"
  api-key: ${MAILGUN_API_KEY}
  shouldCC: false

feature-flag:
  submit-via-email: off
  submit-via-api: off
  submit-docs-via-email-for-hennepin: on
  later-docs-feature: on
  county-anoka: on
  county-carver: on
  county-clay: on
  county-cook: off
  county-dodge: off
  county-hennepin: on
  county-morrison: off
  county-olmsted: on
  county-ottertail: off
  county-sherburne: off
  county-steele: off
  county-stlouis: off
  county-wabasha: on
  county-wadena: off
  county-waseca: off
  county-wright: on

document-upload:
  max-files-uploaded: 20

smarty-street-url: "https://us-street.api.smartystreets.com/street-address"

encryption-key: ${ENCRYPTION_KEY}
logging:
  level:
    org.apache.hc.client5.http.wire: INFO
    org.apache.pdfbox.multipdf: off
    org.apache.pdfbox.cos: ERROR
    org.apache.pdfbox.pdmodel.font: ERROR
    org.springframework.web: ERROR
    org.springframework.ws.client.MessageTracing.sent: DEBUG
    org.springframework.ws.server.MessageTracing.sent: DEBUG
    org.springframework.ws.client.MessageTracing.received: DEBUG
    org.springframework.ws.server.MessageTracing.received: DEBUG

pagesConfig: pages-config.yaml
