conditionAnchors:
  - &paysForUtility?
    pageName: utilityPayments
    input: payForUtilities
  - &doesntPayForUtility?
    <<: *paysForUtility?
    matcher: DOES_NOT_CONTAIN
  - &useEnrichedHomeAddress?
    pageName: homeAddressValidation
    input: useEnrichedAddress
    value: "true"
  - &unearnedIncomeDoesntInclude?
    pageName: unearnedIncome
    input: unearnedIncome
    matcher: DOES_NOT_CONTAIN
  - &unearnedIncomeCcapDoesntInclude?
    pageName: unearnedIncomeCcap
    input: unearnedIncomeCcap
    matcher: DOES_NOT_CONTAIN
  - &homeExpensesDoesntInclude?
    pageName: homeExpenses
    input: homeExpenses
    matcher: DOES_NOT_CONTAIN
derived-values:
  - groupName: utilityPayments
    fieldName: noExpeditedUtilitiesSelected
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: NO_EXPEDITED_UTILITIES_SELECTED
        type: ENUMERATED_MULTI_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *doesntPayForUtility?
              value: HEATING
            - <<: *doesntPayForUtility?
              value: COOLING
            - <<: *doesntPayForUtility?
              value: ELECTRICITY
            - <<: *doesntPayForUtility?
              value: PHONE
  - groupName: utilityPayments
    fieldName: heatingOrCoolingSelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: ONE_SELECTED
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: OR
          conditions:
            - <<: *paysForUtility?
              value: HEATING
            - <<: *paysForUtility?
              value: COOLING
  - groupName: utilityPayments
    fieldName: heatingOrCooling
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: HEATING_OR_COOLING
        type: ENUMERATED_MULTI_VALUE
        condition:
          logicalOperator: OR
          conditions:
            - <<: *paysForUtility?
              value: HEATING
            - <<: *paysForUtility?
              value: COOLING
  - groupName: utilityPayments
    fieldName: noHeatingOrCoolingSelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: NEITHER_SELECTED
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *doesntPayForUtility?
              value: HEATING
            - <<: *doesntPayForUtility?
              value: COOLING
  - groupName: utilityPayments
    fieldName: waterOrSewerSelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: ONE_SELECTED
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: OR
          conditions:
            - <<: *paysForUtility?
              value: WATER
            - <<: *paysForUtility?
              value: SEWER
  - groupName: utilityPayments
    fieldName: waterOrSewer
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: WATER_OR_SEWER
        type: ENUMERATED_MULTI_VALUE
        condition:
          logicalOperator: OR
          conditions:
            - <<: *paysForUtility?
              value: WATER
            - <<: *paysForUtility?
              value: SEWER
  - groupName: utilityPayments
    fieldName: noWaterOrsewerSelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: NEITHER_SELECTED
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *doesntPayForUtility?
              value: WATER
            - <<: *doesntPayForUtility?
              value: SEWER
  - groupName: utilityPayments
    fieldName: noElectricitySelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *doesntPayForUtility?
              value: ELECTRICITY
  - groupName: utilityPayments
    fieldName: noGarbageRemovalSelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *doesntPayForUtility?
              value: GARBAGE_REMOVAL
  - groupName: utilityPayments
    fieldName: noCookingFuelSelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *doesntPayForUtility?
              value: COOKING_FUEL
  - groupName: utilityPayments
    fieldName: noPhoneSelection
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *doesntPayForUtility?
              value: PHONE
  - groupName: utilityPayments
    fieldName: phoneCellPhone
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: PHONE_CELL_PHONE
        type: ENUMERATED_MULTI_VALUE
        condition:
          conditions:
            - <<: *paysForUtility?
              value: PHONE
  - groupName: ccapHasCostsForChildCare
    fieldName: ccapHasCostsForChildCare
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "true"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - pageName: goingToSchool
              input: goingToSchool
              value: "true"
            - pageName: choosePrograms
              input: programs
              value: CCAP
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "true"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - pageName: ccapJob
              input: currentlyLookingForJob
              value: "true"
            - pageName: choosePrograms
              input: programs
              value: CCAP
  - fieldName: noSocialSecurity
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: SOCIAL_SECURITY
  - fieldName: noSSI
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: SSI
  - fieldName: noVeteransBenefits
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: VETERANS_BENEFITS
  - fieldName: noUnemployment
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: UNEMPLOYMENT
  - fieldName: noWorkersCompensation
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: WORKERS_COMPENSATION
  - fieldName: noRetirement
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: RETIREMENT
  - fieldName: noChildOrSpousalSupport
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: CHILD_OR_SPOUSAL_SUPPORT
  - fieldName: noTribalPayments
    groupName: unearnedIncome
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeDoesntInclude?
              value: TRIBAL_PAYMENTS
  - fieldName: noBenefits
    groupName: unearnedIncomeCcap
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeCcapDoesntInclude?
              value: BENEFITS
  - fieldName: noInsurancePayments
    groupName: unearnedIncomeCcap
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeCcapDoesntInclude?
              value: INSURANCE_PAYMENTS
  - fieldName: noContractForDeed
    groupName: unearnedIncomeCcap
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeCcapDoesntInclude?
              value: CONTRACT_FOR_DEED
  - fieldName: noTrustMoney
    groupName: unearnedIncomeCcap
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeCcapDoesntInclude?
              value: TRUST_MONEY
  - fieldName: noHealthCareReimbursement
    groupName: unearnedIncomeCcap
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeCcapDoesntInclude?
              value: HEALTH_CARE_REIMBURSEMENT
  - fieldName: noInterestDividends
    groupName: unearnedIncomeCcap
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeCcapDoesntInclude?
              value: INTEREST_DIVIDENDS
  - fieldName: noOtherSources
    groupName: unearnedIncomeCcap
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          conditions:
            - <<: *unearnedIncomeCcapDoesntInclude?
              value: OTHER_SOURCES
  - fieldName: noRentSelection
    groupName: homeExpenses
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *homeExpensesDoesntInclude?
              value: RENT
  - fieldName: noMortgageSelection
    groupName: homeExpenses
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *homeExpensesDoesntInclude?
              value: MORTGAGE
  - fieldName: noHomeownersInsuranceSelection
    groupName: homeExpenses
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *homeExpensesDoesntInclude?
              value: HOMEOWNERS_INSURANCE
  - fieldName: noRealEstateTaxesSelection
    groupName: homeExpenses
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *homeExpensesDoesntInclude?
              value: REAL_ESTATE_TAXES
  - fieldName: noAssociationFeesSelection
    groupName: homeExpenses
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *homeExpensesDoesntInclude?
              value: ASSOCIATION_FEES
  - fieldName: noRoomAndBoardSelection
    groupName: homeExpenses
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "No"
        type: ENUMERATED_SINGLE_VALUE
        condition:
          logicalOperator: AND
          conditions:
            - <<: *homeExpensesDoesntInclude?
              value: ROOM_AND_BOARD
  - groupName: energyAssistanceGroup
    fieldName: energyAssistanceInput
    values:
      - type: ENUMERATED_SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: energyAssistanceMoreThan20
          inputName: energyAssistanceMoreThan20
        condition:
          logicalOperator: OR
          conditions:
            - pageName: energyAssistance
              input: energyAssistance
              value: "true"
      - type: ENUMERATED_SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "false"
        condition:
          logicalOperator: OR
          conditions:
            - pageName: energyAssistance
              input: energyAssistance
              value: "false"
  - groupName: registerToVote
    fieldName: registerToVoteSelection
    values:
      - type: ENUMERATED_SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "true"
        condition:
          logicalOperator: OR
          conditions:
            - pageName: registerToVote
              input: registerToVote
              value: "YES"
      - type: ENUMERATED_SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "false"
        condition:
          logicalOperator: OR
          conditions:
            - pageName: registerToVote
              input: registerToVote
              value: "NO_ALREADY_REGISTERED"
      - type: ENUMERATED_SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "false"
        condition:
          logicalOperator: OR
          conditions:
            - pageName: registerToVote
              input: registerToVote
              value: "NO"
  - groupName: contactInfo
    fieldName: communicationOptIn
    values:
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: Email and text
        condition:
          logicalOperator: AND
          conditions:
            - pageName: contactInfo
              input: phoneOrEmail
              value: EMAIL
              matcher: CONTAINS
            - pageName: contactInfo
              input: phoneOrEmail
              value: TEXT
              matcher: CONTAINS
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: Email
        condition:
          conditions:
            - pageName: contactInfo
              input: phoneOrEmail
              value: EMAIL
              matcher: CONTAINS
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: Text
        condition:
          conditions:
            - pageName: contactInfo
              input: phoneOrEmail
              value: TEXT
              matcher: CONTAINS
  - groupName: jobs
    fieldName: count
    values:
      - value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "0"
        type: SINGLE_VALUE
        condition:
          conditions:
            - pageName: employmentStatus
              input: areYouWorking
              value: "false"
  - groupName: homeAddress
    fieldName: isHomelessIndicator
    values:
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.LiteralDerivedValueConfiguration
          literal: "homeless"
        condition:
          conditions:
            - pageName: homeAddress
              input: isHomeless
              value: "true"
  - groupName: homeAddress
    fieldName: selectedApartmentNumber
    values:
      - value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: enrichedApartmentNumber
        type: SINGLE_VALUE
        condition:
          conditions:
            - *useEnrichedHomeAddress?
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: apartmentNumber
  - groupName: homeAddress
    fieldName: selectedCity
    values:
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: enrichedCity
        condition:
          conditions:
            - *useEnrichedHomeAddress?
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: city
  - groupName: homeAddress
    fieldName: selectedState
    values:
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: enrichedState
        condition:
          conditions:
            - *useEnrichedHomeAddress?
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: state
  - groupName: homeAddress
    fieldName: selectedZipCode
    values:
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: enrichedZipCode
        condition:
          conditions:
            - *useEnrichedHomeAddress?
      - type: SINGLE_VALUE
        value: !!org.codeforamerica.shiba.output.ReferenceDerivedValueConfiguration
          pageName: homeAddress
          inputName: zipCode
