<!-- This is not an actual input, it's additional prompt context that we want to display at the bottom of the screen so we're utilizing "inputs" to display it in the desired position -->
<div th:fragment="caseNumberImages (input, data)">
  <div class="form-group">
    <p class="form-question spacing-below-0"
       th:text="#{additional-info.you-can-find-your-case-number}"></p>
    <div class="sample-case-number-images">
      <img alt="Sample letter 1" class="width-one-half" src="/images/sample-letter-1.jpg">
      <img alt="Sample letter 2" class="width-one-half" src="/images/sample-letter-2.jpg">
    </div>
  </div>
</div>