<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="checkbox-input (input, data)"
     th:with="inputData=${data.get(input.name)},
              formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
              hasError=${!data.isValid() && !inputData.valid(data)},
              hasHelpMessage=${input.helpMessageKey != null},
              hasHelpMessageBelow=${input.helpMessageKeyBelow != null},
              needsAriaLabel=${input.needsAriaLabel()}"
     class="form-group">
    <div class="spacing-above-35 form-group" th:classappend="${!inputData.valid(data)} ? 'form-group--error' : ''">
        <div role="group" aria-labelledby="page-header" th:remove="${!page.isSingleCheckboxOrRadioInputPage()}? tag">
            <fieldset>
                <div th:replace="~{fragments/form-question-prompt :: formQuestionPrompt(${input})}"></div>
                <p class="text--help"
                   th:if="${input.helpMessageKey != null}"
                   th:text="#{${input.helpMessageKey}}"></p>
                <th:block th:each="option: ${input.options.selectableOptions}"
                          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)}">
                    <label th:for="${option.isNone} ? 'none__checkbox' : ${option.value}"
                           th:id="${option.isNone} ? 'none__checkbox-label' : ${option.value} + '-label'"
                           th:if="${option.flag == null || (featureFlags.get(option.flag) != null && featureFlags.get(option.flag).isOn())}"
                           class="checkbox display-flex">
                        <input type="checkbox"
                               th:id="${option.isNone} ? 'none__checkbox' : ${option.value}"
                               th:value="${option.value}"
                               th:name="${formInputName}"
                               th:checked="${inputData.value.contains(option.value)}"
                               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                                        aria-invalid=${hasError},
                                        aria-label=${needsAriaLabel ? input.name : ''}"
                               th:attrappend="data-follow-up=${input.followUpValues.contains(option.value)} ? |#${input.name}-follow-up| : ''">
                        <div th:if="${option.getHelpIcon() != null}"
                             class="checkbox-icons">
                            <div th:replace="~{|fragments/icons/${option.getHelpIcon()}| :: ${option.getHelpIcon()}}"></div>
                        </div>
                        <div>
                            <span th:utext="#{${option.messageKey}}"></span>
                            <p th:if="${option.helpMessageKey != null}" th:utext="#{${option.helpMessageKey}}"
                               class="text--help with-no-padding"></p>
                        </div>
                    </label>
                </th:block>
				<p class="text--help" th:id="${input.name + '-help-message'}"
					th:if="${hasHelpMessageBelow}"
					th:utext="#{${input.helpMessageKeyBelow}}"></p>
			</fieldset>
        </div>
        <div th:replace="~{fragments/inputErrorFragment :: validationError(${data}, ${input})}"></div>
    </div>
</div>
</html>