<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="date-input (input, data)"
     class="form-group"
     th:classappend="${!inputData.valid(data)} ? 'form-group--error' : ''"
     th:with="inputData=${data.get(input.name)},
              formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
              hasError=${!data.isValid() && !inputData.valid(data)},
              hasHelpMessage=${input.helpMessageKey != null},
              needsAriaLabel=${input.needsAriaLabel()}">
	 <fieldset class="date-input">
        <div th:replace="~{fragments/form-question-prompt :: formQuestionPrompt(${input})}"></div>
        <p class="text--help">
            <label th:for="${input.name}+'-month'"
                   th:id="${input.name}+'-month-label'"
                   th:text="#{general.month}"></label>
            &nbsp;/&nbsp;
            <label th:for="${input.name}+'-day'"
                   th:id="${input.name}+'-day-label'"
                   th:text="#{general.day}"></label>
            &nbsp;/&nbsp;
            <label th:for="${input.name}+'-year'"
                   th:id="${input.name}+'-year-label'"
                   th:text="#{general.year}"></label>
        </p>
        <input type="text" inputmode="numeric" maxlength="2" class="text-input form-width--2-character dob-input"
               th:id="${input.name}+'-month'" th:name="${formInputName}"
               th:value="${(!inputData.value.isEmpty() and #lists.size(inputData.value) > 0) ? inputData.value[0]: ''}"
               th:placeholder="mm"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError}"/>
        &nbsp;/&nbsp;
        <input type="text" inputmode="numeric" maxlength="2" class="text-input form-width--2-character dob-input"
               th:id="${input.name}+'-day'"
               th:name="${formInputName}" th:value="${(!inputData.value.isEmpty() and #lists.size(inputData.value) > 1) ? inputData.value[1]: ''}"
               th:placeholder="dd"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError}"/>
        &nbsp;/&nbsp;
        <input type="text" inputmode="numeric" maxlength="4" class="text-input form-width--4-character dob-input"
               th:id="${input.name}+'-year'"
               th:name="${formInputName}" th:value="${(!inputData.value.isEmpty() and #lists.size(inputData.value) > 2) ? inputData.value[2]: ''}"
               th:placeholder="yyyy"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError}"/>
    </fieldset>
    <div th:replace="~{fragments/inputErrorFragment :: validationError(${data}, ${input})}"></div>
</div>
</html>