<!-- Custom input for displaying household members in a checkbox with followups. 
Created using householdOptionsCheckboxes and modifying it.
This needs to be custom because we're formatting the application data values that are displayed to the applicant on the screen -->
<th:block th:fragment="householdOptionsCheckboxesWithFollowup (input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                    inputData=${data.get(input.name)},
                    hasError=${!data.isValid() && !inputData.valid(data)},
                    hasHelpMessage=${input.helpMessageKey != null},
                    yourFullName=${input.options.datasources.get('personalInfo').get('firstName').value[0] + ' ' + input.options.datasources.get('personalInfo').get('lastName').value[0]},
                    needsAriaLabel=${input.needsAriaLabel()} ">

  <!--start of YOU with followup -->
<div class="question-with-follow-up">
<div class="question-with-follow-up__question">
      <div class="form-group">
          <fieldset>
              <label th:for="householdMember-me" class="checkbox">
		          <input type="checkbox"
		                 th:id="householdMember-me"
		                 th:value="${yourFullName} + ' applicant'"
		                 th:name="${formInputName}"
		                 th:checked="${inputData.value.contains(fullName)}"
		                 th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                                        aria-invalid=${hasError},
                                        aria-label=${needsAriaLabel ? input.name : ''}"
                         th:attrappend="data-follow-up=|#${input.name}-follow-up|">
                	<span th:text="|${yourFullName} #{general.you}|"> </span>
                </label>   
          </fieldset>
      </div>
</div>
       
      <div class="question-with-follow-up__follow-up" th:id="|${input.name}-follow-up|">
		      <th:block th:each="youFollowUp: ${input.followUps}">
		        <div
		            th:replace="'fragments/inputs/'+__${youFollowUp.fragment()}__ :: __${youFollowUp.fragment()}__(${youFollowUp}, ${data})"></div>
		      </th:block> 
      </div>
</div>
<!--end of YOU with followup -->
<!--start of household members with followup -->
        <th:block th:each="iteration, iterationStat: ${input.options.subworkflows.get('household')}"
        th:with="fullName=${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0]} + ' ' + ${iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]}"
        >
            <div class="question-with-follow-up" >
	            <div class="question-with-follow-up__question">
				<div class="form-group">
	             <fieldset>
	              <label th:for="|householdMember${iterationStat.index}|"
	                 class="checkbox">
			            <input type="checkbox"
			                   th:id="|householdMember${iterationStat.index}|"
			                   th:value="${fullName}"
			                   th:name="${formInputName}"
			                   th:checked="${inputData.value.contains(fullName)}"
			                   th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
	                                        aria-invalid=${hasError},
	                                        aria-label=${needsAriaLabel ? input.name : ''}"
	                           th:attrappend="data-follow-up=|#${input.name}${iterationStat.index}-follow-up|">
			  
			                <span th:text="${fullName}"></span>
					</label>
	             </fieldset>
				</div>
			</div> <!-- question-with-follow-up__question -->

            <div class="question-with-follow-up__follow-up" th:id="|${input.name}${iterationStat.index}-follow-up|">
		      <th:block th:each="followUp: ${input.followUps}">
		      <div class="form-group">
		      <fieldset>
		    <!--  followUp.fragment() is single-input because it is a MONEY type -->
		    <!--/* TODO emj, we may need to number each so that we identify each iterated input.
		     single-input isn't created to insert iteration counts, may need to create a custom input type?
		    Or put a case switch in here with itation counts for each input type that we need as we need them?  */-->
		        <div th:replace="'fragments/inputs/'+__${followUp.fragment()}__ :: __${followUp.fragment()}__(${followUp}, ${data})">
		        </div>
		      </fieldset>
		      </div>
		        
		      </th:block>
			</div> <!-- question-with-follow-up__follow-up -->
            
            </div><!-- question-with-follow-up -->
        </th:block>
  <!--end of household members with followup -->
</th:block>