<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="householdOptionsCheckboxesWithFollowup (input, data)" th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
          			inputData=${data.get(input.name)},
          			inputFollowupsName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.followUps[0].name)},
          			inputDataErrors=${input.validationErrorMessageKeys},
                    inputDataNames=${data.get(input.name)},
					sortedHouseholdMembers=${T(org.codeforamerica.shiba.pages.PageUtils).householdMemberSort(inputDataNames.value)},
                    inputFollowupData=${data.get(input.followUps[0].name)},
                    inputFollowupDataErrors=${input.followUps[0].validationErrorMessageKeys},
                    inputFollowupsHasErrors=!${#arrays.isEmpty(inputFollowupDataErrors)},
                    hasError=${!data.isValid() && !inputData.valid(data)},
                    hasHelpMessage=${input.helpMessageKey != null},
                    yourFullName=${input.options.datasources.get('personalInfo').get('firstName').value[0] + ' ' + input.options.datasources.get('personalInfo').get('lastName').value[0]},
                    needsAriaLabel=${input.needsAriaLabel()},
                    youIsChecked=${T(org.codeforamerica.shiba.pages.PageUtils).listOfNamesContainsName(sortedHouseholdMembers, yourFullName)},
                    noPersonsChecked=${#arrays.isEmpty(sortedHouseholdMembers)}
                    ">
	<div class="form-group" th:classappend="${hasError} ? 'form-group--error' : ''">
		<!--/* form-group div is to display the orange error line when no persons are selected. */-->
		<div class="question-with-follow-up" style="margin-bottom: 1rem;">
			<div class="question-with-follow-up__question">
				<div class="form-group">
					<label th:for="householdMember-me" class="checkbox display-flex" style="margin-bottom: 1rem;">
						<input type="checkbox" th:id="householdMember-me" th:value="${yourFullName} + ' applicant'"
							th:name="${formInputName}" th:checked="${youIsChecked}" 
							th:attrappend="data-follow-up=|#${input.name}-follow-up|">
						<span th:text="|${yourFullName} #{general.you}|"> </span>
					</label>
				</div>
			</div>
			<div class="question-with-follow-up__follow-up" th:id="|${input.name}-follow-up|">
				<th:block th:each="youFollowUp: ${input.followUps}">
					<div th:replace="~{fragments/form-question-prompt :: formQuestionPrompt(${youFollowUp})}"></div>
					<p class="text--help" th:id="${youFollowUp.name + '-help-message'}" th:if="${hasHelpMessage}"
						th:utext="#{${youFollowUp.helpMessageKey}}"></p>
					<th:block th:switch="${youFollowUp.type}">
						<!--/*  Including switch/case for future addition of other input types. */-->
						<div class="form-group" th:classappend="${inputFollowupsHasErrors} ? 'form-group--error' : ''">
							<div class="text-input-group" 
								th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).MONEY}">
								<div class="text-input-group__prefix" style="background-color:#FFFFFF">$</div>
								<input type="text" class="text-input" th:attr="aria-describedby=${hasHelpMessage ? youFollowUp.name + '-help-message' : ''},
			                            aria-labelledby=${needsAriaLabel ? youFollowUp.name+'-label' : ''},
			                            aria-invalid=${hasError}" th:id="|${youFollowUp.name}|" th:name="${inputFollowupsName}"
									th:value="${(!inputFollowupData.value.isEmpty()) ? inputFollowupData.value[0] : ''}">
									<div class="text-input-group__postfix" style="width:35%; background-color:#FFFFFF" 
									 th:if="${input.followUps[0].inputPostfix != null}" th:text="#{${input.followUps[0].inputPostfix}}"></div>
							</div>
						</div>
					</th:block>

				</th:block>

			</div>
		</div>
		<th:block th:each="iteration, iterationStat: ${input.options.subworkflows.get('household')}"
			th:with="fullName=${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0]} + ' ' + ${iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]}">
			<div class="question-with-follow-up" style="margin-bottom: 1rem;">
				<div class="question-with-follow-up__question">
					<div class="form-group">

						<label th:for="|${formInputName}${iterationStat.index}|" class="checkbox display-flex">
							<input type="checkbox" th:id="|${formInputName}${iterationStat.index}|"
								th:value="${fullName} + ' ' + ${iteration.id}" th:name="${formInputName}"
								th:checked="${T(org.codeforamerica.shiba.pages.PageUtils).listOfNamesContainsName(sortedHouseholdMembers, fullName)}"
								th:attrappend="data-follow-up=|#${input.name}${iterationStat.index}-follow-up|">
							<span th:text="${fullName}"></span>
						</label>
					</div>
				</div> 
				
				<div class="question-with-follow-up__follow-up" th:id="|${input.name}${iterationStat.index}-follow-up|">
					<th:block th:each="followUp: ${input.followUps}">
						<div class="form-group" th:classappend="${inputFollowupsHasErrors} ? 'form-group--error' : ''">
							<div th:replace="~{fragments/form-question-prompt :: formQuestionPrompt(${followUp})}"></div>
							<p class="text--help" th:id="${followUp.name+iterationStat.index + '-help-message'}" th:if="${hasHelpMessage}"
								th:utext="#{${followUp.helpMessageKey}}"></p>
							<th:block th:switch="${followUp.type}">
								<!--/*  Including switch/case for future addition of other input types. */-->
								<div class="text-input-group" 
									th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).MONEY}">
									<div class="text-input-group__prefix" style="background-color: #FFFFFF">$</div>
									<input type="text" class="text-input" th:attr="aria-describedby=${hasHelpMessage ? followUp.name + '-help-message' : ''},
                                        aria-labelledby=${needsAriaLabel ? followUp.name+'-label' : ''},
                                        aria-invalid=${hasError}" th:id="|${followUp.name}${iterationStat.index}|"
										th:name="${inputFollowupsName}"
										th:value="${(iterationStat.count < inputFollowupData.value.size() && !inputFollowupData.value[iterationStat.count].isEmpty() ) ?inputFollowupData.value[iterationStat.count]:''}">
										<div class="text-input-group__postfix" style="width:35%;background-color: #FFFFFF" 
											th:if="${input.followUps[0].inputPostfix != null}" th:text="#{${input.followUps[0].inputPostfix}}"></div>
								</div>
							</th:block>
						</div>
					</th:block>
				</div>
			</div>
		</th:block>
		<div th:if="!${#arrays.isEmpty(inputDataErrors)}">
			<p class="text--error" th:aria-label="#{error.title}" th:id="${input.name} + '-error-p'">
				<i class="icon-warning" th:id="${input.name + '-error-icon'}"></i>
				<span th:id="${input.name} + '-error-message-'" th:class="${input.name + '-error'}"
					th:text="#{${inputDataErrors[0]}}"></span>
			</p>
		</div>
		<div th:if="${inputFollowupsHasErrors && !noPersonsChecked}">
			<p class="text--error" th:aria-label="#{error.title}" th:id="${input.name} + '-error-p'">
				<i class="icon-warning" th:id="${input.name + '-error-icon'}"></i>
				<span th:id="${input.name} + '-error-message-'" th:class="${input.name + '-error'}"
					th:text="#{${inputFollowupDataErrors[0]}}"></span>
			</p>
		</div>
	</div>
</th:block>
</html>