<!-- Custom input for displaying household members in a checkbox. This needs to be custom because we're formatting the application data values that are displayed to the applicant on the screen -->
<th:block th:fragment="householdOptionsRadios (input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                    inputData=${data.get(input.name)}">
  <div class="form-group spacing-below-60 word-wrap-break-word"
       th:classappend="${!inputData.valid(data)} ? 'form-group--error' : ''">
    <div role="group" aria-labelledby="page-header">
      <fieldset>
        <label th:for="householdMember-me" class="radio-button"
               th:with="fullName=${input.options.datasources.get('personalInfo').get('firstName').value[0] + ' ' + input.options.datasources.get('personalInfo').get('lastName').value[0]}">
          <input type="radio"
                 th:id="householdMember-me"
                 th:value="${fullName} + ' applicant'"
                 th:name="${formInputName}"
                 th:checked="${inputData.value.contains(fullName)}">
          <span th:text="|${fullName} #{children-in-need-of-care.you}|"></span>
        </label>
        <th:block th:each="iteration, iterationStat: ${input.options.subworkflows.get('household')}">
          <label th:for="|householdMember${iterationStat.index}|"
                 class="radio-button"
                 th:with="fullName=${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0] + ' ' + iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]}">
            <input type="radio"
                   th:id="|householdMember${iterationStat.index}|"
                   th:value="${fullName} + ' ' + ${iteration.id}"
                   th:name="${formInputName}"
                   th:checked="${inputData.value.contains(fullName)}">
            <span
                th:text="|${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0]}&nbsp;${iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]}|"></span>
          </label>
        </th:block>
      </fieldset>
    </div>
    <div th:replace="~{fragments/inputErrorFragment :: validationError(${data}, ${input})}"></div>
  </div>
</th:block>