<!-- Custom input for displaying household members in a checkbox with followups. 
Created using householdOptionsCheckboxes and modifying it.
This needs to be custom because we're formatting the application data values that are displayed to the applicant on the screen -->
<th:block th:fragment="householdOptionsCheckboxesWithFollowup (input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
          			inputData=${data.get(input.name)},
          			inputFollowupsName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.followUps[0].name)},
                    inputDataNames=${data.get(input.name)},
					sortedHouseholdMembers=${T(org.codeforamerica.shiba.pages.PageUtils).householdMemberSort(inputDataNames.value)},
                    inputFollowupData=${data.get(input.followUps[0].name)},
                    hasError=${!data.isValid() && !inputData.valid(data)},
                    hasHelpMessage=${input.helpMessageKey != null},
                    yourFullName=${input.options.datasources.get('personalInfo').get('firstName').value[0] + ' ' + input.options.datasources.get('personalInfo').get('lastName').value[0]},
                    needsAriaLabel=${input.needsAriaLabel()} ">

  <!--start of YOU with followup -->
<div class="question-with-follow-up">
<div class="question-with-follow-up__question">
      <div class="form-group">
          <fieldset>
              <label th:for="householdMember-me" class="checkbox">
		          <input type="checkbox"
		                 th:id="${formInputName}"
		                 th:value="${yourFullName} + ' applicant'"
		                 th:name="${formInputName}"
		                 th:checked="${T(org.codeforamerica.shiba.pages.PageUtils).listOfNamesContainsName(sortedHouseholdMembers, yourFullName)}"
		                 th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                                        aria-invalid=${hasError},
                                        aria-label=${needsAriaLabel ? input.name : ''}"
                         th:attrappend="data-follow-up=|#${input.name}-follow-up|">
                	<span th:text="|${yourFullName} #{general.you}|"> </span>
                </label>   
          </fieldset>
      </div>
</div>

      <div class="question-with-follow-up__follow-up" th:id="|${input.name}-follow-up|">
		      <th:block th:each="youFollowUp: ${input.followUps}">
		     <!--/* Instead of calling the followUp fragment, just use the html from that fragment.  <div
		            th:replace="'fragments/inputs/'+__${youFollowUp.fragment()}__ :: __${youFollowUp.fragment()}__(${youFollowUp}, ${data})"></div>
		            */-->
		        <div th:replace="fragments/form-question-prompt :: formQuestionPrompt(${youFollowUp})"></div>
				    <p class="text--help"
				       th:id="${youFollowUp.name + '-help-message'}"
				       th:if="${hasHelpMessage}"
				       th:utext="#{${youFollowUp.helpMessageKey}}"></p>
			    <th:block th:switch="${youFollowUp.type}">
			    <!--/* Attempting to modify input types to work within this fragment */-->
			        <div class="text-input-group" th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).MONEY}">
			            <div class="text-input-group__prefix">$</div>
			            <input type="text"
			                   class="text-input"
			                   th:attr="aria-describedby=${hasHelpMessage ? youFollowUp.name + '-help-message' : ''},
			                            aria-labelledby=${needsAriaLabel ? 'page-header' : ''},
			                            aria-invalid=${hasError}"
			                   th:id="|${youFollowUp.name}|"
			                   th:name="${inputFollowupsName}"
			                   th:value="${(!inputFollowupData.value.isEmpty()) ? inputFollowupData.value[0] : ''}"
			            >
			        </div>
			      </th:block><!--/* END of switch case block for input types */-->		  
			                
		      </th:block> <!--/* END of each block for followups */-->	
      </div>
</div>
<!--end of YOU with followup -->
<!--start of household members with followup -->
        <th:block th:each="iteration, iterationStat: ${input.options.subworkflows.get('household')}"
        th:with="fullName=${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0]} + ' ' + ${iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]}"
        >

            <div class="question-with-follow-up" >
	            <div class="question-with-follow-up__question">
				<div class="form-group">
	             <fieldset>
	              <label th:for="|householdMember${iterationStat.index}|"
	                 class="checkbox">
			            <input type="checkbox"
			                   th:id="|${formInputName}${iterationStat.index}|"
			                   th:value="${fullName} + ' ' + ${iteration.id}"
			                   th:name="${formInputName}"
			                   th:checked="${T(org.codeforamerica.shiba.pages.PageUtils).listOfNamesContainsName(sortedHouseholdMembers, fullName)}"
			                   th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
	                                        aria-invalid=${hasError},
	                                        aria-label=${needsAriaLabel ? input.name : ''}"
	                           th:attrappend="data-follow-up=|#${input.name}${iterationStat.index}-follow-up|">
			  
			                <span th:text="${fullName}"></span>
					</label>
	             </fieldset>
				</div>
			</div> <!-- question-with-follow-up__question -->

            <div class="question-with-follow-up__follow-up" th:id="|${input.name}${iterationStat.index}-follow-up|">
		      <th:block th:each="followUp: ${input.followUps}">
		      <div class="form-group">
		      <fieldset>
  
				    <div th:replace="fragments/form-question-prompt :: formQuestionPrompt(${followUp})"></div>
				    <p class="text--help"
				       th:id="${followUp.name + '-help-message'}"
				       th:if="${hasHelpMessage}"
				       th:utext="#{${followUp.helpMessageKey}}"></p>
				    <th:block th:switch="${followUp.type}">
				    <!--/* Attempting to modify input types to work within this fragment */-->
				        <div class="text-input-group" th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).MONEY}">
				            <div class="text-input-group__prefix">$</div>
				            <input type="text"
				                   class="text-input"
				                   th:attr="aria-describedby=${hasHelpMessage ? followUp.name + '-help-message' : ''},
				                            aria-labelledby=${needsAriaLabel ? 'page-header' : ''},
				                            aria-invalid=${hasError}"
				                   th:id="|${followUp.name}${iterationStat.index}|"
				                   th:name="${inputFollowupsName}"
				                   th:value="${(!inputFollowupData.value.isEmpty()) ? inputFollowupData.value[iterationStat.count] : ''}"
				            >
				        </div>
				        
				      </th:block><!--/* END of switch case block for input types */-->
				    <div th:replace="fragments/inputErrorFragment :: validationError(${data}, ${input})"></div>		    
		    
		      </fieldset>
		      </div>
		        
		      </th:block><!--/* END of iteration through the list of followups */-->
			</div> <!-- question-with-follow-up__follow-up -->
            
            </div><!-- question-with-follow-up -->
        </th:block><!--/* END of household member iteration */-->
  <!--end of household members with followup -->
</th:block>