<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="radio-input (input, data)"
          th:with="inputData=${data.get(input.name)},
                   formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                   hasError=${!data.isValid() && !inputData.valid(data)},
                   hasHelpMessage=${input.helpMessageKey != null},
                   needsAriaLabel=${input.needsAriaLabel()}">
    <div class="form-group"
         th:classappend="${!inputData.valid(data)} ? 'form-group--error' : ''">
        <div role="group" th:name="${input.name + '-div[]'}" aria-labelledby="page-header page-header-help-message"
        	th:remove="${!page.isSingleCheckboxOrRadioInputPage()}? tag">
        <div role="group" th:name="${input.name + '-div[]'}" aria-labelledby="page-header page-header-help-message"
        	th:remove="${page.isSingleCheckboxOrRadioInputPage() || input.hasPromptMessageKey()}? tag">
           <fieldset>
                <div th:replace="~{fragments/form-question-prompt :: formQuestionPrompt(${input})}"></div>
                <p class="text--help"
                   th:if="${input.helpMessageKey != null}"
                   th:text="#{${input.helpMessageKey }}"></p>
                <th:block th:each="option: ${input.options.selectableOptions}">
                    <label th:for="${#ids.next(input.name)}" class="radio-button">
                        <input type="radio" th:name="${formInputName}" th:id="${#ids.seq(input.name)}"
                               th:value="${option.value}"
                               th:checked="${inputData.value.contains(option.value)}"
                               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                                        aria-invalid=${hasError},
                                        aria-label=${needsAriaLabel ? input.name : ''}"
                               th:attrappend="data-follow-up=${input.followUpValues.contains(option.value)} ? |#${input.name}-follow-up| : ''">
                        <span th:text="#{${option.messageKey}}"></span>
                    </label>
                </th:block>
            </fieldset>
        </div>
        </div>
        <div th:replace="~{fragments/inputErrorFragment :: validationError(${data}, ${input})}"></div>
    </div>
</th:block>

</html>