<!-- This is custom because it uses buttons for radio options rather than the standard radio or checkbox inputs -->
<th:block th:fragment="secondSignatureOption(input, data)"
	th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
    options=${input.getOptions()},
    addressData=${applicationData.getPagesData().getPage('homeAddress')}">
	<!-- options buttons -->
	<div class="vertical-button-group" role="group" aria-labelledby="page-header">
		<div class="grid">
			<div class="grid__item width-auto-left">
				<button th:name="${formInputName}" th:inline="text" th:append type="submit"
					th:value="${options.getSelectableOptions[0].value}"
					class="button button--primary"
					id="continue_to_signature">
					[[#{${options.getSelectableOptions[0].messageKey}}]]
				</button>
			</div>
		</div>
	</div>
</th:block>