<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="single-input (input, data)" class="form-group"
     th:classappend="${!data.isValid() && !inputData.valid(data)} ? 'form-group--error' : ''" 
     th:with="inputData=${data.get(input.name)},
               hasError=${!data.isValid() && !inputData.valid(data)},
               hasHelpMessage=${input.helpMessageKey != null},
               needsAriaLabel=${input.needsAriaLabel()},
               hasHelpMessageBelow=${input.helpMessageKeyBelow != null}">
    <div th:replace="~{fragments/form-question-prompt :: formQuestionPrompt(${input})}"></div>
    <p class="text--help"
       th:id="${input.name + '-help-message'}"
       th:if="${hasHelpMessage}"
       th:utext="#{${input.helpMessageKey}}"></p>
    <th:block th:switch="${input.type}"
              th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)}">
        <div class="text-input-group" th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).MONEY}">
            <div class="text-input-group__prefix">$</div>
            <input type="text"
                   class="text-input"
                   th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                            aria-labelledby=${needsAriaLabel ? 'page-header' : ''},
                            aria-invalid=${hasError}"
                   th:id="${input.name}"
                   th:name="${formInputName}"
                   th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
            >
            <div class="text-input-group__postfix" style="width:35%;" 
									 th:if="${input.inputPostfix != null}" th:text="#{${input.inputPostfix}}"></div>
        </div>
        <div class="text-input-group max-width--hourly-wage" th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).HOURLY_WAGE}">
            <div class="text-input-group__prefix">$</div>
            <input type="text"
                   class="text-input max-width--hourly-wage"
                   th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                            aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                            aria-invalid=${hasError},
                            aria-label=${needsAriaLabel ? input.name : ''}"
                   th:id="${input.name}"
                   th:name="${formInputName}"
                   th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
            >
            <div class="text-input-group__postfix">/hr</div>
        </div>
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).TEXT}"
               type="text"
               class="text-input form-width--medium"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError},
                        aria-label=${needsAriaLabel ? input.name : ''}"
               th:placeholder="${input.placeholder == null} ? '' : #{${input.placeholder}}"
               th:readonly="${input.readOnly}"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).LONG_TEXT}"
               type="text"
               class="text-input form-width--long"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError},
                        aria-label=${needsAriaLabel ? input.name : ''}"
               th:readonly="${input.readOnly}"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <textarea th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).TEXTAREA}"
                  type="textarea"
                  class="textarea"
                  th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-invalid=${hasError},
                        aria-labelledby=${needsAriaLabel ? 'page-header' : ''}"
                  rows="6"
                  maxlength="500"
                  th:id="${input.name}"
                  th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
                  th:name="${formInputName}"
        ></textarea>
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).NUMBER}"
               type="number"
               class="text-input form-width--medium"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError},
                        aria-label=${needsAriaLabel ? input.name : ''}"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).PHONE}"
               type="tel"
               class="text-input form-width--medium phone-input"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError},
                        aria-label=${needsAriaLabel ? input.name : ''}"
               placeholder="(999) 999-9999"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).SSN}"
               type="text"
               inputmode="numeric"
               class="text-input form-width--medium ssn-input"
               th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                        aria-labelledby=${needsAriaLabel ? '' : input.name + '-label'},
                        aria-invalid=${hasError},
                        aria-label=${needsAriaLabel ? input.name : ''}"
               placeholder="123-45-6789"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <div th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).SELECT}" class="select">
            <select th:id="${input.name}"
                    class="select__element"
                    th:attr="aria-describedby=${hasHelpMessage ? input.name + '-help-message' : ''},
                             aria-labelledby=${needsAriaLabel ? 'page-header' : input.name + '-label'},
                             aria-invalid=${hasError},
                             aria-label=${needsAriaLabel ? input.name : ''}"
                    th:name="${formInputName}"
            >
                <th:block th:each="option: ${input.options.selectableOptions}">
                    <option th:value="${option.value}" th:text="#{${option.messageKey}}"
                            th:selected="${inputData.value.contains(option.value)}"></option>
                </th:block>
            </select>
        </div>
        <div th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).NOTICE}" class="notice--success spacing-below-60">
            <span th:utext="#{${input.noticeMessage}}"></span>
        </div>

    </th:block>
	<p class="text--help" th:id="${input.name + '-help-message'}"
	th:if="${hasHelpMessageBelow}"
	th:utext="#{${input.helpMessageKeyBelow}}"></p>
    <div th:replace="~{fragments/inputErrorFragment :: validationError(${data}, ${input})}"></div>
</div>
</html>