<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="yes-no-input (input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                   hasHelpMessage=${input.helpMessageKey != null},
                   hasPromptMessageFragment=${input.promptMessage != null && input.promptMessage.getPromptMessageFragmentName() != null},
                   hasPromptMessageKey=${input.promptMessage != null && input.promptMessage.getPromptMessageKey() != null}"
>
    <div class="form-group" th:with="helpMessageID=${hasHelpMessage ? ' ' + input.name + '-help-message' : ''},
                                     promptMessageFragment=${hasPromptMessageFragment ? ' ' + input.promptMessage.getPromptMessageFragmentName() : ''},
                                     promptMessageKey=${hasPromptMessageKey ? ' ' + input.promptMessage.getPromptMessageKey() : ''}">
        <div class="spacing-below-60">
            <div th:replace="~{fragments/form-question-prompt :: formQuestionPrompt(${input})}"></div>
            <p class="text--help"
               th:if="${input.helpMessageKey != null}"
               th:text="#{${input.helpMessageKey}}"></p>
        </div>
        <button th:name="${formInputName}"
                th:aria-describedby="${'page-header' + ' page-header-help-message' + helpMessageID + promptMessageFragment + promptMessageKey}"
                type="submit" value="true" class="button yes-no-button">
            <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>
            <span th:text="#{general.inputs.yes}"></span>
        </button>
        <button th:name="${formInputName}"
                th:aria-describedby="${'page-header' + ' page-header-help-message' + helpMessageID + promptMessageFragment + promptMessageKey}"
                type="submit" value="false" class="button yes-no-button">
            <span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>
            <span th:text="#{general.inputs.no}"></span>
        </button>
    </div>
</th:block>
</html>