.page-wrapper .grid {
  max-width: 750px;
}

.page-wrapper .grid-ignore-mobile {
  max-width: 750px;
}

.page-wrapper {
  flex: 1 0 auto;
}

#landing-page .grid {
  max-width: 960px;
}

.max-width-446 {
  max-width: 446px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width--hourly-wage {
  max-width: 9.5em;
}

.intro-section {
  max-width: 35rem;
}

.button--intercom:first-of-type {
  margin: .2em .5em;
  flex-shrink: 0;
  color: #003865;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 0 2px 0 #6F99B5;
}

.button--intercom:hover {
  border-color: #E9F6FF;
  background-color: #E9F6FF;
  color: #003865;
}

.button--intercom:focus {
  border-color: #E5E5E5;
  background-color: #E9F6FF;
  color: #003865;
  box-shadow: 0 0 0 5px #FFAE00;
}

@media screen and (max-width: 350px) {
  .button--intercom {
    padding: .5rem;
  }
}

.boxed-content {
  padding: 2.5rem 1rem 2.5rem 1rem;
  margin: 2.5rem auto;
  border: 2px solid #AAAAAA;
  border-radius: 3px;
}

.email-box {
  padding: 2.5rem 1rem 2.5rem 1rem;
  border-radius: 3px;
  border: 2px solid #741078;
  box-shadow: 10px 10px 0px 0px #FFE2FF;
  font-family: 'PT Serif', serif;
}

.email-box-header {
  padding-bottom: 1.5rem;
}

.email-box svg {
  margin-right: 0.5rem;
}

.left-justified-list {
  list-style: disc;
  padding-left: 2.2rem;
}

.left-justified-list li {
  padding-bottom: 1rem;
}

.builder-list {
  padding-right: 2.5rem;
}

.list-header {
  padding-left: 2.5rem;
}

.intro-box__title {
  margin-bottom: 20px;
}

.dob-input {
  display: inline-block;
  width: calc(30% - 3rem);
}

.bottom-horizontal-line {
  border-bottom: 1px solid black;
}

.bottom-horizontal-line-grey {
  border-bottom: 1px solid #CFC5BF;
}

.bottom-horizontal-line-dark-grey {
  border-bottom: 1px solid #AAAAAA;
}

.icon-check_circle.large {
  color: #CFC5BF;
  font-size: 100px;
}

.form-width--2-character {
  width: calc(4.4rem + 2ch);
  padding: 0 1.5rem;
}

.form-width--4-character {
  width: calc(4.4rem + 4ch);
  padding: 0 2rem;
}

.slab--shiba, body:not(#landing-page) {
  background-color: #E9F6FF;
}

.slab--white {
  background-color: #FFFFFF;
}

.slab--C1EBEB {
	background-color: #C1EBEB;
}

.slab--minnesota-sky-blue {
  background-color: #E9F6FF;
}

.slab--minnesota-light-blue {
  background-color: #EFF6FF;
}


.footer-minnesota-blue {
  color: #FFF;
  background-color: #003865;
}

.font-white {
  color: white;
}

.main-footer {
  position: relative;
  height: auto !important;
  flex-shrink: 0;
  padding: 30px 42px;
}
@media screen and (max-width: 600px) {
  .main-footer {
  padding: 30px 30px;
  }
}

.main-footer a:visited {
  color: #cdcdcd;
}

body {
  display: flex;
  flex-direction: column;
  margin-bottom: unset;
  min-height: 100%;
}

.body-gray {
  color: #5F5854;
}

html {
  height: 100%;
}

.textarea-readonly {
  font-weight: normal;
  font-size: 16px;
  border: none;
  box-shadow: none;
  overflow-wrap: break-word;
  border-radius: 6px;
  width: 100%;
  padding: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  background-color: #FFF;
  border: solid 2px #000;
}

.legal-stuff-window {
  height: 35rem;
  overflow-y: scroll;
  padding-right: calc(1.5rem + 12px);
  border-style: none;
}

.legal-stuff-window div {
  margin-bottom: 8px;
  line-height: 1.5;
}

.legal-stuff-window .h3 {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
}

.legal-stuff-window .h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.legal-stuff-accordion{
	background-color: white; 
	border-color: black;
}

.next-steps-accordion{
	background-color: #E9F6FF; 
	border-color: #003964;
	font-size: 1.9rem;
	padding-left: 15px;
}

.next-steps-alt-accordion{
	background-color: #FFFFFF; 
	border-color: #CFC5BF;
	font-size: 1.9rem;
	padding-left: 10px;
}

.next-steps-text{
	font-size: 1.9rem;
	line-height: 2.5rem;
}

.grid .width-twenty-percent{
	float:left;
	display:block;
	margin-right:2.3576520234%;
	min-width: 65px;
	width: 20%;
}

.margin-bottom-0{
	margin-bottom: 0;
}

.textarea-readonly::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textarea-readonly::-webkit-scrollbar:vertical {
  width: 12px;
}

.textarea-readonly::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.textarea-readonly::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.main-footer {
  font-weight: normal;
}

.hide-radio-circle {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  display: none !important;
}

.inline {
  display: inline-block;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.review-info-section {
  border-color: #CFC5BF;
  padding-bottom: 2.5rem;
}

.italic {
  font-style: italic;
}

.padding-horizontal-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-right-25 {
  padding-right: 2.5rem;
}

.padding-right-10 {
  padding-right: 1rem;
}

.vertical-button-group .button {
  margin-left: 0;
}

/* Upload Documents Page Styles */

form .drag-and-drop-box-compact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.splash {
  margin-top: 30px;
  max-width: 85%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 601px) {
  .hide-on-desktop {
    display: none;
  }

  .drag-and-drop-box {
    border: 2px dashed rgba(0, 56, 101, 0.7);
    border-radius: 5px;
    padding-top: 8rem;
    padding-bottom: 13rem;
    background-color: #F7F5F4;
    box-sizing: border-box;
  }

  .drag-over {
    box-shadow: 0 0 0 5px #FFAE00;
    box-sizing: border-box;
    border-radius: 8px;

    border: 2px solid #F7F5F4
  }

  .drag-and-drop-box:hover {
    cursor: pointer;
  }

  .drag-and-drop-box h2 {
    user-select: none;
  }

  .card {
    margin-bottom: 6rem;
    padding: 6rem 16rem;
  }

  .right-on-desktop {
    float: right;
  }

  .splash {
    max-width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}

.hide {
  display: none;
}

.max-files {
  height: 100%;
  background-color: #FFF2D1;
  border: 2px solid #FFAE00;
  box-sizing: border-box;
  padding: 17px;
  flex-direction: row;
  align-items: flex-start;
  display: none;
}

.narrow-centered-text {
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.dz-button {
  border: none;
  border-radius: 50%;
  font-size: 6rem;
  background-color: #003865;
  padding: 1rem;
  color: #FFF;
  -webkit-box-shadow: 0 3px 0px 0px #7f9bb1;
  -moz-box-shadow: 0 3px 0px 0px #7f9bb1;
  box-shadow: 0 3px 0px 0px #7f9bb1;
  line-height: 6rem;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

#upload-button-inner {
  margin-left: auto;
  margin-right: auto;
}

.dz-button:hover {
  background-color: #00223D;
  color: #FFF;
}

:not(.dz-complete) .dz-filename {
  color: #cfc5bf;
}

#file-preview-template .dz-success .dz-filename {
  color: #000;
}

.blue-label {
  color: #003865;
  font-weight: normal;
}

.reveal-adjacent {
  border: 2px solid #034E46;
  border-radius: 10px;
  position: relative;
}

.reveal__link__header-adjacent {
  text-align: left;
  display: inline-block;
  padding: .3em .5em .3em .7em;
}

.reveal__link-adjacent {
  width: 93%;
  border: unset;
}

.reveal__link-adjacent:after {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
}

.is-hidden .reveal__link-adjacent {
  border-radius: inherit;
}

.reveal-icon {
  position: relative;
  top: 3px;
  left: 9px;
  margin-left: 16px;
}

/*noinspection CssReplaceWithShorthandSafely*/
.reveal__content-adjacent {
  margin-top: 0;
  border: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-top: 2px solid #034E46;
  background-color: #EBFFFA;
  color: #034E46;
}

.job-context-employer-name {
  color: #5F5854;
  border-bottom: 2px solid #AAAAAA;
  padding-bottom: 0.5rem;
  font-style: normal;
  font-weight: bold;
}

#upload-doc-text {
  color: #5F5854;
  border-bottom: 2px solid #AAAAAA;
  padding-bottom: 0.5rem;
  font-style: normal;
}



.illustration--mn-logo {
  background-image: url(/images/minnesota-logo.svg);
  margin-left: 0;
  width: 70px;
  height:43px
}
/* when screen width is 600px or less the logo is to the left so we need some space on the top. */
@media screen and (max-width: 600px) {
  .illustration--mn-logo {
  margin-top: 25px;
  }
}

.main-footer__mn-logo {
	margin-top: 0;
}
/* when screen width is 601px or greater we put the logo to the right. */
@media screen and (min-width: 601px) {
	.main-footer__mn-logo {
		margin-top: 0;
		float: right;
	}
}

.mn-logo {
  width: 70%;
}

.capitalized {
  text-transform: capitalize;
}

.footer__privacy-policy-link:hover {
  color: rgb(230, 242, 250);
}

.no-button {
  margin-left: 0;
  margin-right: 0;
}

.feedback-buttons-group {
  display: flex;
  flex-direction: row;
}

.feedback-buttons {
  cursor: pointer;
  width: 10rem;
  text-align: center;
  border: 1px solid #5F5854;
  border-radius: 4px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #FFF;
}

.feedback-buttons i {
  font-size: 5rem;
}

.textarea {
  resize: none;
}

input:checked + .feedback-buttons {
  border: 2px solid #000000;
}

input[id='happy']:checked + .feedback-buttons {
  background-color: rgba(143, 228, 37, 0.5);
}

input[id='meh']:checked + .feedback-buttons {
  background-color: rgba(255, 200, 69, 0.5);
}

input[id='sad']:checked + .feedback-buttons {
  background-color: #F8C7B5;
}

.text--green {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.address-validation .radio-button.is-selected {
  border: 2px #008060 solid;
  border-radius: 5px;
  background-color: unset;
}

.address-validation .radio-button.left-aligned {
  padding-left: 2.5rem;
}

.address-validation .radio-button {
  border: 2px transparent solid;
  border-radius: 5px;
}

.address-validation .radio-button div {
  font-weight: normal;
}

.display-flex {
  display: flex;
}

.align-self-end {
  align-self: flex-end;
}

.word-wrap-break-word {
  word-break: break-word;
}

.spacing-above-45 {
  margin-top: 45px;
}

.spacing-below-0 {
  margin-bottom: 0px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-top-1rem {
  padding-top: 1rem;
}

.padding-bottom-3rem {
  padding-bottom: 3rem;
}

/* MaterialIcons that haven't been added to honeycrisp variables.scss */
.checkbox-icons {
  font-weight: bold;
  max-width: 2rem;
  min-width: 2rem;
  padding-top: .25rem;
  margin-right: 1rem;
}

.checkbox-icons svg {
  width: 100%;
  height: auto;
}

label.checkbox p.text--help {
  font-weight: 400;
  padding-top: 1rem;
}

/* CSS styling to remove scroll from number input types */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Branding Phase 2 Link styles */
.slab a:not(.button):not(.reveal__link):not(.text--red),
.slab a:not(.button):not(.reveal__link):not(.text--red):focus,
.button--link,
.button--link:focus {
  color: #003865;
}

.slab a:not(.button):not(.reveal__link):hover,
.slab a:not(.button):not(.reveal__link):active,
.button--link:hover,
.button--link:active {
  color: #741078;
}

.language-select {
  background: transparent;
  margin-left: auto;
}

@media screen and (min-width: 601px) {
  .language-select {
    margin-left: initial;
  }
}

.language-selector {
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.language-selector, .language-select:after {
  color: #E9F6FF;
}

.language-selector-option {
  color: #003865;
}

.toolbar__wrapper {
  background: #003865;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 100vw;
  height: 6rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 601px) {
  .toolbar__wrapper {
    margin-left: -3.5rem;
    margin-right: -3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .sample-case-number-images {
    display: flex;
  }
}

.sample-case-number-images img {
  max-height: 30vh;
}

.toolbar {
  margin-top: 0;
  justify-content: flex-start;
}

@media screen and (min-width: 601px) {
  .toolbar {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .sr-only-on-mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}


.toolbar__wrapper .toolbar__left, .toolbar__wrapper .toolbar__right {
  margin-top: 0.1rem;
}

.logo, .logo:hover, .logo:visited, .logo:active {
  color: #E9F6FF;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0.5rem;
}

.logo:focus {
  box-shadow: inset 0 0 0 5px #ffae00;
}

@media screen and (min-width: 601px) {
  .logo {
    margin-right: auto;
  }
}

.mn-state-icon {
  width: 38px;
  vertical-align: -15px;
}

.mn-healthcare-renewal-icon {
  width: 54.69px;
  vertical-align: middle;
}

.healthcare-renewal-toolbar-text {
  padding-left: 8px;
}

.svg-button-icon__left {
  position: relative;
  top: 0.15em;
  right: 0.25em;
}

.svg-button-icon__right {
  position: relative;
  top: 0.15em;
  left: 0.15em;
}

.success-icons svg {
  max-width: 36px;
}

.select__element:focus {
  box-shadow: inset 0 0 0 5px #FFAE00;
}

/* Changes from Honeycrisp.css that were migrated here */

@font-face {
  font-family: 'MaterialIcons-Regular';
  src: url(/fonts/MaterialIcons-Regular.ttf?ia7soh) format("truetype"),
  url(/fonts/MaterialIcons-Regular.woff?ia7soh) format("woff"),
  url(/fonts/MaterialIcons-Regular.svg?ia7soh#MaterialIcons-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
}

.select:after,
.scroller:before,
.reveal__link:after,
.flash__message:before,
.checkbox input[type='checkbox']:checked:before,
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'MaterialIcons-Regular' !important;
}

.emoji--checkmark {
  background-image: url(images/checkmark.png);
}

.emoji--crossmark {
  background-image: url(images/crossmark.png);
}

.radio-button.is-selected, .checkbox.is-selected {
  background-color: #EEFFE6;
}

.button--primary {
  color: #FFFFFF;
  background-color: #003865;
  border-color: #003865;
  box-shadow: 0 2px 0 #00088E;
}

.button--primary:hover {
  border-color: #00223D;
  background-color: #00223D;
  color: #FFFFFF;
}

.button--tertiary {
  color:#FFFFFF!important;
  background-color: #008EAA;
  border-color: #008EAA;
  box-shadow: 0 2px 0 #005567;
}

.button--tertiary:hover {
  border-color: #005567;
  background-color: #005567;
  color: #FFFFFF;
}

.yes-no-button {
  min-width: 128px;
  margin-right: 2.5rem;
  margin-left: 0;
}

.out-of-state-address {
  border: 2px #008060 solid;
  border-radius: 10px;
  background-color: unset;
  padding: 15px;
}

.width-auto-left {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: auto;
}
.width-auto-left:last-child {
    margin-right: 0;
}

.out-of-state-address-notice-button {
  margin-right: 1.25rem;
}
.out-of-state-address-notice-button-0 {
  margin-right: 0;
}

.reveal {
  border: 2px solid #741078;
}

.reveal h3 {
  color: #000;
  margin-bottom: 0;
}

.reveal .reveal__link {
  color: #741078;
  background-color: #FFF5FF;
}

.reveal .reveal__content-adjacent {
  background-color: #FFF5FF;
  color: #000;
  border-top: solid 2px #741078;
}

.reveal .reveal-icon svg {
  fill: #741078;
}

.doc-rec:last-of-type {
  margin-bottom: 2.5rem !important;
}

.doc-rectangle {
  height: 60px;
  background: #F7F5F4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex !important;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .preview-container .doc-rectangle {
    max-width: 60px;
  }

  .preview-container .mobile-width-one-fourth {
    width: 25%;
  }

  .preview-container .mobile-width-three-fourths {
    width: 75%;
  }

  .mn-state-icon {
    margin-right: 5px;
  }
}

.margin-auto {
  margin: auto;
}

.margin-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.filename-text {
  margin-left: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.filename-text-name {
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.filename-text-ext {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
}

.dz-remove {
  margin-left: 8px;
  text-decoration: underline;
}

.file-details-delimiter, .file-count-delimiter {
  margin-left: 8px;
  font-size: small;
}

.file-count-delimiter {
  margin-right: 8px;
}

.file-details {
  margin-left: 16px;
}

.notice--success {
  background-color: #EEFFE6;
  border: 2px solid #008060;
}

.next-steps {
  position: relative;
}

.next-steps::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  left: 50%;
  background-color: #003865;
}

.notice--shiba {
  position: relative;
  background-color: #E9F6FF;
  border: 2px solid #003865;
  border-radius: 3px;
  padding: 15px 15px;
}

.notice--shiba p {
  margin-bottom: 0;
}

/*
 * CSS from dropzone below this comment
 *
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.dropzone .dz-preview {
  position: relative;
  vertical-align: top;
}

.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.dropzone .dz-preview .dz-remove {
  font-size: 16px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.dropzone .dz-preview .dz-details .dz-size, .file-count {
  margin-bottom: 1em;
  font-size: 16px;
  display: inline;
}

.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}

.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  height: 8px;
  left: 50%;
  top: 50%;
  margin-top: 25px;
  width: 80%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

.dropzone .dz-thumb {
  border-radius: 8px;
}

.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #003865);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.long-file-name {
  overflow-wrap: break-word;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 60%;
}

.underline {
  text-decoration: underline;
}

legend.form-question {
  float: none;
}

.date-input input {
  margin-bottom: 0;
}

.grid-ignore-mobile {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.grid-ignore-mobile::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 0) {
  .grid-ignore-mobile .width-one-whole {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%;
  }

  .grid-ignore-mobile .width-one-whole:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-one-half {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 48.8211739883%;
  }

  .grid-ignore-mobile .width-one-half:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-one-third {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%;
  }

  .grid-ignore-mobile .width-one-third:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-two-thirds {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 65.8807826589%;
  }

  .grid-ignore-mobile .width-two-thirds:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-one-fourth {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 23.2317609825%;
  }

  .grid-ignore-mobile .width-one-fourth:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-three-fourths {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 74.4105869942%;
  }

  .grid-ignore-mobile .width-three-fourths:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-one-sixth {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 14.7019566472%;
  }
    .grid-ignore-mobile .width-one-fifth {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 10.7019566472%;
  }

  .grid-ignore-mobile .width-one-sixth:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-five-sixths {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 82.9403913294%;
  }

  .grid-ignore-mobile .width-five-sixths:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-one-twelfth {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 6.1721523119%;
  }

  .grid-ignore-mobile .width-one-twelfth:last-child {
    margin-right: 0;
  }

  .width-three-twelfths {
    float: left;
    display: block;
	margin-right: 2%;
	width: 25%;
	min-width: 65px;
  }
   .width-one-twelfths {
    float: left;
    display: block;
    margin-right: 2%;
    width: 10%;
    min-width: 10px;
  }
  
  .shift-content-right {
	margin-left: auto;
	margin-right: 0;
	width: fit-content;
  }

  .grid-ignore-mobile .width-five-twelfths {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 40.291369653%;
  }

  .grid-ignore-mobile .width-five-twelfths:last-child {
    margin-right: 0;
  }

  .grid-ignore-mobile .width-seven-twelfths {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 57.3509783236%;
  }

  .grid-ignore-mobile .width-seven-twelfths:last-child {
    margin-right: 0;
  }

  .width-eight-twelfths {
    float: left;
    display: block;
    margin-right: 0;
    width: 66.7%;
  }

  .grid-ignore-mobile .width-eleven-twelfths {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 91.4701956647%;
  }

  .grid-ignore-mobile .width-eleven-twelfths:last-child {
    margin-right: 0;
  }

  .width-twelve-twelfths {
    float: left;
    display: block;
    width: 100%;
  }

  .grid-ignore-mobile .shift-one-half {
    margin-left: 51.1788260117%;
  }

  .grid-ignore-mobile .shift-one-third {
    margin-left: 34.1192173411%;
  }

  .grid-ignore-mobile .shift-two-thirds {
    margin-left: 68.2384346823%;
  }

  .grid-ignore-mobile .shift-one-fourth {
    margin-left: 25.5894130058%;
  }

  .grid-ignore-mobile .shift-three-fourths {
    margin-left: 76.7682390175%;
  }

  .grid-ignore-mobile .shift-one-sixth {
    margin-left: 17.0596086706%;
  }

  .grid-ignore-mobile .shift-five-sixths {
    margin-left: 85.2980433528%;
  }

  .grid-ignore-mobile .shift-one-twelfth {
    margin-left: 8.5298043353%;
  }

  .grid-ignore-mobile .shift-five-twelfths {
    margin-left: 42.6490216764%;
  }

  .grid-ignore-mobile .shift-seven-twelfths {
    margin-left: 59.708630347%;
  }

  .grid-ignore-mobile .shift-eleven-twelfths {
    margin-left: 93.8278476881%;
  }

  .grid-ignore-mobile .end-row {
    margin-right: 0;
  }

  .grid-ignore-mobile .end-row + .grid__item {
    clear: left;
  }
}

@media screen and (-ms-high-contrast: white-on-black) {
  .radio-button input[type='radio']:checked:before {
    background-color: white;
    -ms-high-contrast-adjust: none;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .radio-button input[type='radio']:checked:before {
    background-color: black;
    -ms-high-contrast-adjust: none;
  }
}

.doc-rec-reveal-header {
  display: inline;
  margin-left: 10px;
}

.doc-rec-icon svg {
  position: relative;
  top: 10px;
}

#card-footer {
  color: #5F5854;
  font-size: 1.6rem;
}

.spacing-above-minus-25 {
  margin-top: -25px;

}

#skip-to-content {
  background-color: #FFF;
  margin: 0.2em 0.5em;
  color: #003865;
  position: absolute;
  left: -999px;
  top: 0.7rem;
  z-index: 99;
}

#skip-to-content:focus {
  left: 8px;
}

.accordion__button:after{
    background-image: url(/images/icon_accordion_close.svg);
}
.accordion--is-closed .accordion__button:after{
    background-image: url(/images/icon_accordion_open.svg);
}
.hidden-accordion .hidden-accordion__button:after{
    background-image: url(/images/icon_accordion_hidden.svg);
}

.feedback-sentiment-group {
  position: relative;
  margin-right: 20px;
  box-sizing: content-box;
}

.feedback-sentiment-group:focus-within {
  outline: none;
  box-shadow: 0 0 0 5px #ffae00;
}

.radio-as-feedback-button {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.text-normal {
	font-weight: normal;
}

.text-bold {
	font-weight: bold;
}

.width-nine-twelfths{
	float:left;
	display:block;
	/*margin-right:2.3576520234%;*/
	width:75%
} 

.delayed-processing-time-notice-box {
  width: 100%;
  padding: 17px;
  border: 2px solid #ffae00;
  background-color: #FFF2D1;
}

.stack-vertical {
    flex-direction: column;
    width: 100%;
}

.reduce-spacing-above-35 {
  margin-top: -35px;
}

#content .reveal.is-hiding-content .reveal__link::after {
  content: "\e315" / "";
}

#content .reveal .reveal__link::after {
  content: "\e313" / "";
}

.alert-banner{
	position:relative;
	margin-left:-1.5rem;
	margin-right:-1.5rem;
	padding:1.5rem;
	background-color:#FFBA26;
	text-align:center;
	font-size:1.6rem;
	color:#121111;
	}
@media screen and (min-width: 601px){
	.alert-banner{
		margin-left:-3.5rem;
		margin-right:-3.5rem;
		padding-left:3.5rem;
		padding-right:3.5rem}
	}
	
.link--alert-banner {
	color:#003865;
	}
.link--alert-banner:visited {
	color:#5B0E5D;
	}	
.text--small--footer{
	font-size: 1.5rem;
}
.vertical-line{
	border-left: 3px solid #9BCBEB;
	height: 150px;
    position:absolute;
    bottom: 35%;
    left: 50%;
    transform: rotate(90deg);
}
.width-one-twelfths{
	float: centered;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%;
    text-align:center;
}
.width-four-twelfths{
    float: centered;
    display: block;
    margin-right: 2.3576520234%;
    margin-left: 0%;
    width: 100%;
    text-align:center;
    margin-bottom: 3rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
}


.button-width{
	padding-right: 2.5rem;
	padding-left: 2.5rem;
}
@media screen and (min-width: 912px){
    .vertical-line{
	    border-left: 3px solid #9BCBEB;
	    height: 200px;
	    position:absolute;
	    left: 50%;
	    bottom: 20%;
	    transform: rotate(180deg);
        }
        .width-one-twelfths{
		    float: left;
		    display: block;
		    width: 6%;
		    margin-left:5%;
		    margin-right:5%;
        }
        .width-four-twelfths{
		    float: left;
		    display: block;
		    margin-right: 2%;
		    margin-left: 2%;
		    width: 30%;
		    text-align:left;
		    margin-bottom: 0rem;
		    padding-left:0rem;
		    padding-right:0rem;
		    padding-bottom: 0rem;
		    padding-top: 0rem;
        }
       
     }

@media screen and (min-width: 768px){
		.grid .width-desktop-one-fourth {
		    width: 30.2317609825%;
		}
		.grid .width-desktop-one-half{
		    width: 48%;
		}
}
.grid .width-desktop-one-fourth {
	margin-right: 5%;
	width: auto;
	float: left;
	display: block;
}
.grid .width-desktop-one-half {
	margin-right: 2.3576520234%;
    width: auto;
    float: left;
    display: block;
}
.spacing-above-25-45{
    margin-top: 45px;
}
@media screen and (min-width: 503px){
	.spacing-above-25-45{
	    margin-top: 25px;
	}
}