.intro-box {
    max-width: 35rem;
    padding: 2.5rem 1rem 2.5rem 1rem;
    margin: 2.5rem auto;
    border: 2px solid #AAAAAA;
}

.dob-input {
    display: inline-block;
    width: calc(30% - 3rem);
}

.bottom-horizontal-line {
    border-bottom: 1px solid black;
}

.icon-check_circle.large {
    color: #CFC5BF;
    font-size: 100px;
}

.form-width--2-character {
    width: calc(4.4rem + 2ch);
    padding: 0 2rem;
}

.form-width--4-character {
    width: calc(4.4rem + 4ch);
    padding: 0 2rem;
}

.slab--shiba {
    background-color: #E5E5E5;
}

.main-footer {
    background-color: #C4C4C4;
}

@media screen and (min-width: 601px) {
    .main-footer {
        height: 15rem;
    }

    .card {
        margin-bottom: 6rem;
        padding: 6rem 16rem;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding-bottom: 25rem;
    }
}

.textarea {
    overflow-y: scroll;
    font-weight: normal;
    font-size: 14px;
    height: 35rem;
    border: none;
    box-shadow: none;
    overflow-wrap: break-word;
}

.textarea::-webkit-scrollbar {
    -webkit-appearance: none;
}
.textarea::-webkit-scrollbar:vertical {
    width: 12px;
}
.textarea::-webkit-scrollbar:horizontal {
    height: 12px;
}
.textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
.textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}