<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="checkbox-input (input, data)" th:with="inputData=${data.get(input.name)}" class="form-group" >
    <div class="spacing-above-35 form-group" th:classappend="${!inputData.valid()} ? 'form-group--error' : ''">
        <div th:replace="fragments/form-question-prompt :: formQuestionPrompt(${input})"></div>
        <p class="text--help"
           th:if="${input.helpMessageKey != null}"
           th:text="#{${input.helpMessageKey}}"></p>
        <th:block th:each="option: ${input.options.selectableOptions}"
                  th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)}">
            <label th:for="${option.isNone} ? 'none__checkbox' : ${option.value}" class="checkbox">
                <div class="display-flex">
                    <input type="checkbox"
                           th:id="${option.isNone} ? 'none__checkbox' : ${option.value}"
                           th:value="${option.value}"
                           th:name="${formInputName}"
                           th:checked="${inputData.value.contains(option.value)}"
                           th:attrappend="data-follow-up=${input.followUpValues.contains(option.value)} ? |#${input.name}-follow-up| : ''">
                    <div th:if="${option.getHelpIcon() != null}"
                          class="padding-right-10"
                          th:classappend="${option.getHelpIcon()}">
                    </div>
                    <div>
                        <span th:text="#{${option.messageKey}}"></span>
                        <p th:if="${option.helpMessageKey != null}" th:text="#{${option.helpMessageKey}}" class="text--help with-no-padding"></p>
                    </div>
                </div>
            </label>
        </th:block>
        <p class="text--error" th:if="${!inputData.valid()}">
            <i class="icon-warning"></i>
            <span th:text="#{${input.validationErrorMessageKey}}"></span>
        </p>
    </div>
</div>
</html>