<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="docRecommendations" class="reveal reveal-adjacent"
     th:if="${docRecommendations.size() > 0}">
  <a href="#" class="reveal__link reveal__link-adjacent">
    <div class="reveal__link__header-adjacent"
         th:text="#{upload-documents.recommended-documents}"></div>
    <div class="reveal__content reveal__content-adjacent">
      <div class="h4 spacing-above-15"
         th:text="#{upload-documents.based-on-your-answers}"></div>
      <th:block th:each="docRec: ${docRecommendations}">
        <div th:replace="fragments/docRecommendations :: docRecommendationFragment(${docRec.icon},
                                                ${docRec.title},
                                                ${docRec.explanation})"></div>
      </th:block>
    </div>
  </a>
</div>

<!-- Leaving this as a fragment in case we want to use it again somewhere else -->
<div th:fragment="docRecommendationFragment(icon_path, rec_title, rec_explanation)"
     class="doc-rec grid-ignore-mobile spacing-below-60">
  <div class="success-icons grid__item width-one-whole spacing-below-15 doc-rec-icon">
    <div th:replace="__${icon_path}__" class="success-icons width-one-whole"></div>
    <h3 class="h4 spacing-above-15 doc-rec-reveal-header" th:text="${rec_title}"></h3>
  </div>
  <div th:text="${rec_explanation}"></div>
</div>

</html>