<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="docRecommendationLongFragment(icon_path, rec_head, rec_explanation, rec_example)"
     class="grid-ignore-mobile spacing-below-60">
    <div class="success-icons grid__item width-one-sixth spacing-below-15">
        <div th:replace="__${icon_path}__" class="success-icons width-one-sixth"></div>
    </div>
    <div class="grid__item width-five-sixths">
        <h2 class="h3 spacing-below-10" th:text="${rec_head}"></h2>
        <div class=" spacing-below-10" th:text="${rec_explanation}"></div>
        <div class="body-gray" th:text="${rec_example}"></div>
    </div>
</div>

</html>