<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="main-footer footer-minnesota-blue">
    <div class="grid">
        <div class="grid__item">
            <p class="font-white text--small spacing-below-25 grid__item width-one-half"
               th:text="#{generic.footer}"></p>
            <div class="main-footer__cfa-logo grid__item">
                <a href="https://www.codeforamerica.org"
                   class="illustration illustration--cfa-logo spacing-below-0"
                   th:text="#{general.code-for-america}"></a>
            </div>
        </div>
    </div>
</footer>
</html>