<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<footer id="footerMNbenefits" th:fragment="footer" class="main-footer footer-minnesota-blue">
    <div class="grid">
        <div class="grid__item">
            <div class="width-one-half grid__item">
                <p class="font-white text--small--footer spacing-below-25"
                   th:text="#{generic.footer}"></p>
                <a class="capitalized footer__privacy-policy-link font-white text--small" target="_blank" rel="noopener noreferrer" href="/faq" th:text="#{faq.faq}"></a><br/>
                <a id="link-snap-nds" class="footer__privacy-policy-link font-white text--small" target="_blank" rel="noopener noreferrer" href="/snapNDS" th:text="#{snap-nds.header}"></a><br/>
                <a class="capitalized footer__privacy-policy-link font-white text--small" target="_blank" rel="noopener noreferrer" href="/privacy" th:text="#{general.privacy-policy}"></a>
            </div>
            <div class="main-footer__mn-logo grid__item">
                <a th:href="#{general.mn-gov-portal}"
                   class="illustration illustration--mn-logo spacing-below-0"
                   th:text="#{general.mn-gov-portal}"></a>
            </div>
        </div>
    </div>
</footer>
</html>