<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="formQuestionPrompt(input)">
    <label class="form-question"
           th:for="${input.name}"
           th:if="${input.promptMessage != null && input.promptMessage.promptMessageKey != null}"
           th:text="#{${input.promptMessage.promptMessageKey}}">
    </label>
    <label class="sr-only"
            th:unless="${input.promptMessage != null && input.promptMessage.promptMessageKey != null}"
           th:for="${input.name}"
           th:text="${input.name}">
    </label>
    <th:block th:if="${input.promptMessage != null && input.promptMessage.promptMessageFragmentName != null}">
        <div th:replace="|fragments/${input.promptMessage.promptMessageFragmentName}|"></div>
    </th:block>
</th:block>
</body>
</html>