<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="formQuestionPrompt(input)">
  <legend class="form-question"
          th:if="${(input.type.toString().equals('RADIO')
                    || input.type.toString().equals('CHECKBOX')
                    || input.type.toString().equals('PEOPLE_CHECKBOX')
                    || input.type.toString().equals('DATE'))
                    && input.promptMessage != null
                    && input.promptMessage.promptMessageKey != null }"
          th:id="${input.name + '-legend'}"
          th:utext="#{${input.promptMessage.promptMessageKey}}">
  </legend>
  <label class="form-question"
         th:for="${input.name}"
         th:id="${input.name + '-label'}"
         th:if="${input.promptMessage != null
                    && input.promptMessage.promptMessageKey != null
                    && !input.type.toString().equals('RADIO')
                    && !input.type.toString().equals('CHECKBOX')
                    && !input.type.toString().equals('DATE')}"
         th:utext="#{${input.promptMessage.promptMessageKey}}">
  </label>
  <th:block
      th:if="${input.promptMessage != null && input.promptMessage.promptMessageFragmentName != null}">
    <div th:id="${input.promptMessage.promptMessageFragmentName}"
        th:replace="~{|fragments/promptMessageFragments/${input.promptMessage.promptMessageFragmentName}| :: ${input.promptMessage.promptMessageFragmentName}}"></div>
  </th:block>
</th:block>
</body>
</html>