<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(text)">
    <meta charset="UTF-8">
    <meta name="description" th:content="#{landing.page-description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="MNbenefits: Apply for benefits in 20 minutes or less" />
	<meta property="og:description" content="MNbenefits is a new, mobile-friendly benefits application for Minnesotans." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://mnbenefits.mn.gov/" />
	<meta property="og:image" content="/images/social-share-link-image.png" />
    <meta th:if="${@environment.getProperty('demo')}" name="robots" content="noindex, nofollow">
    <title th:text="${text}"></title>
    <link href="/honeycrisp.min.css" rel="preload" as="style" />
    <link href="/honeycrisp.min.css" rel="stylesheet"/>
    <link rel="preload" href="/honeycrisp.min.js" as="script">
    <script src="/honeycrisp.min.js"></script>
    <link rel="preload" href="/fonts/MaterialIcons-Regular.ttf?ia7soh" as="font" crossorigin="anonymous" />
    <link href="/shiba.css" rel="preload" as="style" />
    <link href="/shiba.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/shiba.js" as="script">
    <script src="/shiba.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9G7JQ5MM10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9G7JQ5MM10');
    </script>
    <script type="text/javascript" th:unless="${text == 'Error'}" th:inline="javascript" th:with="sessionId=${sessionExistsModelAttribute ? sessionIDModelAttribute : null}">
        (function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
        0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);

        mixpanel.init([[${@environment.getProperty("MIXPANEL_API-KEY")}]], {batch_requests: true});
        if([[${sessionId}]]){
            mixpanel.identify([[${sessionId}]]);
        }
        mixpanel.track('PAGE_VIEW');
        mixpanel.people.set({
            language: [[${#locale.toString()}]]
        });
    </script>
    <script>
        (function(w, u, d){var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};var l = function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://code.upscope.io/He2nuj2FUK.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(typeof u!=="function"){w.Upscope=i;l();}})(window, window.Upscope, document);
        Upscope('init');
    </script>
    <script type="text/javascript" th:unless="${text == 'Error'}" th:inline="javascript" th:with="sessionId=${sessionExistsModelAttribute ? sessionIDModelAttribute : null}">
        Upscope('updateConnection', {
            uniqueId: [[${sessionId}]],
        });
    </script>
</head>
</html>