<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="input-with-follow-up (input)" class="question-with-follow-up">
    <div class="question-with-follow-up__question">
        <div th:replace="'fragments/'+__${input.inputWithFollowUps.fragment()}__ :: __${input.inputWithFollowUps.fragment()}__(input=${input.inputWithFollowUps}, followUpsValue=${input.inputWithFollowUps.followUpsValue})"></div>
    </div>
    <div class="question-with-follow-up__follow-up" id="follow-up">
        <div th:each="followUp: ${input.inputWithFollowUps.followUps}">
            <div th:replace="'fragments/'+__${followUp.fragment()}__ :: __${followUp.fragment()}__(${followUp})"></div>
        </div>
    </div>
</div>
</html>