<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="localeSelect" class="select toolbar__right language-select" th:with="lang=${#locale.toString()}">
    <label th:text="#{language-preferences.title}" class="sr-only" for="locales"></label>
    <select class="select__element language-selector"  name="locales" id="locales">
        <option value="en" th:selected="${lang.equals('en')}" th:text="#{language-preferences.english}"></option>
        <option value="es" th:selected="${lang.equals('es')}" th:text="#{language-preferences.spanish}"></option>
    </select>
    <script>
        $(document).ready(function() {
            $("#locales").change(function () {
                if ($("#locales").val() !== '') {
                    window.location.replace('?lang=' + $("#locales").val());
                }
            });

            // language preferences
            var writtenLanguage = $("#writtenLanguage");
            if (writtenLanguage) {
                var localeToLanguage = {'es': 'SPANISH', 'en': 'ENGLISH'}
                var languageToLocale = {'SPANISH': 'es', 'ENGLISH': 'en'}
                var localeLang = localeToLanguage[$("#locales").val()]
                if (localeLang) {
                    $('#writtenLanguage option[value="' + localeLang + '"]').prop('selected', true)
                }

                writtenLanguage.change(function () {
                    var writtenLanguageSelected = $("#writtenLanguage option:selected");
                    var languagePreference = languageToLocale[writtenLanguageSelected.val()]
                    if (languagePreference) {
                        window.location.replace('?lang=' + languagePreference + '')
                    } else if ($("#locales").val() !== 'en') {
                        window.location.replace('?lang=en')
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>