<!-- Standard page layout used by pages with "usingPageTemplateFragment=true" -->
<body th:fragment="pageTemplateFragment(page, pageNameContext)">
<div class="page-wrapper">
  <div th:if="${#strings.contains(page.name,'healthcareRenewal')}">
  	<div th:replace="~{fragments/toolbarHealthcareRenewal :: toolbarHealthcareRenewal}"></div>
  </div>
  <div th:unless="${#strings.contains(page.name,'healthcareRenewal')}">
  	<div th:replace="~{fragments/toolbar :: toolbar}"></div>
  </div>
  <div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
  <section class="slab slab--shiba">
    <div class="grid">
      <div th:replace="~{fragments/cardHeader :: cardHeader}"></div>
      <main id="content" role="main" class="card spacing-above-35">
        <th:block th:if="${page.contextFragment != null}">
          <div th:replace="~{'fragments/contextFragments' :: ${page.contextFragment}}"></div>
        </th:block>
        <div th:if="${page.hasHeader()}" class="grid__item spacing-above-35 spacing-below-35">
          <h1 id="page-header" class="h2" th:utext="#{${page.headerKey}}"></h1>
          <p id="page-header-help-message"
             th:if="${page.hasHeaderHelpMessageKey()}"
             th:utext="#{${page.headerHelpMessageKey}}"></p>
        </div>
        <th:block th:if="${pageNameContext != null}">
          <div th:replace="~{${pageNameContext} :: ${pageNameContext}}"></div>
        </th:block>

        <div class="grid__item spacing-below-60">
          <!--Form page-->
          <form id="page-form" th:if="${page.inputs != null && !page.inputs.isEmpty()}"
                autocomplete="off"
                method="post" th:action="@{${postTo}}">
            <div th:each="input: ${page.inputs}">
              <div
                  th:replace="~{'fragments/inputs/input-with-followups' :: input-with-followups(${input}, ${data})}"></div>
            </div>
            <p th:if="${page.hasCardFooterTextKey()}" id="card-footer" class="spacing-below-60 spacing-above-minus-25"
               th:text="#{${page.cardFooterTextKey}}"></p>
            <button id="form-submit-button" th:if="${page.hasPrimaryButton}"
                    class="button button--primary"
                    type="submit"
                    th:text="#{${page.primaryButtonTextKey}}"></button>
            <th:block th:if="${page.hasAlertBox()}">
              <div th:replace="~{fragments/alertBox :: alertBox(${page})}"></div>
            </th:block>
          </form>

          <!--Static page-->
          <div th:if="${page.inputs == null || page.inputs.isEmpty()}">
            <a th:if="${page.hasPrimaryButton}" class="button button--primary"
               th:href="'/pages/'+${pageName}+'/navigation?option=0'"
               th:text="#{${page.primaryButtonTextKey}}"></a>
          </div>
          <a th:if="${page.hasSubtleLinkTextKey()}" class="link--subtle" id="subtle-link"
             th:href="|/pages/${page.subtleLinkTargetPage}|"
             th:text="#{${page.subtleLinkTextKey}}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<div th:if="${#strings.contains(page.name,'healthcareRenewal')}">
  <div th:replace="~{fragments/footerHealthcareRenewal :: footerHealthcareRenewal}"></div>
</div>
<div th:unless="${#strings.contains(page.name,'healthcareRenewal')}">
  <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
