<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="radio-input (input)" th:with="followUpsValue=${followUpsValue} ?: ''" class="form-group">
    <div class="form-question" th:text="#{${input.promptMessageKey}}"></div>
    <p class="text--help"
       th:if="${input.helpMessageKey != null}"
       th:text="#{${input.helpMessageKey}}"></p>
    <div th:each="option: ${input.options}">
        <label th:for="${#ids.next(input.name)}" class="radio-button">
            <input type="radio" th:name="${input.formInputName}" th:id="${#ids.seq(input.name)}"
                   th:value="${option.value}"
                   th:checked="${input.nonNullValue.contains(option.value)}"
                   th:attrappend="data-follow-up=${option.value == followUpsValue ? '#follow-up' : ''}">
            <span th:text="#{${option.messageKey}}"></span>
        </label>
    </div>
</div>
</html>