<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="radio-input (input, data)"
          th:with="inputData=${data.get(input.name)},formInputName=${T(org.codeforamerica.shiba.InputUtils).getFormInputName(input.name)}"
>
    <div class="form-group" th:if="${!input.hasFollowUps()}">
        <div class="form-question" th:if="${input.promptMessageKey != null}" th:text="#{${input.promptMessageKey}}"></div>
        <p class="text--help"
           th:if="${input.helpMessageKey != null}"
           th:text="#{${input.helpMessageKey}}"></p>
        <th:block th:each="option: ${input.options}">
            <label th:for="${#ids.next(input.name)}" class="radio-button">
                <input type="radio" th:name="${formInputName}" th:id="${#ids.seq(input.name)}"
                       th:value="${option.value}"
                       th:checked="${inputData.value.contains(option.value)}">
                <span th:text="#{${option.messageKey}}"></span>
            </label>
        </th:block>
    </div>
    <div class="question-with-follow-up" th:if="${input.hasFollowUps()}">
        <div class="question-with-follow-up__question">
            <div class="form-group">
                <div class="form-question" th:if="${input.promptMessageKey != null}" th:text="#{${input.promptMessageKey}}"></div>
                <p class="text--help"
                   th:if="${input.helpMessageKey != null}"
                   th:text="#{${input.helpMessageKey}}"></p>
                <th:block th:each="option: ${input.options}">
                    <label th:for="${#ids.next(input.name)}" class="radio-button">
                        <input type="radio" th:name="${formInputName}" th:id="${#ids.seq(input.name)}"
                               th:value="${option.value}"
                               th:checked="${inputData.value.contains(option.value)}"
                               th:attrappend="data-follow-up=${option.value == input.followUpsValue ? '#follow-up' : ''}">
                        <span th:text="#{${option.messageKey}}"></span>
                    </label>
                </th:block>
            </div>
        </div>
        <div class="question-with-follow-up__follow-up" id="follow-up">
            <th:block th:each="followUp: ${input.followUps}">
                <div th:replace="'fragments/'+__${followUp.fragment()}__ :: __${followUp.fragment()}__(${followUp}, ${data})"></div>
            </th:block>
        </div>
    </div>
</th:block>

</html>