<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="single-input (input, data)" class="form-group"
     th:classappend="${!inputData.valid()} ? 'form-group--error' : ''" th:with="inputData=${data.get(input.name)}">
    <div th:replace="fragments/form-question-prompt :: formQuestionPrompt(${input})"></div>
    <p class="text--help"
       th:if="${input.helpMessageKey != null}"
       th:text="#{${input.helpMessageKey}}"></p>
    <th:block th:switch="${input.type}"
              th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)}">
        <div class="text-input-group" th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).MONEY}">
            <div class="text-input-group__prefix">$</div>
            <input type="text"
                   class="text-input"
                   th:name="${formInputName}"
                   th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
            >
        </div>
        <div class="text-input-group form-width--phone" th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).HOURLY_WAGE}">
            <div class="text-input-group__prefix">$</div>
            <input type="text"
                   class="text-input form-width--phone"
                   th:name="${formInputName}"
                   th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
            >
            <div class="text-input-group__postfix">/hr</div>
        </div>
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).TEXT}"
               type="text"
               class="text-input form-width--medium"
               th:readonly="${input.readOnly}"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).LONG_TEXT}"
               type="text"
               class="text-input form-width--long"
               th:readonly="${input.readOnly}"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <textarea th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).TEXTAREA}"
                  type="textarea"
                  class="textarea"
                  rows="6"
                  maxlength="500"
                  th:id="${input.name}"
                  th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
                  th:name="${formInputName}"
        ></textarea>
        <input th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).NUMBER}"
               type="number"
               class="text-input form-width--medium"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <div th:case="${T(org.codeforamerica.shiba.pages.config.FormInputType).SELECT}" class="select">
            <select th:id="${input.name}"
                    class="select__element"
                    th:name="${formInputName}"
            >
                <th:block th:each="option: ${input.options.selectableOptions}">
                    <option th:value="${option.value}" th:text="#{${option.messageKey}}"
                            th:selected="${inputData.value.contains(option.value)}"></option>
                </th:block>
            </select>
        </div>

    </th:block>
    <p class="text--error" th:if="${!inputData.valid()}">
        <i class="icon-warning"></i>
        <span th:text="#{${input.validationErrorMessageKey}}"></span>
    </p>
</div>
</html>