<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="single-input (input, data)" class="form-group" th:classappend="${!inputData.valid} ? 'form-group--error' : ''" th:with="inputData=${data.get(input.name)}">
    <label th:for="${input.name}" class="form-question"
           th:if="${input.promptMessageKey != null}"
           th:text="#{${input.promptMessageKey}}"></label>
    <p class="text--help"
       th:if="${input.helpMessageKey != null}"
       th:text="#{${input.helpMessageKey}}"></p>
    <th:block th:switch="${input.type}" th:with="formInputName=${T(org.codeforamerica.shiba.InputUtils).getFormInputName(input.name)}">
        <input th:case="${T(org.codeforamerica.shiba.FormInputType).TEXT}"
               type="text"
               class="text-input form-width--name"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <input th:case="${T(org.codeforamerica.shiba.FormInputType).NUMBER}"
               type="number"
               class="text-input form-width--name"
               th:id="${input.name}"
               th:value="${(!inputData.value.isEmpty()) ? inputData.value[0] : ''}"
               th:name="${formInputName}"
        >
        <div th:case="${T(org.codeforamerica.shiba.FormInputType).SELECT}" class="select">
            <select th:id="${input.name}"
                    class="select__element"
                    th:name="${formInputName}"
            >
                <th:block th:each="option: ${input.options}">
                    <option th:value="${option.value}" th:text="#{${option.messageKey}}" th:selected="${inputData.value.contains(option.value)}"></option>
                </th:block>
            </select>
        </div>

    </th:block>
    <p class="text--error" th:if="${!inputData.valid}">
        <i class="icon-warning"></i>
        <span th:text="#{${input.validationErrorMessageKey}}"></span>
    </p>
</div>
</html>