<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="toolbar">
  <header class="main-header toolbar__wrapper">
    <a href="#content" id="skip-to-content" class="button button--small button--intercom">Skip to
      content</a>
    <div class="toolbar">
      <a class="logo" href="/">
        <img class="mn-state-icon"
             src="/images/minn_filled.svg"
             alt="MN State Icon">
        <span class="sr-only-on-mobile">MNbenefits.mn.gov</span>
      </a>
      <div>
        <a href="#" id="intercom_custom_launcher" class="button button--small button--intercom"
           onClick="(() => alert ('Intercom is disabled for this demo environment. Please visit the live state website at mnbenefits.mn.gov for further assistance.'))()">
        <i class="button__icon--left icon-insert_comment"></i>Chat
        </a>
      </div>
      <select th:replace="fragments/localeSelect :: localeSelect"></select>
    </div>
  </header>
</div>
</body>

</html>