<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(#{${page.pageTitle}})}"></div>
<body>
<div th:replace="~{fragments/cardHeader :: cardHeader}"></div>
<!--    subworkflowIterations: committed sub workflow data-->
<!-- [
        {pageName: pageData},
        {pageName1: pageData1, pageName2: pageData2},
        {pageName: pageData}
     ]
        -->
<th:block th:each="subworkflow: ${subworkflows}">
  <th:block th:each="iteration, iterationStat: ${subworkflow.value}">
    <div th:text="${pageName}"></div>
    <div th:text="${subworkflow.key}"></div>
    <div th:text="${iterationStat.index}"></div>
    <form method="post" th:action="@{|/groups/${subworkflow.key}/${iterationStat.index}/delete|}">
      <div th:id="|iteration${iterationStat.index}|"
           th:text="${iteration.getPagesData().get('soloPage').get('input-solo').value[0]}"></div>
      <button th:id="|iteration${iterationStat.index}-delete|" type="submit">delete</button>
    </form>
  </th:block>
</th:block>
<div th:replace="~{fragments/continue :: continue}"></div>
</body>
</html>
