<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Terminal Page</h3>
<div id="submission-time" th:text="${submissionTime}"></div>
<div id="application-id" th:text="${applicationId}"></div>
<div id="county" th:text="${county}"></div>
<div id="sentiment" th:text="${sentiment.name()}"></div>
<div id="feedback-text" th:text="${feedbackText}"></div>
<div id="documents" th:each="document: ${documents}">
    <div th:id="${document.name()}" th:text="${document.name()}"></div>
</div>
</body>
</html>