<div th:fragment="addingDocuments"
     th:with="
     step=${totalMilestones.equals('7') ? '7' : '6'},
     contentHeaders=${ {'adding-documents.we-will-tell-you'} },
     contentItems=${ {
       'adding-documents.which-docs-you-can-add',
       'adding-documents.how-to-submit-docs-now-or-later',
       'adding-documents.how-to-add-docs'} }">
  <div
      th:replace="~{milestoneTemplate :: milestoneTemplate('milestone-documents', ${step}, 'adding-documents.adding-documents', ${contentHeaders}, ${contentItems})}"></div>
</div>