<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--shiba">
        <div class="grid">
            <a th:replace="fragments/go-back"></a>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35">
                    <h2 class="spacing-below-10"
                        th:text="|#{branch-to-minimal-flow.thanks} ${firstName.value[0]}.|"></h2>
                </div>
                <p th:text="#{branch-to-minimal-flow.now-that-we-have-your-contact-info-we-can-send-you-a}"></p>
                <div class="spacing-below-25">
                    <a class="button button--primary" th:text="#{branch-to-minimal-flow.sounds-good}"></a>
                </div>
                <div class="spacing-above-25">
                    <a class="link--subtle" th:href="'/pages/'+${pageName}+'/navigation'"
                       th:text="#{branch-to-minimal-flow.submit-application-with-just-my-name-and-address}"></a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>