<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a th:replace="fragments/go-back :: goBackLink(${page.previousPage})"></a>
            <div class="grid__item spacing-above-35">
                <h2 class="spacing-below-10" th:text="|#{branch-to-minimal-flow.thanks} ${firstName.value[0]}.|"></h2>
            </div>
            <p th:text="#{branch-to-minimal-flow.now-that-we-have-your-contact-info-we-can-send-you-a}"></p>
            <div class="spacing-below-25">
                <a class="button button--primary" th:text="#{branch-to-minimal-flow.sounds-good}"></a>
            </div>
            <div class="spacing-above-25">
                <a class="link--subtle" th:href="'/pages/'+${page.nextPage}+'/navigation'"
                   th:text="#{branch-to-minimal-flow.submit-application-with-just-my-name-and-address}"></a>
            </div>
        </div>
    </section>
</div>
</body>
</html>