<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="certainPopsOffboarding">
  <div class="grid__item spacing-below-15">
    <div th:replace="~{fragments/contextFragments :: certainPopsOffboardingFragment}"></div>
  </div>
  <div class="grid__item">
    <h1 class="h2 spacing-below-35 spacing-above-0"
        th:text="#{certain-pops-offboarding.sorry}"></h1>
  </div>
  <div class="grid__item spacing-below-35">
    <p th:utext="#{certain-pops-offboarding.since-none-of-the-situations-on-the-previous-page-apply-to-you}"></p>
    <p th:utext="#{certain-pops-offboarding.visit-our-faq}"></p>
  </div>
  <div class="grid__item spacing-below-15">
    <div th:replace="~{fragments/continue :: continue}"></div>
  </div>
</div>
</html>