<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Choose Programs</title>
    <link th:href="@{/honeycrisp.css}" rel="stylesheet"/>
</head>
<body class=" locale-en">
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a href="/language-preference">&lt; Go Back</a>
        </div>
    </section>
</div>
</body>
</html>