<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(#{${page.pageTitle}})}"></div>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}" ></div>
    <div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
    <section class="slab slab--shiba">
        <div class="grid-ignore-mobile">
            <div th:replace="~{fragments/cardHeader :: cardHeader}"></div>
            <main id="content" role="main" class="card spacing-above-35">
                <div th:replace="~{fragments/icons/icon-upload-documents :: icon-upload-documents}"></div>
                <th:block th:if="${docRecommendations.size() == 0}" >
					 <h1 class="h2" th:text="#{document-recommendation.caseworker-may-ask-you}"></h1>
					 <p class="spacing-below-35">
					 	<span th:text="#{document-recommendation.caseworker-give-more-guidance}"></span>
					 </p>
				</th:block >
				<th:block th:if="${docRecommendations.size() > 0}">
					 <h1 class="h2" th:text="#{document-recommendation.submit-any-documents-you-have}"></h1>
					<p class="spacing-below-35">
	                    <span th:text="#{document-recommendation.you-have-30-days}"></span>
                	</p>
				</th:block>
                <div th:replace="~{fragments/docRecommendations :: docRecommendations}"></div>
                <div class="spacing-above-60">
                    <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=0'"
                       th:text="#{document-recommendation.upload-documents-now}"></a>
                </div>
                <div>
                    <a class="button button--secondary" th:href="'/pages/'+${pageName}+'/navigation?option=1'"
                       th:text="#{document-recommendation.skip-this-for-now}"></a>
                </div>
            </main>
        </div>
    </section>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:inline="javascript">
    $(function() {
        $('.reveal').removeClass('is-hiding-content');
    });
</script>
</body>
</html>