<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar :: toolbar" ></div>
    <div th:replace="fragments/demoBanner :: demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid-ignore-mobile">
            <div th:replace="fragments/cardHeader :: cardHeader"></div>
            <div class="card spacing-above-35">
                <div th:replace="fragments/icons/icon-document-recommendations :: icon-document-recommendations"></div>
                <h1 class="h2" th:text="#{document-recommendation.submit-documents-within-30-days}"></h1>
                <p th:text="#{document-recommendation.the-sooner-you-submit}"></p>

                <div class="grid__item spacing-above-35">
                <th:block th:each="docRec: ${docRecommendations}">
                    <div th:replace="fragments/documentRecommendationFragment :: documentRecommendationFragment(${docRec.icon},
                        ${docRec.title},
                        ${docRec.explanation},
                        ${docRec.example})"></div>
                </th:block>
                </div>
                <div>
                    <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=0'"
                       th:text="#{document-recommendation.upload-documents-now}"></a>
                </div>
                <div>
                    <a class="button button--secondary" th:href="'/pages/'+${pageName}+'/navigation?option=1'"
                       th:text="#{document-recommendation.skip-this-for-now}"></a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>