<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar :: toolbar" ></div>
    <div th:replace="fragments/demoBanner :: demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/cardHeader :: cardHeader"></div>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35 spacing-below-10">
                    <h1 class="h2" th:text="#{do-you-need-help-immediately.header}"></h1>
                </div>
                <p class="text--help spacing-below-35"
                   th:text="#{do-you-need-help-immediately.we-encourage-you-to-answer-a-few-more-questions-that-will-help-us-figure-out-if-you-qualify-for-faster-service}"></p>
                <div class="spacing-below-15">
                    <a class="button button--primary"
                       th:href="'/pages/'+${pageName}+'/navigation?option=0'"
                       th:text="#{do-you-need-help-immediately.yes-I-want-to-see-if-I-qualify}"></a>
                </div>
                <div>
                    <a class="button button--secondary"
                       th:href="'/pages/'+${pageName}+'/navigation?option=1'"
                       th:text="#{do-you-need-help-immediately.finish-application-now}"></a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>