<div th:fragment="emailDocsToYourCounty">
    <p class="spacing-below-35"><a href="/documents/send-documents-to-your-county.pdf" target="_blank"
                                   rel="noopener noreferrer"
                                   th:text="#{email-docs-to-your-county.find-your-county}"></a></p>
    <h2 class="h3 spacing-below-10"
        th:text="#{email-docs-to-your-county.include-this-information-with-your-documents}"></h2>
    <ul class="left-justified-list">
        <li th:text="#{email-docs-to-your-county.your-full-name}"></li>
        <li th:text="#{email-docs-to-your-county.your-birthday}"></li>
        <li>
            <span th:text="#{email-docs-to-your-county.last-four-ssn}"></span>
            <i th:text="#{email-docs-to-your-county.if-you-have-it}"></i>
        </li>
        <li>
            <span th:text="#{email-docs-to-your-county.your-case-number}"></span>
            <i th:text="#{email-docs-to-your-county.if-you-have-it}"></i>
        </li>
    </ul>
    <h2 class="h3" th:text="#{email-docs-to-your-county.here-is-an-example}"></h2>
    <div class="grid__item email-box spacing-below-60">
        <p class="bottom-horizontal-line email-box-header">Subject: Verifications for John Doe</p>
        <p>Hi, I've attached my documents.</p>
        <ul class="left-justified-list">
            <li>Name: John Doe</li>
            <li>DOB: 01/20/1980</li>
            <li>Last 4 of my SSN: 1234</li>
        </ul>
        <div class="spacing-below-10">
            <p th:replace="~{fragments/icons/icon-paper-clip :: icon-paper-clip}"/>
            <span><strong>Paystub1.pdf</strong></span>
        </div>
        <div class="spacing-below-10">
            <p th:replace="~{fragments/icons/icon-paper-clip :: icon-paper-clip}"/>
            <span><strong>Rent payment.png</strong></span>
        </div>
    </div>
    <p th:text="#{email-docs-to-your-county.help-county-match-documents}"></p>
</div>