<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar :: toolbar" ></div>
    <div th:replace="fragments/demoBanner :: demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid-ignore-mobile">
            <div th:replace="fragments/cardHeader :: cardHeader"></div>
            <div class="card spacing-above-35">
                <div th:replace="fragments/icons/email-docs-to-your-county-context-fragment :: email-docs-to-your-county-context-fragment"></div>
                <h1 class="h2 spacing-above-15" th:text="#{email-docs-to-your-county.header}"></h1>
                <p class="spacing-below-35"><a href="/documents/send-documents-to-your-county.pdf" target="_blank" th:text="#{email-docs-to-your-county.find-your-county}"></a></p>
                <p th:text="#{documentsSent.it-may-take-up-to}"></p>
                <p th:text="#{documentsSent.call-your-county}"></p>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>