<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block
        th:with="qualified=${@expeditedEligibilityDecider.decide(@data.pagesData).equals(T(org.codeforamerica.shiba.output.caf.ExpeditedEligibility).ELIGIBLE)}">
    <div th:replace="fragments/head :: head(#{${qualified} ? 'expedited-determination.qualified-title' : 'expedited-determination.denied-title'})"></div>
    <body>
    <div class="page-wrapper">
        <section class="slab slab--shiba">
            <div class="grid">
                <a th:replace="fragments/go-back"></a>
                <div class="card spacing-above-35">
                    <h2 th:text="#{${qualified} ? 'expedited-determination.qualified-header':'expedited-determination.denied-header'}"></h2>
                    <p class="spacing-below-60" th:text="#{${qualified} ? 'expedited-determination.qualified-detail':'expedited-determination.denied-detail'}"></p>
                    <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation'" th:text="#{expedited-determination.finish-application}"></a>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="fragments/footer"></div>
    </body>
</th:block>
</html>