<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block
        th:with="income=${expeditedIncome_moneyMadeLast30Days.value[0].isEmpty() ? 0 : T(java.lang.Integer).parseInt(expeditedIncome_moneyMadeLast30Days.value[0])},
                 assets=${liquidAssets_liquidAssets.value[0].isEmpty() ? 0 : T(java.lang.Integer).parseInt(liquidAssets_liquidAssets.value[0])},
                 expenses=${expeditedExpensesAmount_expeditedExpensesAmount.value[0].isEmpty() ? 0 : T(java.lang.Integer).parseInt(expeditedExpensesAmount_expeditedExpensesAmount.value[0])},
                 qualifyOnIncomeAndAssets=${income < 150 && assets <= 100},
                 qualifyOnMigrantWorkerAssets=${expeditedMigrantFarmWorker_migrantOrSeasonalFarmWorker.value[0] == 'true' && assets <= 100},
                 standardDeductionAmountHeatingCooling=${expeditedUtilityPayments_payForUtilities.value.contains('HEATING') || expeditedUtilityPayments_payForUtilities.value.contains('COOLING') ? 490 : 0},
                 standardDeductionAmountElectricity=${expeditedUtilityPayments_payForUtilities.value.contains('HEATING') || expeditedUtilityPayments_payForUtilities.value.contains('COOLING') ? 0 : expeditedUtilityPayments_payForUtilities.value.contains('ELECTRICITY') ? 143 : 0},
                 standardDeductionAmountPhone=${expeditedUtilityPayments_payForUtilities.value.contains('HEATING') || expeditedUtilityPayments_payForUtilities.value.contains('COOLING') ? 0 : expeditedUtilityPayments_payForUtilities.value.contains('PHONE') ? 49 : 0},
                 qualifyOnStandardDeduction=${income + assets < expenses + standardDeductionAmountHeatingCooling+ standardDeductionAmountElectricity+ standardDeductionAmountPhone}">
    <div th:replace="fragments/head :: head(#{${qualifyOnIncomeAndAssets || qualifyOnMigrantWorkerAssets || qualifyOnStandardDeduction} ? 'expedited-determination.qualified-title' : 'expedited-determination.denied-title'})"></div>
    <body>
    <div class="page-wrapper">
        <section class="slab slab--shiba">
            <div class="grid">
                <a th:replace="fragments/go-back"></a>
                <div class="card spacing-above-35">
                    <h2 th:text="#{${qualifyOnIncomeAndAssets || qualifyOnMigrantWorkerAssets || qualifyOnStandardDeduction} ? 'expedited-determination.qualified-header':'expedited-determination.denied-header'}"></h2>
                    <p class="spacing-below-60" th:text="#{${qualifyOnIncomeAndAssets || qualifyOnMigrantWorkerAssets || qualifyOnStandardDeduction} ? 'expedited-determination.qualified-detail':'expedited-determination.denied-detail'}"></p>
                    <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation'" th:text="#{expedited-determination.finish-application}"></a>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="fragments/footer"></div>
    </body>
</th:block>
</html>