<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title th:text="#{faq.frequently-asked-questions}"></title>
    <link href="/honeycrisp.min.css" rel="stylesheet"/>
    <link href="/shiba.css" rel="stylesheet"/>
    <script src="/honeycrisp.min.js"></script>
</head>
<body class="locale-en" id="faq">
<div class="page-wrapper">
    <div th:replace="fragments/toolbar :: toolbar" ></div>
    <div th:replace="fragments/demoBanner :: demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div class="grid__item">
                <h1 class="spacing-below-35" th:text="#{faq.frequently-asked-questions}"></h1>
                <a class="button button--primary spacing-below-0" th:href="'/pages/landing/navigation'" lang="en">
                    <span th:text="#{landing.apply-now}"></span>
                    <div th:replace="fragments/icons/icon-arrow :: icon-arrow"></div>
                </a>
            </div>
        </div>
    </section>
    <main id="content" role="main" class="slab slab--white">
        <div class="grid">
            <nav class="grid__item width-one-third">
                <h2 class="h3">Table of Contents</h2>
                <div class="spacing-below-35"><a href="#what-is-mnbenefits" th:utext="#{faq.what-is-mnbenefits}"></a>
                </div>
                <div class="spacing-below-35"><a href="#can-I-use-mnbenefits-in-my-county" th:utext="#{faq.can-I-use-mnbenefits-in-my-county}"></a>
                </div>
                <div class="spacing-below-35"><a href="#i-need-help-now" th:utext="#{faq.i-need-help-now}"></a></div>
                <div class="spacing-below-35"><a href="#how-do-i-contact-my-county"
                                                 th:utext="#{faq.how-do-i-contact-my-county}"></a></div>
                <div class="spacing-below-35"><a href="#i-submitted-my-application"
                                                 th:utext="#{faq.i-submitted-my-application}"></a></div>
                <div class="spacing-below-35"><a href="#how-quickly-will"
                                                 th:utext="#{faq.how-quickly-will}"></a></div>
                <div class="spacing-below-35"><a href="#what-benefits-programs"
                                                 th:utext="#{faq.what-benefits-programs}"></a></div>
                <div class="spacing-below-35"><a href="#how-to-apply-for-healthcare"
                                                 th:utext="#{faq.how-can-i-apply-for-healthcare}"></a></div>
                <div class="spacing-below-35"><a href="#do-i-qualify-for-food"
                                                 th:utext="#{faq.do-i-qualify-for-food}"></a></div>
                <div class="spacing-below-35"><a href="#i-need-to-submit-a-form"
                                                 th:utext="#{faq.i-need-to-submit-a-form}"></a></div>
                <div class="spacing-below-35 spacing-below-60"><a href="#i-need-to-send-verification-docs"
                                                                  th:utext="#{faq.i-need-to-send-verification-docs}"></a>
                </div>
            </nav>
            <div class="grid__item shift-one-twelfth width-seven-twelfths">
                <div class="grid">
                    <h1 class="h2 spacing-below-35" th:text="#{faq.faq}"></h1>
                    <div class="grid__item">
                        <div class="grid__item spacing-below-35">
                            <h2 class="h3" id="what-is-mnbenefits" th:utext="#{faq.what-is-mnbenefits}"></h2>
                            <p th:utext="#{faq.what-is-mnbenefits-1}"></p>
                            <p th:utext="#{faq.what-is-mnbenefits-2}"></p>
                            <h2 id="can-I-use-mnbenefits-in-my-county" class="h3 spacing-above-60" th:utext="#{faq.can-I-use-mnbenefits-in-my-county}"></h2>
                            <p th:utext="#{faq.the-application-is-available-for-minnesotans}"></p>
                            <h2 id="i-need-help-now" class="h3 spacing-above-60" th:utext="#{faq.i-need-help-now}"></h2>
                            <p th:utext="#{faq.i-need-help-now-1}"></p>
                            <p th:utext="#{faq.i-need-help-now-2}"></p>
                            <h2 id="how-do-i-contact-my-county" class="h3 spacing-above-60" th:utext="#{faq.how-do-i-contact-my-county}"></h2>
                            <p th:utext="#{faq.sometimes-there-can-be-delays}"></p>
                            <p th:utext="#{faq.you-can-find-a-full-list-of-county}"></p>
                            <h2 id="i-submitted-my-application" class="h3 spacing-above-60" th:utext="#{faq.i-submitted-my-application}"></h2>
                            <p th:utext="#{faq.i-submitted-my-application-1}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-2}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-3}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-4}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-5}"></p>
                            <h2 id="how-quickly-will" class="h3 spacing-above-60" th:utext="#{faq.how-quickly-will}"></h2>
                            <p th:utext="#{faq.how-quickly-will-1}"></p>
                            <h2 id="what-benefits-programs" class="h3 spacing-above-60"
                                th:utext="#{faq.what-benefits-programs}"></h2>
                            <p th:utext="#{faq.what-benefits-programs-1}"></p>
                            <p th:utext="#{faq.what-benefits-programs-2}"></p>
                            <p th:utext="#{faq.what-benefits-programs-3}"></p>
                            <h2 id="how-to-apply-for-healthcare" class="h3 spacing-above-60"
                                th:utext="#{faq.how-can-i-apply-for-healthcare}"></h2>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-1}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-2}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-3}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-4}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-5}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-6}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-7}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-8}"></p>
                            <h2 id="do-i-qualify-for-food" class="h3 spacing-above-60"
                                th:utext="#{faq.do-i-qualify-for-food}"></h2>
                            <p th:utext="#{faq.do-i-qualify-for-food-1}"></p>
                            <h2 id="i-need-to-submit-a-form" class="h3 spacing-above-60"
                                th:utext="#{faq.i-need-to-submit-a-form}"></h2>
                            <p th:utext="#{faq.i-need-to-submit-a-form-1}"></p>
                            <p th:utext="#{faq.i-need-to-submit-a-form-2}"></p>
                            <p th:utext="#{faq.i-need-to-submit-a-form-3}"></p>
                            <p th:utext="#{faq.i-need-to-submit-a-form-4}"></p>
                            <h2 id="i-need-to-send-verification-docs" class="h3 spacing-above-60"
                                th:utext="#{faq.i-need-to-send-verification-docs}"></h2>
                            <p th:utext="#{faq.i-need-to-send-verification-docs-1}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" th:inline="javascript">
    (function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
        0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
    /*may not be necessary bc its initialized in head*/
    mixpanel.init([[${@environment.getProperty("MIXPANEL_API-KEY")}]], {batch_requests: true});
    mixpanel.track_links('#assistor-directory','LINK_CLICKED',{link_name: "assistor-directory"});
    mixpanel.track_links('#create-account', 'LINK_CLICKED', {link_name: "create-account"});
    mixpanel.track_links('#existing-account', 'LINK_CLICKED', {link_name: "existing-account"});
    mixpanel.track_links('#paper-application', 'LINK_CLICKED', {link_name: "paper-application"});

    if([[${sessionId}]]){
        mixpanel.identify([[${sessionId}]]);
    }
    mixpanel.track('PAGE_VIEW');

</script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>