<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title th:text="#{faq.frequently-asked-questions}"></title>
    <link href="/honeycrisp.min.css" rel="stylesheet"/>
    <link href="/shiba.css" rel="stylesheet"/>
    <script src="/honeycrisp.min.js"></script>
</head>
<body class="locale-en" id="faq">
<div class="page-wrapper">
    <div th:replace="fragments/toolbar :: toolbar" ></div>
    <div th:replace="fragments/demoBanner :: demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div class="grid__item">
                <h1 class="spacing-below-35" th:text="#{faq.frequently-asked-questions}"></h1>
                <a class="button button--primary spacing-below-0" th:href="'/pages/landing/navigation'">
                    <span th:text="#{landing.apply-now}"></span>
                    <div th:replace="fragments/icons/icon-arrow :: icon-arrow"></div>
                </a>
            </div>
        </div>
    </section>
    <section class="slab slab--white">
        <div class="grid">
            <div class="grid__item width-one-third">
                <h2 class="h3">Table of Contents</h2>
                <div class="spacing-below-35"><a href="#what-is-mnbenefits" th:utext="#{faq.what-is-mnbenefits}"></a>
                </div>
                <div class="spacing-below-35"><a href="#can-I-use-mnbenefits-in-my-county" th:utext="#{faq.can-I-use-mnbenefits-in-my-county}"></a>
                </div>
                <div class="spacing-below-35"><a href="#i-need-help-now" th:utext="#{faq.i-need-help-now}"></a></div>
                <div class="spacing-below-35"><a href="#how-do-i-contact-my-county"
                                                 th:utext="#{faq.how-do-i-contact-my-county}"></a></div>
                <div class="spacing-below-35"><a href="#i-submitted-my-application"
                                                 th:utext="#{faq.i-submitted-my-application}"></a></div>
                <div class="spacing-below-35"><a href="#how-quickly-will"
                                                 th:utext="#{faq.how-quickly-will}"></a></div>
                <div class="spacing-below-35"><a href="#how-to-apply-for-healthcare"
                                                 th:utext="#{faq.how-can-i-apply-for-healthcare}"></a></div>
                <div class="spacing-below-35"><a href="#what-benefits-programs"
                                                 th:utext="#{faq.what-benefits-programs}"></a></div>
                <div class="spacing-below-35"><a href="#do-i-qualify-for-food"
                                                 th:utext="#{faq.do-i-qualify-for-food}"></a></div>
                <div class="spacing-below-35"><a href="#i-need-to-submit-a-form"
                                                 th:utext="#{faq.i-need-to-submit-a-form}"></a></div>
                <div class="spacing-below-35 spacing-below-60"><a href="#i-need-to-send-verification-docs"
                                                                  th:utext="#{faq.i-need-to-send-verification-docs}"></a>
                </div>
            </div>
            <div class="grid__item shift-one-twelfth width-seven-twelfths">
                <div class="grid">
                    <h1 class="h2 spacing-below-35" th:text="#{faq.faq}"></h1>
                    <div class="grid__item">
                        <div class="grid__item spacing-below-35">
                            <h2 class="h3" id="what-is-mnbenefits" th:utext="#{faq.what-is-mnbenefits}"></h2>
                            <p th:utext="#{faq.what-is-mnbenefits-1}"></p>
                            <p th:utext="#{faq.what-is-mnbenefits-2}"></p>
                            <h2 id="can-I-use-mnbenefits-in-my-county" class="h3 spacing-above-60" th:utext="#{faq.can-I-use-mnbenefits-in-my-county}"></h2>
                            <p th:utext="#{faq.right-now-you-can-use-mnbenefits}"></p>
                            <ul class="list--bulleted">
                                <li th:utext="#{identify-county-anoka}"></li>
                                <li th:utext="#{identify-county-carver}"></li>
                                <li th:utext="#{identify-county-clay}"></li>
                                <li th:utext="#{identify-county-cook}"></li>
                                <li th:utext="#{identify-county-dodge}"></li>
                                <li th:utext="#{identify-county-hennepin}"></li>
                                <li th:utext="#{identify-county-morrison}"></li>
                                <li th:utext="#{identify-county-olmsted}"></li>
                                <li th:utext="#{identify-county-otter-tail}"></li>
                                <li th:utext="#{identify-county-saint-louis}"></li>
                                <li th:utext="#{identify-county-sherburne}"></li>
                                <li th:utext="#{identify-county-steele}"></li>
                                <li th:utext="#{identify-county-wabasha}"></li>
                                <li th:utext="#{identify-county-waseca}"></li>
                                <li th:utext="#{identify-county-wadena}"></li>
                                <li th:utext="#{identify-county-wright}"></li>
                            </ul>
                            <h2 id="i-need-help-now" class="h3 spacing-above-60" th:utext="#{faq.i-need-help-now}"></h2>
                            <p th:utext="#{faq.i-need-help-now-1}"></p>
                            <h2 id="how-do-i-contact-my-county" class="h3 spacing-above-60" th:utext="#{faq.how-do-i-contact-my-county}"></h2>
                            <p th:utext="#{faq.you-can-find-a-full-list-of-county}"></p>
                            <h2 id="i-submitted-my-application" class="h3 spacing-above-60" th:utext="#{faq.i-submitted-my-application}"></h2>
                            <p th:utext="#{faq.i-submitted-my-application-1}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-2}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-3}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-4}"></p>
                            <p th:utext="#{faq.i-submitted-my-application-5}"></p>
                            <h2 id="how-quickly-will" class="h3 spacing-above-60" th:utext="#{faq.how-quickly-will}"></h2>
                            <p th:utext="#{faq.how-quickly-will-1}"></p>
                            <h2 id="how-to-apply-for-healthcare" class="h3 spacing-above-60"
                                th:utext="#{faq.how-can-i-apply-for-healthcare}"></h2>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-1}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-2}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-3}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-4}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-5}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-6}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-7}"></p>
                            <p th:utext="#{faq.how-can-i-apply-for-healthcare-8}"></p>
                            <h2 id="what-benefits-programs" class="h3 spacing-above-60"
                                th:utext="#{faq.what-benefits-programs}"></h2>
                            <p th:utext="#{faq.what-benefits-programs-1}"></p>
                            <h2 id="do-i-qualify-for-food" class="h3 spacing-above-60"
                                th:utext="#{faq.do-i-qualify-for-food}"></h2>
                            <p th:utext="#{faq.do-i-qualify-for-food-1}"></p>
                            <h2 id="i-need-to-submit-a-form" class="h3 spacing-above-60"
                                th:utext="#{faq.i-need-to-submit-a-form}"></h2>
                            <p th:utext="#{faq.i-need-to-submit-a-form-1}"></p>
                            <p th:utext="#{faq.i-need-to-submit-a-form-2}"></p>
                            <p th:utext="#{faq.i-need-to-submit-a-form-3}"></p>
                            <p th:utext="#{faq.i-need-to-submit-a-form-4}"></p>
                            <h2 id="i-need-to-send-verification-docs" class="h3 spacing-above-60"
                                th:utext="#{faq.i-need-to-send-verification-docs}"></h2>
                            <p th:utext="#{faq.i-need-to-send-verification-docs-1}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>