<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(#{${page.pageTitle}})}"></div>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
  <section class="slab slab--shiba">
    <div class="grid-ignore-mobile">
      <main class="card spacing-above-0" id="content">
        <div class="form-group " th:if="${sentiment == null || feedbackText == null}">
          <form id="success-feedback-page-form" method="post" th:action="'/submit-feedback'">
            <fieldset  th:if="${sentiment == null}" class="feedback-buttons-group spacing-below-25" aria-labelledby="page-header">
              <legend><h1 class="h2 spacing-below-60 spacing-above-10" id="page-header"
                          th:text="#{feedback.how-was-your-experience}">
              </h1></legend>
              <div class="feedback-sentiment-group">
                <input type="radio" class="radio-as-feedback-button" id="happy" name="sentiment" value="HAPPY">
                <label class="feedback-buttons" for="happy">
                  <i class="icon-sentiment_satisfied"></i>
                  <div th:text="#{success.great}"></div>
                </label>
              </div>
              <div class="feedback-sentiment-group">
                <input type="radio" class="radio-as-feedback-button" id="meh" name="sentiment" value="MEH">
                <label class="feedback-buttons" for="meh">
                  <i class="icon-sentiment_neutral"></i>
                  <div th:text="#{success.ok}"></div>
                </label>
              </div>
              <div class="feedback-sentiment-group">
                <input type="radio" class="radio-as-feedback-button" id="sad" name="sentiment" value="SAD">
                <label class="feedback-buttons" for="sad">
                  <i class="icon-sentiment_dissatisfied"></i>
                  <div th:text="#{success.not-good}"></div>
                </label>
              </div>
            </fieldset>
            <textarea th:if="${feedbackText == null}"
                      aria-labelledby="page-header"
                      autocomplete="off" autocapitalize="off" spellcheck="false"
                      class="textarea" rows="6"
                      name="feedback" id="feedback-textarea"
                      th:placeholder="#{success.do-you-have-any-feedback-for-us}"></textarea>
            <p class="text--error" th:if="${feedbackFailure != null}">
              <i class="icon-warning"></i>
              <span th:text="${feedbackFailure}"></span>
            </p>
            <p class="text--green" th:if="${feedbackSuccess != null}">
              <i class="icon-check_circle"></i>
              <span th:text="${feedbackSuccess}"></span>
            </p>
            <button id="form-submit-button" type="submit" class="button button--primary spacing-above-35"
                    th:text="#{success.submit-feedback}"></button>
          </form>
        </div>
        <p class="text--green" th:if="${sentiment != null && feedbackText != null && feedbackSuccess != null}">
          <i class="icon-check_circle"></i>
          <span th:text="${feedbackSuccess}"></span>
        </p>

      </div>
  </section>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
