<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <div th:replace="fragments/demoBanner :: demoBanner"></div>
  <section class="slab slab--shiba">
    <div class="grid-ignore-mobile">
      <main class="card spacing-above-0" id="content">
        <div class="form-group " th:if="${sentiment == null || feedbackText == null}">
          <h1 class="h2 spacing-below-60 spacing-above-10" id="page-header"
              th:text="#{feedback.how-was-your-experience}">
          </h1>
          <form id="page-form" method="post" th:action="'/submit-feedback'">
            <div th:if="${sentiment == null}" class="feedback-buttons-group spacing-below-25">
              <button type="button" class="feedback-buttons" value="HAPPY" id="happy" name="sentiment" th:inline="text" onclick="handleSuccessFeedbackIcons(event)">
                <span class="icon-sentiment_satisfied"></span>
                <span class="sentiment-text" th:text="#{success.great}"></span>
              </button>
              <button type="button" class="feedback-buttons" value="MEH" id="meh" name="sentiment" th:inline="text" onclick="handleSuccessFeedbackIcons(event)">
                <span class="icon-sentiment_satisfied"></span>
                <span class="sentiment-text" th:text="#{success.ok}"></span>
              </button>
              <button type="button" class="feedback-buttons" value="SAD" id="sad" name="sentiment" th:inline="text" onclick="handleSuccessFeedbackIcons(event)">
                <span class="icon-sentiment_satisfied"></span>
                <span class="sentiment-text" th:text="#{success.not-good}"></span>
              </button>
            </div>
            <textarea th:if="${feedbackText == null}"
                      aria-labelledby="page-header"
                      autocomplete="off" autocapitalize="off" spellcheck="false"
                      class="textarea" rows="6"
                      name="feedback" id="feedback-textarea"
                      th:placeholder="#{success.do-you-have-any-feedback-for-us}"></textarea>
            <p class="text--error" th:if="${feedbackFailure != null}">
              <i class="icon-warning"></i>
              <span th:text="${feedbackFailure}"></span>
            </p>
            <p class="text--green" th:if="${feedbackSuccess != null}">
              <i class="icon-check_circle"></i>
              <span th:text="${feedbackSuccess}"></span>
            </p>
            <button id="form-submit-button" type="submit"
                    class="button button--primary spacing-above-35"
                    th:text="#{success.submit-feedback}"></button>
          </form>
        </div>
        <p class="text--green"
           th:if="${sentiment != null && feedbackText != null && feedbackSuccess != null}">
          <i class="icon-check_circle"></i>
          <span th:text="${feedbackSuccess}"></span>
        </p>

      </main>
    </div>
  </section>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
