<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a th:replace="fragments/go-back :: goBackLink(${page.previousPage})"></a>
            <div th:if="${page.hasHeader()}" class="grid__item spacing-above-35 spacing-below-35">
                <h2 th:text="#{${page.headerKey}}"></h2>
                <p class="text--help"
                   th:if="${page.headerHelpMessageKey != null}"
                   th:text="#{${page.headerHelpMessageKey}}"></p>
            </div>
            <div class="grid__item">
                <form method="post" th:action="@{'/pages/'+${postTo}}">
                    <div th:each="input: ${page.inputs}">
                        <div th:replace="'fragments/'+__${input.fragment()}__ :: __${input.fragment()}__(${input}, ${data})"></div>
                    </div>
                    <button class="button button--primary" type="submit" th:text="#{general.continue}"></button>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>