<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--shiba">
        <div class="grid">
            <a th:replace="fragments/go-back"></a>
            <div class="card spacing-above-35">
                <div th:if="${page.hasHeader()}" class="grid__item spacing-above-35 spacing-below-35">
                    <h2 th:text="#{${page.headerKey}}"></h2>
                    <p class="text--help"
                       th:if="${page.headerHelpMessageKey != null}"
                       th:text="#{${page.headerHelpMessageKey}}"></p>
                </div>
                <div class="grid__item">
                    <form method="post" th:action="@{${postTo}}">
                        <div th:each="input: ${page.inputs}">
                            <div th:replace="'fragments/'+__${input.fragment()}__ :: __${input.fragment()}__(${input}, ${data})"></div>
                        </div>
                        <button th:if="${page.hasPrimaryButton}" class="button button--primary" type="submit" th:text="#{${page.primaryButtonTextKey}}"></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>