<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{form.pageTitle})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a th:replace="fragments/go-back :: goBackLink(${form.backLink})"></a>
            <div class="grid__item spacing-above-35">
                <h2 th:if="${form.hasHeader()}" th:text="#{${form.headerKey}}"></h2>
                <form method="post" th:action="@{${form.postEndpoint}}">
                    <div th:each="input: ${form.inputs}">
                        <div th:replace="'fragments/'+__${input.fragment()}__ :: __${input.fragment()}__(${input}, ${data})"></div>
                    </div>
                    <button class="button button--primary" type="submit" th:text="#{general.continue}"></button>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>