<div th:fragment="generalDeliveryAddress">
  <div class="grid__item address-validation spacing-below-60" id="general-delivery">
    <div class="radio-button is-selected left-aligned">
      <div>General Delivery</div>
      <th:block
          th:each="addressLine: ${data.get('cityForGeneralDelivery').get('enrichedAddressLines').getValue()}">
        <div th:text="${addressLine}"></div>
      </th:block>
    </div>
  </div>

  <div class="grid-ignore-mobile spacing-below-35">
    <div class="success-icons grid__item width-one-sixth spacing-below-15">
      <div th:replace="~{fragments/icons/icon-phone :: icon-phone}"
           class="success-icons width-one-sixth"></div>
    </div>
    <div class="grid__item width-five-sixths">
      <div class="spacing-below-0"
           th:text="#{${data.getPageInputFirstValue('cityForGeneralDelivery','callYourCounty')}}"></div>
    </div>
  </div>

  <div class="grid-ignore-mobile spacing-below-60">
    <div class="success-icons grid__item width-one-sixth spacing-below-15">
    </div>
    <div class="grid__item width-five-sixths">
      <div>
        <strong
            th:text="${data.getPageInputFirstValue('cityForGeneralDelivery','enrichedCounty')}"></strong>
      </div>
      <div>
        <strong class="spacing-below-10"
                th:text="${data.getPageInputFirstValue('cityForGeneralDelivery','enrichedPhoneNumber')}"></strong>
      </div>
    </div>
  </div>

  <div class="grid-ignore-mobile spacing-below-60">
    <div class="success-icons grid__item width-one-sixth spacing-below-15">
      <div th:replace="~{fragments/icons/icon-communicate :: icon-communicate}"
           class="success-icons width-one-sixth"></div>
    </div>
    <div class="grid__item width-five-sixths">
      <div class="spacing-below-10"
           th:utext="#{${data.getPageInputFirstValue('cityForGeneralDelivery','tellCountyWorker')}}"></div>
    </div>
  </div>
</div>