<div th:fragment="goToApplyMn">
    <p class="notice--warning" th:utext="#{go-to-apply-mn.we-are-working-hard}"></p>
    <div class="spacing-above-60">
        <a class="button button--primary" target="_blank" rel="noopener noreferrer" href="https://applymn.dhs.mn.gov/">
            <div th:replace="fragments/icons/icon-new-page :: icon-new-page"></div>
            <span th:text="#{go-to-apply-mn.title}"></span>
        </a>
    </div>
    <a class="link--subtle" href="/faq#can-I-use-mnbenefits-in-my-county" th:utext="#{go-to-apply-mn.read-our-faq}"></a>
</div>
