<div th:fragment="healthcareRenewalDocumentsSent">
    <h2 id="application-id" class="spacing-below-15 h3"
        th:text="|#{success.confirmation-number}: ${applicationId}|"></h2>
    <p th:text="#{documentsSent.it-may-take-up-to}"></p>
    <p th:text="#{hc-documentsSent.call-your-county}"></p>
    <p class="spacing-below-35"><a href="https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5207-ENG" target="_blank"
                                   rel="noopener noreferrer" th:text="#{documentsSent.find-your-countys-phone}"></a></p>
</div>