<div th:fragment="householdList">
    <div class="grid__item spacing-above-35">
        <h1 class="h2 spacing-above-0"
            th:text="#{household-list.is-this-everyone-that-lives-with-you}"></h1>
        <p class="text--help spacing-below-10"
           th:text="#{household-list.include-children-and-everyone-who-lives-with-you}"></p>
    </div>
    <div class="grid__item boxed-content spacing-below-60">
        <h2 class="h3 text--centered intro-box__title" th:text="#{household-list.your-household}"></h2>
        <ul class="list--bulleted spacing-above-10 spacing-below-60 builder-list">
            <li th:text="|${data.get('personalInfo').get('firstName').value[0]}&nbsp;${data.get('personalInfo').get('lastName').value[0]} #{household-list.thats-you}|"></li>
            <th:block th:each="subworkflow: ${subworkflows}">
                <th:block th:each="iteration, iterationStat: ${subworkflow.value}">
                    <li th:id="|iteration${iterationStat.index}|">
                        <form method="post"
                              th:action="@{|/groups/${subworkflow.key}/${iterationStat.index}/deleteWarning|}">
                            <span th:text="|${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0]}&nbsp;${iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]}|"></span>
                            <button class="button--link right"
                                    th:id="|iteration${iterationStat.index}-delete|"
                                    type="submit"
                                    th:text="#{job-builder.delete}"></button>
                        </form>
                    </li>
                </th:block>
            </th:block>
        </ul>
        <div class="text--centered">
            <a class="button button--secondary" th:href="'/pages/'+${pageName}+'/navigation?option=1'">
                <i class="icon-add"></i>
                <span th:text="#{household-list.add-a-person}"></span>
            </a>
        </div>
    </div>
</div>