<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(#{how-it-works.title})">
<body>
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a th:replace="fragments/go-back :: goBackLink('/choose-programs')"></a>
            <div class="grid__item spacing-above-35">
                <h2 th:text="|#{how-it-works.okay-lets-apply-for-help-with} ${programSelection.getTitleString()}.|"></h2>
            </div>
            <p class="text-25" th:text="#{how-it-works.how-it-works}"></p>
            <h3 th:text="#{how-it-works.submit-an-application}"></h3>
            <p th:text="#{how-it-works.this-online-application-will-guide-you-step-by-step}"></p>
            <h3 th:text="#{how-it-works.submit-proof-of-your-situation}"></h3>
            <p th:text="#{how-it-works.you-will-be-asked-to-provide-documents-like-copies}"></p>
            <h3 th:text="#{how-it-works.a-caseworker-will-call-you}"></h3>
            <p th:text="#{how-it-works.they-will-ask-about-the-information-you-put-in-your}"></p>
            <h3 th:text="#{how-it-works.get-money-on-an-ebt-card}"></h3>
            <p th:text="#{how-it-works.once-you-are-approved-youll-get-an-ebt-card-that}"></p>
            <button class="button button--primary" type="submit" th:text="#{general.continue}"></button>
        </div>
    </section>
</div>
</body>
</html>