<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar"></div>
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/card-header"></div>
            <div class="card spacing-above-35">
                <div th:if="${page.hasHeader()}" class="grid__item spacing-above-35 spacing-below-35">
                    <h1 class="h2" th:text="#{${page.headerKey}}"></h1>
                    <p class="text--help"
                       th:if="${page.hasHeaderHelpMessageKey()}"
                       th:text="#{${page.headerHelpMessageKey}}"></p>
                </div>
                <div class="grid__item spacing-below-60">
                    <div class="grid__item spacing-below-35">
                        <h2 class="h3 spacing-below-10"
                            th:text="#{important-to-know.employment-services-registration}"></h2>
                        <p class="textarea-readonly"
                           th:text="#{important-to-know.this-application-registers-you-for-employment-services-you-or-others-in-your}"></p>
                    </div>
                    <div class="grid__item spacing-below-35">
                        <h2 class="h3 spacing-below-10" th:text="#{important-to-know.child-support-payments}"></h2>
                        <p class="textarea-readonly"
                           th:text="#{important-to-know.when-you-get-cash-assistance-mfip-you-must-assign-your-rights-to-child}"></p>
                    </div>
                    <div class="grid__item spacing-below-35">
                        <h2 class="h3 spacing-below-10" th:text="#{important-to-know.audits}"></h2>
                        <p class="textarea-readonly"
                           th:text="#{important-to-know.the-information-you-provided-can-be-shared-with-state-and-federal-auditors-this}"></p>
                    </div>
                    <div class="grid__item spacing-below-35">
                        <h2 class="h3 spacing-below-10"
                            th:text="#{important-to-know.drug-testing-for-people-who-have-committed-drug-related-felonies}"></h2>
                        <p class="textarea-readonly"
                           th:text="#{important-to-know.if-you-mark-that-someone-in-your-household-has-committed-a-drug-felony-in-the}"></p>
                    </div>
                </div>
                <div th:replace="fragments/continue"></div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>