<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar :: toolbar"></div>
    <div th:replace="fragments/demoBanner :: demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/cardHeader :: cardHeader"></div>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35">
                    <h1 class="h2 spacing-below-35 spacing-above-0"
                        th:text="#{income-up-next.got-it-youre-almost-done-with-the-income-section}"></h1>
                </div>
                <div class="grid__item text--centered spacing-below-35">
                    <i class="icon-check_circle large"></i>
                </div>
                <div class="grid__item intro-section boxed-content spacing-below-60 padding-horizontal-30">
                    <strong><span th:text="#{income-up-next.up-next}"></span></strong>
                    <span th:text="#{income-up-next.unearned-income-and-recent-changes}"></span>
                </div>
                <div th:replace="fragments/continue :: continue"></div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>