<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/card-header"></div>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35 spacing-below-35">
                    <h2 th:text="#{${page.headerKey}}"></h2>
                </div>
                <div>
                    <p th:text="#{income-by-job.this-includes-full-time-part-time-contract-self-employment-work}"></p>
                </div>
                <div class="spacing-below-35 spacing-above-35 bottom-horizontal-line-grey">
                    <a class="button button--primary spacing-below-35" th:href="'/pages/'+${pageName}+'/navigation?option=0'"
                       th:text="#{income-by-job.add-a-job}"></a>
                </div>
                <div>
                    <a class="link--subtle" th:href="'/pages/'+${pageName}+'/navigation?option=1'"
                       th:text="#{income-by-job.no-id-rather-give-an-estimate}"></a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>