<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <a th:replace="fragments/go-back"></a>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35">
                    <h2 class="spacing-below-35 spacing-above-0"
                        th:text="#{job-builder.do-you-have-any-other-jobs}"></h2>
                    <p class="text--help spacing-below-10"
                       th:text="#{job-builder.include-full-time-part-time-contract-and-self-employment-work}"></p>
                </div>
                <div class="grid__item intro-box spacing-below-60">
                    <h3 class="text--centered intro-box__title" th:text="#{job-builder.your-jobs}"></h3>
                    <ul class="list--bulleted spacing-above-10 spacing-below-60">
                        <th:block th:each="subworkflow: ${subworkflows}">
                            <th:block th:each="iteration, iterationStat: ${subworkflow.value}">
                                <li th:id="|iteration${iterationStat.index}|">
                                    <form method="post"
                                          th:action="@{|/groups/${subworkflow.key}/${iterationStat.index}/delete|}">
                                        <span th:text="|${iteration.get('employersName').get('employersName').value[0]}|"></span>
                                        <button class="button--link right"
                                                th:id="|iteration${iterationStat.index}-delete|"
                                                type="submit"
                                                th:text="#{job-builder.delete}"></button>
                                    </form>
                                </li>
                            </th:block>
                        </th:block>
                    </ul>
                    <div class="text--centered">
                        <a class="button button--secondary" th:href="'/pages/'+${pageName}+'/navigation?option=0'">
                            <i class="icon-add"></i>
                            <span th:text="#{job-builder.add-a-job}"></span>
                        </a>
                    </div>
                </div>
                <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=1'"
                   th:text="#{job-builder.no-thats-it}"></a>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>