<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(#{${page.pageTitle}})}"></div>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
  <section class="slab slab--shiba">
    <div class="grid">
      <div th:replace="~{fragments/cardHeader :: cardHeader}"></div>
      <main id="content" role="main" class="card spacing-above-35">
        <div class="grid__item spacing-above-35 spacing-below-60">
          <h1 class="h2" th:text="#{${page.headerKey}}"></h1>
          <h2 th:text="#{warning-page.is-that-ok}"></h2>
        </div>
        <div class="spacing-below-15 spacing-above-35">
          <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=0'"
             th:text="#{warning-page.no-keep-id-rather-keep-going}"></a>
        </div>
        <form id="page-form" method="post"
              th:action="'/groups/'+${subworkflowsNext}+'/delete'">
          <button id="form-submit-button" class="button spacing-below-60" type="submit"
                  th:text="#{warning-page.yes-go-back-to-the-start}"></button>
        </form>
      </main>
    </div>
  </section>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>