<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Landing Page</title>
    <link th:href="@{/honeycrisp.css}" rel="stylesheet"/>
</head>
<body class=" locale-en">
<div class="page-wrapper">
    <section class="slab">
        <div class="grid">
            <div class="grid__item">
                <h1 class="header">Minnesota’s combined benefits application</h1>
                <p class="text-25">Apply for benefits in 20 minutes</p>
                <a class="button button--primary" href="/prepare-to-apply">Apply now <i class="button__icon icon-arrow_forward"></i></a>
            </div>
        </div>
    </section>
    <section class="slab slab--white">
        <h2>Apply to these programs</h2>
        <div class="grid">
            <div class="grid__item spacing-below-35">
                <h3 class="spacing-below-10">Food assistance (SNAP)</h3>
                <p class="form-card__body-text">SNAP helps low income Minnesotans get the food they need. You’ll get an
                    EBT card that you can use like a debit card to buy groceries at most stores and farmer’s
                    markets.</p>
            </div>
            <div class="grid__item spacing-below-35">
                <h3 class="spacing-below-10">Cash programs</h3>
                <p class="form-card__body-text">Cash assistance helps people meet their basic needs until they are able
                    to support themselves. You will get an EBT card that you can use like a debit card. Here are the
                    most common cash programs:</p>
                <ul class="list--bulleted text--small">
                    <li>Diversionary Work Program (DWP)</li>
                    <li>General Assistance</li>
                    <li>Group Residential Housing (GRH)</li>
                    <li>Mn Family Investment Program (MFIP)</li>
                    <li>Mn Supplemental Aid (MSA)</li>
                    <li>Refugee Cash Assitance (RCA)</li>
                </ul>
            </div>
            <div class="grid__item spacing-below-35">
                <h3 class="spacing-below-10">Emergency Assistance</h3>
                <p class="form-card__body-text">Emergency Assistance provides something to people. This is a description
                    of what emergency assistance provides.</p>
            </div>
            <div class="grid__item spacing-below-35">
                <h3 class="spacing-below-10">Child Care Assistance</h3>
                <p class="form-card__body-text">Child Care Assistance provides financial assistance to help families pay
                    for child care so that parents can pursue employment or education.Child Care Assistance provides
                    financial assistance to help families pay for child care so that parents can pursue employment or
                    education.</p>
            </div>
        </div>
    </section>

</div>
<footer class="main-footer">
    <div class="grid">
        <div class="grid__item">
            <p class="text--small spacing-below-0">
                The Combined Benefits Application is a service designed by Code for America and administered by state
            counties on behalf of the people of Minnesota.
            </p>
        </div>
    </div>
</footer>
</body>
</html>