<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body class="locale-en" id="landing-page">
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <div th:replace="fragments/demoBanner :: demoBanner"></div>
  <main id="content" role="main">
    <section class="slab slab--white padding-top-1rem padding-bottom-3rem">
      <div class="grid">
        <div class="grid__item width-one-whole spacing-above-15"
            th:if="${@environment.getProperty('feature-flag.show-delayed-processing-time-notice')}">
            <div th:replace="fragments/delayedProcessingTimeNotice :: delayedProcessingTimeNotice"></div>
        </div>
        <div class="grid__item width-one-half">
          <div class="spacing-above-35">
            <img src="/images/mn-logo-horizontal-rgb.png" alt="" class="mn-logo">
          </div>
          <h1 class="spacing-below-35" th:text="#{landing.header}"></h1>
          <p class="text-25 spacing-below-15" th:text="#{landing.subheader}"></p>
          <div class="spacing-above-15 spacing-below-0">
            <a href="#later-docs-upload">
              <span th:utext="#{landing.alread-applied}"></span>
            </a>
          </div>
          <a class="button button--primary spacing-below-0 spacing-above-45"
             th:href="'/pages/'+${pageName}+'/navigation?lang=' + ${#locale.language}" lang="en">
            <span lang="en" th:text="#{landing.apply-now}"></span>
            <div th:replace="fragments/icons/icon-arrow :: icon-arrow"></div>
          </a>
          <!--Add button to apply now in Spanish-->
          <div class="spacing-above-45"
               th:with="otherLocale=${#locale.toString().equals('en') ? 'es' : 'en'}">
            <a class="button button--small"
               th:href="'/pages/'+${pageName}+'/navigation?lang=' + ${otherLocale}" lang="es">
              <span lang="es" th:text="#{landing.apply-now-espanol}"></span>
              <div th:replace="fragments/icons/icon-arrow-black :: icon-arrow-black"></div>
            </a>
          </div>

        </div>
        <div class="grid__item width-one-half">
          <img src="/images/minnesota-splash.png" alt="" class="splash">
        </div>
      </div>
    </section>
    <section class="slab slab--minnesota-sky-blue">
      <div class="grid">
        <h1 class="h2 spacing-below-60 text--centered"
            th:text="#{landing.apply-to-these-programs}"></h1>
        <div class="grid__item width-five-twelfths">
          <div class="grid__item spacing-below-35">
            <h2 class="h3 spacing-below-10" th:text="#{landing.food-assistance-SNAP}"></h2>
            <p class="form-card__body-text"
               th:text="#{landing.SNAP-helps-low-income-Minnesotans-get-the-food-they-need}"></p>
          </div>
          <div class="grid__item spacing-below-35">
            <h2 class="h3 spacing-below-10" th:text="#{landing.cash-programs}"></h2>
            <p class="form-card__body-text"
               th:text="#{landing.cash-assistance-helps-people-meet-their-basic-needs-until-they-are-able}"></p>
            <ul class="text--small list--bulleted padding-left-20">
              <li th:text="#{landing.diversionary-work-program-DWP}"></li>
              <li th:text="#{landing.general-assistance}"></li>
              <li th:text="#{landing.mn-family-investment-program-mfip}"></li>
              <li th:text="#{landing.mn-supplemental-aid-msa}"></li>
              <li th:text="#{landing.refugee-cash-assistance-rca}"></li>
            </ul>
          </div>
        </div>
        <div class="grid__item width-five-twelfths shift-one-twelfth">
          <div class="grid__item spacing-below-35">
            <h2 class="h3 spacing-below-10" th:text="#{landing.emergency-assistance}"></h2>
            <p class="form-card__body-text"
               th:text="#{landing.emergency-assistance-provides-something-to-people-this-is-a-description}"></p>
          </div>
          <div class="grid__item spacing-below-35">
            <h2 class="h3 spacing-below-10" th:text="#{landing.housing-support}"></h2>
            <p class="form-card__body-text"
               th:text="#{landing.the-housing-support-program}"></p>
          </div>
          <div class="grid__item spacing-below-35">
            <h2 class="h3 spacing-below-10" th:text="#{landing.child-care-assistance}"></h2>
            <p class="form-card__body-text"
               th:utext="#{landing.child-care-assistance-provides-financial-assistance-to-help-families}"></p>
          </div>
        </div>
      </div>
    </section>
    <section id="later-docs-upload" class="slab text--centered">
      <div th:replace="fragments/icons/icon-upload-documents :: icon-upload-documents"></div>
      <h1 class="max-width-446 h2 spacing-below-25 margin-left-right-auto spacing-above-10"
          th:utext="#{landing.submit-documents-to-county}"></h1>
      <a class="button spacing-below-0" th:href="'/pages/identifyCounty'">
        <span th:text="#{landing.upload-documents}"></span>
      </a>
    </section>
  </main>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>