<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Language Preferences</title>
    <link th:href="@{/honeycrisp.css}" rel="stylesheet"/>
</head>
<body class=" locale-en">
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a href="/prepare-to-apply">&lt; Go Back</a>
            <div class="grid__item spacing-above-35">
                <h2>Language Preferences</h2>
                <form method="post" th:action="@{/language-preference}" th:object="${languagePreferences}">
                    <div class="form-question spacing-below-15"><label for="spoken-language">What language do you prefer to speak?</label></div>
                    <p class="text--help">The county will do their best to connect you with someone who speaks your
                        language.</p>
                    <div class="select spacing-below-35">
                        <select th:field="*{spokenLanguage}" id="spoken-language" class="select__element">
                            <option th:value="ENGLISH">English</option>
                            <option th:value="SPANISH">Español</option>
                            <option th:value="SOOMAALI">Soomaali</option>
                            <option th:value="VIETNAMESE">Tiếng Việt</option>
                            <option th:value="RUSSIAN">Pусский</option>
                            <option th:value="HMOOB">Hmoob</option>
                        </select>
                    </div>
                    <div class="form-question spacing-below-15"><label for="written-language">What language do you prefer to read or
                        write?</label></div>
                    <p class="text--help">The county will do their best to provide documents in your preferred
                        language.</p>
                    <div class="select spacing-below-35">
                        <select th:field="*{writtenLanguage}" id="written-language" class="select__element">
                            <option th:value="ENGLISH">English</option>
                            <option th:value="SPANISH">Español</option>
                            <option th:value="SOOMAALI">Soomaali</option>
                            <option th:value="VIETNAMESE">Tiếng Việt</option>
                            <option th:value="RUSSIAN">Pусский</option>
                            <option th:value="HMOOB">Hmoob</option>
                        </select>
                    </div>
                    <div class="form-question">Do you need an interpreter?</div>
                    <div class="input-group spacing-below-60">
                        <label for="need-interpreter-yes" class="radio-button">
                            <input type="radio" th:field="*{needInterpreter}" id="need-interpreter-yes" th:value="true">
                            Yes
                        </label>
                        <label for="need-interpreter-no" class="radio-button">
                            <input type="radio" th:field="*{needInterpreter}" id="need-interpreter-no" th:value="false">
                            No
                        </label>
                    </div>
                    <button class="button button--primary" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>