<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Language Preferences</title>
    <link th:href="@{/honeycrisp.css}" rel="stylesheet"/>
</head>
<body class=" locale-en">
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a href="/prepare-to-apply">&lt; Go Back</a>
            <div class="grid__item spacing-above-35">
                <h2>Language Preferences</h2>
                <strong class="text-25">What language do you prefer to speak?</strong>
                <p class="text--small">The county will do their best to connect you with someone who speaks your
                    language.</p>
                <div class="select">
                    <select class="select__element">
                        <option>English</option>
                        <option>Español</option>
                        <option>Soomaali</option>
                        <option>Tiếng Việt</option>
                        <option>Pусский</option>
                        <option>Hmoob</option>
                    </select>
                </div>
                <p><strong class="text-25">What language do you prefer to read or write?</strong></p>
                <p class="text--small">The county will do their best to provide documents in your preferred
                    language.</p>
                <div class="select">
                <select class="select__element">
                    <option>English</option>
                    <option>Español</option>
                    <option>Soomaali</option>
                    <option>Tiếng Việt</option>
                    <option>Pусский</option>
                    <option>Hmoob</option>
                </select>
                </div>
                <label class="form-question" for="example_form_question">Do you need an interpreter?</label>
                <radiogroup class="input-group">
                    <label for="example_radio_inline_2_1" class="radio-button">
                        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_1">
                        Yes
                    </label>
                    <label for="example_radio_inline_2_2" class="radio-button">
                        <input type="radio" name="example_radio_inline_2" id="example_radio_inline_2_2">
                        No
                    </label>
                </radiogroup>
                <a class="button button--primary">Continue</a>
            </div>
        </div>
    </section>
</div>
</body>
</html>