<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title th:text="Metrics"></title>
    <link href="/honeycrisp.css" rel="stylesheet"/>
    <link href="/shiba.css" rel="stylesheet"/>
    <script src="/honeycrisp.js"></script>
</head>
<body class="template--metrics">
<div>
    <div id="totals" class="grid">
        <h1>Totals</h1>
        <div class="grid__item width-one-half">
            <div class="statistic-card">
                <p class="statistic-card__label">Applications Submitted</p>
                <p class="statistic-card__number" th:text="${applicationsSubmitted}"></p>
            </div>
        </div>
    </div>
    <div id="median" class="grid">
        <h1>Time To Complete</h1>
        <div class="grid__item">
            <div class="statistic-card">
                <p class="statistic-card__label">Median All Time</p>
                <p class="statistic-card__number" th:text="${medianTimeToComplete}"></p>
            </div>
        </div>
        <div class="grid__item">
            <div class="statistic-card">
                <p class="statistic-card__label">Median Week to Date</p>
                <p class="statistic-card__number" th:text="${medianTimeToCompleteForWeek}"></p>
            </div>
        </div>
        <div class="grid__item">
            <div class="statistic-card">
                <p class="statistic-card__label">Average Week to Date</p>
                <p class="statistic-card__number" th:text="${averageTimeToCompleteForWeek}"></p>
            </div>
        </div>
        <div class="grid">
            <div class="grid__item width-one-third">
                <div class="statistic-card">
                    <p class="statistic-card__label capitalized">Happy</p>
                    <p class="statistic-card__number"
                       th:text="|${sentimentDistribution.getOrDefault(T(org.codeforamerica.shiba.pages.Sentiment).HAPPY, 0)}% 😄|"></p>
                </div>
            </div>
            <div class="grid__item width-one-third">
                <div class="statistic-card">
                    <p class="statistic-card__label capitalized">Meh</p>
                    <p class="statistic-card__number"
                       th:text="|${sentimentDistribution.getOrDefault(T(org.codeforamerica.shiba.pages.Sentiment).MEH, 0)}% 😐|"></p>
                </div>
            </div>
            <div class="grid__item width-one-third">
                <div class="statistic-card">
                    <p class="statistic-card__label capitalized">Sad</p>
                    <p class="statistic-card__number"
                       th:text="|${sentimentDistribution.getOrDefault(T(org.codeforamerica.shiba.pages.Sentiment).SAD, 0)}% 🙁|"></p>
                </div>
            </div>
        </div>
        <table class="data-table">
            <thead>
            <tr>
                <th>County</th>
                <th>Total submitted</th>
                <th>Submitted week to date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="county: ${counties}">
                <td th:text="${county}"></td>
                <td th:text="${countyTotalSubmission.getOrDefault(county, 0)}"></td>
                <td th:text="${countyTotalSubmissionWeekToDate.getOrDefault(county, 0)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>