<div th:fragment="nextSteps">
    <div class="grid__item spacing-below-15">
        <div th:replace="fragments/icons/icon-next-steps :: icon-next-steps"></div>
    </div>
    <div class="grid__item">
        <h1 class="h2 spacing-below-35 spacing-above-0" th:text="#{next-steps.title}"></h1>
    </div>
    <div class="grid__item width-one-whole spacing-below-25 text--small">
        <div class="next-steps"
             th:if="${nextSteps.size() > 0}">
            <th:block th:each="msg,idx : ${nextSteps}">
                <div class="grid-ignore-mobile notice--shiba spacing-below-35">
                    <div class="success-icons grid__item width-one-sixth">
                        <div class="success-icons text--centered width-one-whole"></div>
                    </div>
                    <p class="grid__item width-five-sixths next-step-section"
                       th:utext="${msg}"></p>
                </div>
            </th:block>
        </div>
    </div>
    <div th:replace="fragments/continue :: continue"></div>
</div>
