<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{personal-info.title})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a th:replace="fragments/go-back :: goBackLink('/intro-basic-info')"></a>
            <div class="grid__item spacing-above-35">
                <h2 class="text--centered spacing-above-0" th:text="#{intro-basic-info.getting-to-know-you}"></h2>
            </div>
            <div class="grid__item">
                <form th:object="${personalInfoForm}" method="post" th:action="@{/personal-info}">
                    <div class="form-group spacing-below-25">
                        <label for="first-name" class="form-question"
                               th:text="#{personal-info.whats-your-first-name}"></label>
                        <p class="text--help spacing-below-15"
                           th:text="#{personal-info.legally-as-it-appears-on-your-id}"></p>
                        <input type="text" class="text-input form-width--name" id="first-name" th:field="*{firstName}">
                        <p class="text--error" th:if="${#fields.hasErrors('firstName')}">
                            <i class="icon-warning"></i>
                            <span th:text="#{general.validation.make-sure-you-answer-this-question}"></span>
                        </p>
                    </div>
                    <div class="form-group spacing-below-25">
                        <label for="last-name" class="form-question"
                               th:text="#{personal-info.whats-your-last-name}"></label>
                        <p class="text--help spacing-below-15"
                           th:text="#{personal-info.legally-as-it-appears-on-your-id}"></p>
                        <input type="text" class="text-input form-width--name" id="last-name" th:field="*{lastName}">
                        <p class="text--error" th:if="${#fields.hasErrors('lastName')}">
                            <i class="icon-warning"></i>
                            <span th:text="#{general.validation.make-sure-you-answer-this-question}"></span>
                        </p>
                    </div>
                    <div class="form-group spacing-below-25">
                        <label for="other-name" class="form-question"
                               th:text="#{personal-info.list-any-names-that-you-have-gone-by-in-the-past}"></label>
                        <p class="text--help spacing-below-15"
                           th:text="#{personal-info.include-maiden-names-or-legal-changes}"></p>
                        <input type="text" class="text-input form-width--name" id="other-name" th:field="*{otherName}">
                    </div>
                    <div class="form-group spacing-below-25">
                        <label class="form-question" th:text="#{personal-info.when-were-you-born}"></label>
                        <p class="text--help spacing-below-15">
                            <label for="date-of-birth-month">mm</label>/<label for="date-of-birth-day">dd</label>/<label for="date-of-birth-year">yyyy</label>
                        </p>
                        <input type="text" maxlength="2" pattern="\d{2}" class="text-input form-width--2-character dob-input" id="date-of-birth-month" th:field="*{birthMonth}">
                        / <input type="text" maxlength="2" pattern="\d{2}" class="text-input form-width--2-character dob-input" id="date-of-birth-day" th:field="*{birthDay}">
                        / <input type="text" maxlength="4" pattern="\d{4}" class="text-input form-width--4-character dob-input" id="date-of-birth-year" th:field="*{birthYear}">
                    </div>
                    <div class="form-group spacing-below-25">
                        <label for="ssn" class="form-question"
                               th:text="#{personal-info.whats-your-social-security-number}"></label>
                        <p class="text--help spacing-below-15"
                           th:text="#{personal-info.if-you-have-one-we-strongly-recommend-including-it-here-your-caseworker-will}"></p>
                        <input type="number" class="text-input form-width--name" id="ssn" th:field="*{ssn}">
                        <p class="text--error" th:if="${#fields.hasErrors('ssn')}">
                            <i class="icon-warning"></i>
                            <span th:text="#{general.validation.make-sure-you-answer-this-question}"></span>
                        </p>
                    </div>
                    <div class="input-group spacing-below-25">
                        <div class="form-question" th:text="#{personal-info.whats-your-marital-status}"></div>
                        <label th:for="${#ids.next('maritalStatus')}" class="radio-button">
                            <input type="radio" th:field="*{maritalStatus}" th:id="${#ids.seq('maritalStatus')}" th:value="NEVER_MARRIED">
                            <span th:text="#{personal-info.never-married}"></span>
                        </label>
                        <label th:for="${#ids.next('maritalStatus')}" class="radio-button">
                            <input type="radio" th:field="*{maritalStatus}" th:id="${#ids.seq('maritalStatus')}" th:value="MARRIED_LIVING_WITH_SPOUSE">
                            <span th:text="#{personal-info.married-living-with-spouse}"></span>
                        </label>
                        <label th:for="${#ids.next('maritalStatus')}" class="radio-button">
                            <input type="radio" th:field="*{maritalStatus}" th:id="${#ids.seq('maritalStatus')}" th:value="MARRIED_NOT_LIVING_WITH_SPOUSE">
                            <span th:text="#{personal-info.married-not-living-with-spouse}"></span>
                        </label>
                        <label th:for="${#ids.next('maritalStatus')}" class="radio-button">
                            <input type="radio" th:field="*{maritalStatus}" th:id="${#ids.seq('maritalStatus')}" th:value="LEGALLY_SEPARATED">
                            <span th:text="#{personal-info.legally-separated}"></span>
                        </label>
                        <label th:for="${#ids.next('maritalStatus')}" class="radio-button">
                            <input type="radio" th:field="*{maritalStatus}" th:id="${#ids.seq('maritalStatus')}" th:value="DIVORCED">
                            <span th:text="#{personal-info.divorced}"></span>
                        </label>
                        <label th:for="${#ids.next('maritalStatus')}" class="radio-button">
                            <input type="radio" th:field="*{maritalStatus}" th:id="${#ids.seq('maritalStatus')}" th:value="WIDOWED">
                            <span th:text="#{personal-info.widowed}"></span>
                        </label>
                    </div>
                    <div class="input-group spacing-below-25">
                        <div class="form-question" th:text="#{personal-info.whats-your-sex}"></div>
                        <p class="text--help spacing-below-15"
                           th:text="#{personal-info.legally-as-it-appears-on-your-id-we-regret-that-this-question-is-limited}"></p>
                        <label th:for="${#ids.next('sex')}" class="radio-button">
                            <input type="radio" th:field="*{sex}" th:id="${#ids.seq('sex')}" th:value="FEMALE">
                            <span th:text="#{personal-info.female}"></span>
                        </label>
                        <label th:for="${#ids.next('sex')}" class="radio-button">
                            <input type="radio" th:field="*{sex}" th:id="${#ids.seq('sex')}" th:value="MALE">
                            <span th:text="#{personal-info.male}"></span>
                        </label>
                    </div>
                    <div class="question-with-follow-up">
                        <div class="question-with-follow-up__question">
                            <div class="input-group spacing-below-25">
                                <div class="form-question" th:text="#{personal-info.have-you-lived-in-minnesota-your-whole-life}"></div>
                                <label th:for="${#ids.next('livedInMNWholeLife')}" class="radio-button">
                                    <input type="radio" th:field="*{livedInMNWholeLife}" th:id="${#ids.seq('livedInMNWholeLife')}" th:value="true">
                                    <span th:text="#{general.inputs.yes}"></span>
                                </label>
                                <label th:for="${#ids.next('livedInMNWholeLife')}" class="radio-button">
                                    <input type="radio" th:field="*{livedInMNWholeLife}" th:id="${#ids.seq('livedInMNWholeLife')}" th:value="false" data-follow-up="#move-to-MN-follow-up">
                                    <span th:text="#{general.inputs.no}"></span>
                                </label>
                            </div>
                        </div>
                        <div class="question-with-follow-up__follow-up" id="move-to-MN-follow-up">
                            <fieldset class="form-group">
                                <label class="form-question" th:text="#{personal-info.when-did-you-move-to-minnesota}"></label>
                                <p class="text--help spacing-below-15">
                                    <label for="move-to-MN-month">mm</label>/<label for="move-to-MN-day">dd</label>/<label for="move-to-MN-year">yyyy</label>
                                </p>
                                <input type="text" maxlength="2" pattern="\d{2}" class="text-input form-width--2-character dob-input" id="move-to-MN-month" th:field="*{moveToMNMonth}">
                                / <input type="text" maxlength="2" pattern="\d{2}" class="text-input form-width--2-character dob-input" id="move-to-MN-day" th:field="*{moveToMNDay}">
                                / <input type="text" maxlength="4" pattern="\d{4}" class="text-input form-width--4-character dob-input" id="move-to-MN-year" th:field="*{moveToMNYear}">
                            </fieldset>
                            <div class="form-group spacing-below-25">
                                <label for="previous-city" class="form-question"
                                       th:text="#{personal-info.what-city-did-you-move-from}"></label>
                                <input type="text" class="text-input form-width--name" id="previous-city"
                                       th:field="*{moveToMNPreviousCity}">
                            </div>
                        </div>
                    </div>
                    <button class="button button--primary" type="submit" th:text="#{general.continue}"></button>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>