<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{personal-info.title})"></div>
<body>
<div class="page-wrapper slab--white">
    <section class="spacing-above-35">
        <div class="grid">
            <a th:replace="fragments/go-back :: goBackLink('/intro-basic-info')"></a>
            <div class="grid__item spacing-above-35 spacing-below-35">
                <h2 th:text="#{intro-basic-info.getting-to-know-you}"></h2>
            </div>
            <div class="grid__item">
                <form method="post" th:action="@{/personal-info}">
                    <div th:each="input: ${form.inputs}">
                        <div th:replace="'fragments/'+__${input.fragment()}__ :: __${input.fragment()}__(${input}, ${data})"></div>
                    </div>
                    <button class="button button--primary spacing-below-95" type="submit" th:text="#{general.continue}"></button>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>