<div th:fragment="prepareToApply">

	<p class="text-25">
		<span th:text="#{prepare-to-apply.this-application-form-should-take-about}"></span>
		<strong>20</strong>
		<strong th:text="#{prepare-to-apply.minutes}"></strong>
		<span th:text="|#{prepare-to-apply.to-complete}.|"></span>
	</p>

	<div class="accordion" id="prepare-to-apply-accordion">
		<button href="#" class="accordion__button" aria-expanded="true" aria-controls="a1">
			<span th:text="#{prepare-to-apply.we-will-ask-you-about}"></span>
		</button>
		<div class="accordion__content" id="a1">
			<ul class="list--bulleted">
				<li th:text="#{prepare-to-apply.personal-information}"></li>
				<li th:text="#{prepare-to-apply.people-who-live-with-you}"></li>
				<li th:text="#{prepare-to-apply.income}"></li>
				<li th:text="#{prepare-to-apply.expenses}"></li>
				<li th:text="#{prepare-to-apply.assets}"></li>
			</ul>
		</div>
	</div>

	<div class="accordion">
		<button href="#" class="accordion__button" aria-expanded="false" aria-controls="a2">
			<span th:text="#{prepare-to-apply.Submitting-an-incomplete-app-SNAP}"></span>
		</button>
		<div class="accordion__content" id="a2">
			<p class="text-25 spacing-below-15">
				<span th:text="#{prepare-to-apply.If-you-are-applying-for-food-assistance}"></span>
			</p>
			<p class="text-25 spacing-below-15">
				<span th:text="#{prepare-to-apply.by-choosing-to-submit-an-incomplete-application}"></span>
			</p>
		</div>
	</div>

	<div class="accordion">
		<button href="#" class="accordion__button" aria-expanded="false" aria-controls="a3">
			<span th:text="#{prepare-to-apply.adding-documents}"></span>
		</button>
		<div class="accordion__content" id="a3">
			<p class="text-25 spacing-below-15">
				<span th:text="#{prepare-to-apply.at-the-end-of-this-application}"></span>
			</p>
			<p class="text-25 spacing-below-15">
				<span th:text="#{prepare-to-apply.you-can-use-your-phone}"></span>
			</p>
			<p class="text-25 spacing-below-15">
				<span th:text="#{prepare-to-apply.you-can-always-return-to-our-homepage}"></span>
			</p>
		</div>
	</div>

	<div class="accordion spacing-below-60">
		<button href="#" class="accordion__button" aria-expanded="false" aria-controls="a4">
			<span th:text="#{prepare-to-apply.after-you-submit}"></span>
		</button>
		<div class="accordion__content" id="a4">
			<p class="text-25 spacing-below-15">
				<span th:text="#{prepare-to-apply.your-application-submission-date}"></span>
			</p>
			<p class="text-25 spacing-below-15">
				<span th:text="#{prepare-to-apply.most-programs-on-this-application}"></span>
			</p>
		</div>
	</div>

	<div th:replace="~{fragments/continue :: continue}"></div>
	<p class="text--small">
		<i class="icon-lock_outline"></i>
		<span
			th:text="#{prepare-to-apply.your-information-is-secure-and-will-be-handled-in-accordance-with-our}"></span>
		<a target="_blank" rel="noopener noreferrer" href="/privacy" th:text="#{general.privacy-policy}"></a>
		<span>.</span>
	</p>

</div>