<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar"></div>
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/card-header"></div>
            <div class="card spacing-above-35">
            <div class="grid__item spacing-above-35">
                <h1 class="h2" th:text="#{prepare-to-apply.how-this-works}"></h1>
                <p class="text-25">
                    <span th:text="#{prepare-to-apply.this-application-form-should-take-about}"></span>
                    <strong>20</strong>
                    <strong th:text="#{prepare-to-apply.minutes}"></strong>
                    <span th:text="|#{prepare-to-apply.to-complete}.|"></span>
                </p>
                <p class="text-25 spacing-below-15"><strong th:text="|#{prepare-to-apply.we-will-ask-you-about}:|"></strong></p>
                <ul class="list--bulleted spacing-below-60">
                    <li th:text="#{prepare-to-apply.personal-information}"></li>
                    <li th:text="#{prepare-to-apply.people-who-live-with-you}"></li>
                    <li th:text="#{prepare-to-apply.income}"></li>
                    <li th:text="#{prepare-to-apply.expenses}"></li>
                    <li th:text="#{prepare-to-apply.assets}"></li>
                </ul>
                <div th:replace="fragments/continue"></div>
                <p class="text--small">
                    <i class="icon-lock_outline"></i>
                    <span th:text="#{prepare-to-apply.your-information-is-secure-and-will-be-handled-in-accordance-with-our}"></span>
                    <a target="_blank" href="/privacy" th:text="#{general.privacy-policy}"></a>
                    <span>.</span>
                </p>
            </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>