<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prepare To Apply</title>
    <link th:href="@{/honeycrisp.css}" rel="stylesheet"/>
</head>
<body class=" locale-en">
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a class="back-button" href="/">&lt; Go Back</a>
            <div class="grid__item spacing-above-35">
                <h2 class="header">How this works</h2>
                <p class="text-25">This application form should take about <strong>20 minutes</strong> to complete.</p>
                <p class="text-25"><strong>We will ask you about:</strong></p>
                <ul class="list--bulleted spacing-below-60">
                    <li>Personal information</li>
                    <li>People who live with you</li>
                    <li>Income</li>
                    <li>Expenses</li>
                    <li>Assets</li>
                </ul>
                <a class="button button--primary">Continue</a>
                <p class="text--small">Your information is secure and will be handled in accordance with our <a
                        href="#">privacy policy</a>.</p>
            </div>
        </div>
    </section>
</div>
</body>
</html>