<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title th:text="#{privacy-policy.privacy-policy}"></title>
  <link href="/honeycrisp.min.css" rel="stylesheet"/>
  <link href="/shiba.css" rel="stylesheet"/>
  <script src="/honeycrisp.min.js"></script>
</head>
<body class="locale-en" id="landing-page">
<div class="page-wrapper slab--shiba">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
  <section class="slab spacing-above-35">
    <div class="grid">
      <div class="grid__item">
        <h1 class="spacing-below-35" th:text="#{privacy-policy.privacy-policy}"></h1>
        <p class="text-25 spacing-below-35" th:text="#{privacy-policy.subheader}"></p>
      </div>
    </div>
  </section>
  <main id="content" role="main" class="slab slab--white">
    <div class="grid">
      <nav class="grid__item width-one-third">
        <h2 class="h3">Table of Contents</h2>
        <div class="spacing-below-35"><a href="#overview" th:utext="#{privacy-policy.overview}"></a>
        </div>
        <div class="spacing-below-35"><a href="#information-we-collect"
                                         th:utext="#{privacy-policy.info-we-collect}"></a></div>
        <div class="spacing-below-35"><a href="#how-we-use-info"
                                         th:utext="#{privacy-policy.how-we-use-info}"></a></div>
        <div class="spacing-below-35"><a href="#how-we-share-info"
                                         th:utext="#{privacy-policy.how-we-share-info}"></a></div>
        <div class="spacing-below-35"><a href="#how-we-protect-info"
                                         th:utext="#{privacy-policy.how-we-protect-information}"></a>
        </div>
        <div class="spacing-below-35"><a href="#changes" th:utext="#{privacy-policy.changes}"></a>
        </div>
        <div class="spacing-below-35"><a href="#effective-date"
                                         th:utext="#{privacy-policy.effective-date}"></a></div>
        <div class="spacing-below-35 spacing-below-60"><a href="#questions"
                                                          th:utext="#{privacy-policy.questions}"></a>
        </div>
      </nav>
      <div class="grid__item shift-one-twelfth width-seven-twelfths">
        <div class="grid">
          <p th:utext="#{privacy-policy.minnesota-privacy-policy}"></p>
          <h1 class="h2 spacing-below-35" th:text="#{privacy-policy.privacy-policy}"></h1>
          <div class="grid__item">
            <div class="grid__item spacing-below-35">
              <h2 class="h3" id="overview" th:utext="#{privacy-policy.overview}"></h2>
              <p th:utext="#{privacy-policy.overviewp2}"></p>
              <p th:utext="#{privacy-policy.overviewp3}"></p>
              <p th:utext="#{privacy-policy.overviewp4}"></p>
              <p th:utext="#{privacy-policy.overviewp5}"></p>
              <p th:utext="#{privacy-policy.overviewp6}"></p>
              <h2 id="information-we-collect" class="h3 spacing-above-60"
                  th:utext="#{privacy-policy.info-we-collect}"></h2>
              <p th:utext="#{privacy-polcy.info-we-collect-0}"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect1}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect2}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect3}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect4}|"></p>
              <p th:utext="#{privacy-policy.info-we-collect5}"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect6}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect7}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect8}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect9}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect10}|"></p>
              <p th:utext="|• #{privacy-policy.info-we-collect11}|"></p>
              <p th:utext="#{privacy-policy.info-we-collect12}"></p>
              <p th:utext="#{privacy-policy.info-we-collect13}"></p>
              <p th:utext="#{privacy-policy.info-we-collect14}"></p>
              <h2 id="how-we-use-info" class="h3 spacing-above-60"
                  th:utext="#{privacy-policy.how-we-use-info}"></h2>
              <p th:utext="#{privacy-policy.how-we-use-info1}"></p>
              <p th:utext="|• #{privacy-policy.how-we-use-info2}|"></p>
              <p th:utext="|• #{privacy-policy.how-we-use-info3}|"></p>
              <p th:utext="|• #{privacy-policy.how-we-use-info4}|"></p>
              <p th:utext="|• #{privacy-policy.how-we-use-info5}|"></p>
              <p th:utext="#{privacy-policy.how-we-use-info6}"></p>
              <p th:utext="|• #{privacy-policy.how-we-use-info7}|"></p>
              <p th:utext="|• #{privacy-policy.how-we-use-info8}|"></p>
              <h2 id="how-we-share-info" class="h3 spacing-above-60"
                  th:utext="#{privacy-policy.how-we-share-info}"></h2>
              <p th:utext="#{privacy-policy.how-we-share-info1}"></p>
              <p th:utext="#{privacy-policy.how-we-share-info2}"></p>
              <p th:utext="#{privacy-policy.how-we-share-info3}"></p>
              <p th:utext="#{privacy-policy.how-we-share-info4}"></p>
              <h2 id="how-we-protect-info" class="h3 spacing-above-60"
                  th:utext="#{privacy-policy.how-we-protect-information}"></h2>
              <p th:utext="#{privacy-policy.how-we-protect-info1}">Protecting your personal
                information is extremely important to us and we take all reasonable measures to do
                so. Here are some specific security practices we use:</p>
              <p th:utext="|• #{privacy-policy.how-we-protect-info2}|">When you enter your
                information on our site, we encrypt the transmission of that information using
                transport layer security (TLS).</p>
              <p th:utext="|• #{privacy-policy.how-we-protect-info3}|">Although we try our best to
                protect the privacy of your personal information, we cannot guarantee complete
                security. The transmission of information via the Internet is not completely secure.
                Unauthorized entry or use, hardware or software failure, and other factors, may
                compromise the security of user information at any time.</p>
              <h2 id="changes" class="h3 spacing-above-60"
                  th:utext="#{privacy-policy.changes}"></h2>
              <p th:utext="#{privacy-policy.changes1}"></p>
              <h2 id="effective-date" class="h3 spacing-above-60"
                  th:utext="#{privacy-policy.effective-date}"></h2>
              <p th:utext="#{privacy-policy.effective-date1}"></p>
              <h2 id="questions" class="h3 spacing-above-60"
                  th:utext="#{privacy-policy.questions}"></h2>
              <p th:utext="#{privacy-policy.questions1}"></p>
              <br>
              <p th:utext="#{privacy-policy.questions6}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>