<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--shiba">
        <div class="grid">
            <a th:replace="fragments/go-back"></a>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35 spacing-below-35">
                    <h2 th:text="#{${page.headerKey}}"></h2>
                </div>
                <div class="bottom-horizontal-line spacing-below-25 review-info-section">
                    <div class="spacing-below-10">
                        <div class="inline">
                            <strong th:text="#{review-info.name}"></strong>
                        </div>
                        <div class="inline right">
                            <a href="#" style="display: none" th:text="#{review-info.edit}"></a>
                        </div>
                    </div>
                    <p class="spacing-below-0" th:text="|${data.personalInfo_firstName.value[0]} ${data.personalInfo_lastName.value[0]}|"></p>
                </div>
                <div class="bottom-horizontal-line spacing-below-25 review-info-section">
                    <div class="spacing-below-10">
                        <div class="inline">
                            <strong th:text="#{review-info.home-address}"></strong>
                        </div>
                        <div class="inline right">
                            <a href="#" style="display: none" th:text="#{review-info.edit}"></a>
                        </div>
                    </div>
                    <p class="spacing-below-0" th:text="${data.homeAddress_streetAddress.value[0]}"></p>
                    <p class="spacing-below-0" th:if="${!data.homeAddress_apartmentNumber.value[0].isEmpty()}"
                            th:text="|# ${data.homeAddress_apartmentNumber.value[0]}|"></p>
                    <p th:if="${!data.homeAddress_city.value[0].isEmpty()}" class="spacing-below-0" th:text="|${data.homeAddress_city.value[0]}, ${data.homeAddress_state.value[0]}|"></p>
                    <p class="spacing-below-0 spacing-above-10 italic" th:if="${!data.homeAddress_isHomeless.value.isEmpty()}" th:text="#{review-info.currently-homeless}"></p>
                </div>
                <div th:if="${data.homeAddress_sameMailingAddress.value[0] == 'false'}" class="bottom-horizontal-line spacing-below-25 review-info-section">
                    <div class="spacing-below-10">
                        <div class="inline">
                            <strong th:text="#{review-info.mailing-address}"></strong>
                        </div>
                        <div class="inline right">
                            <a href="#" style="display: none" th:text="#{review-info.edit}"></a>
                        </div>
                    </div>
                    <p class="spacing-below-0" th:text="${data.mailingAddress_mailingStreetAddress.value[0]}"></p>
                    <p class="spacing-below-0" th:if="${!data.mailingAddress_mailingApartmentNumber.value[0].isEmpty()}"
                       th:text="|# ${data.mailingAddress_mailingApartmentNumber.value[0]}|"></p>
                    <p class="spacing-below-0" th:text="|${data.mailingAddress_mailingCity.value[0]}, ${data.mailingAddress_mailingState.value[0]}|"></p>
                </div>
                <div class="bottom-horizontal-line spacing-below-25 review-info-section">
                    <div class="spacing-below-10">
                        <div class="inline">
                            <strong th:text="#{review-info.contact-info}"></strong>
                        </div>
                        <div class="inline right">
                            <a href="#" style="display: none" th:text="#{review-info.edit}"></a>
                        </div>
                    </div>
                    <p class="spacing-below-0" th:text="${T(org.codeforamerica.shiba.pages.PageUtils).formatPhone(data.contactInfo_phoneNumber.value[0])}"></p>
                    <p class="spacing-below-0" th:if="${!data.contactInfo_email.value[0].isEmpty()}" th:text="${data.contactInfo_email.value[0]}"></p>
                </div>
                <div class="spacing-below-15 spacing-above-60">
                    <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=0'"
                       th:text="#{review-info.this-looks-correct}"></a>
                </div>
                <div>
                    <a class="link--subtle" th:href="'/pages/'+${pageName}+'/navigation?option=1'"
                       th:text="#{review-info.submit-application-now-with-only-the-above-information}"></a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>