<div th:fragment="secondSignatureNotification">
  <div class="grid__item address-validation spacing-below-60">

	<div class="reveal reveal-adjacent spacing-below-60">
	  <button th:text="#{second-signature-notification.who-should-sign}"
	          type="button" class="reveal__link reveal__link-adjacent reveal__link__header-adjacent"
	          aria-expanded="false" aria-controls="reveal-content">
	  </button>
	  <div class="reveal__content reveal__content-adjacent" id="reveal-content">
	    <div class="spacing-above-15"
	         th:utext="#{second-signature-notification.reveal-content}"></div>
	  </div>
	</div>

    <div class="spacing-above-60">
      <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=0'"
         th:text="#{second-signature-notification.yes-add-another-signaure}"></a>
    </div>
    <div>
      <a class="button button--secondary" th:href="'/pages/'+${pageName}+'/navigation?option=1'"
         th:text="#{second-signature-notification.submit-application-now}"></a>
    </div>
</div>