<div th:fragment="startExpenses">
    <div class="grid__item text--centered spacing-above-35">
        <div th:replace="fragments/icons/milestone-money-and-cards :: milestone-money-and-cards"></div>
        <p class="text--help spacing-below-10"
           th:text="#{general.step-four-of-five}"></p>
        <h1 class="h2 spacing-below-35 spacing-above-0"
            th:text="#{start-expenses.expenses-and-deductions}"></h1>
    </div>
    <div class="grid__item intro-section boxed-content spacing-below-60">
        <h2 class="h3 text--centered intro-box__title" th:text="#{general.well-ask-about}"></h2>
        <ol class="list--numbered spacing-above-10">
            <li th:text="#{start-expenses.household-payments}"></li>
            <li th:text="#{start-expenses.savings}"></li>
            <li th:text="#{start-expenses.assets}"></li>
        </ol>
    </div>
    <div class="text--centered">
        <div th:replace="fragments/continue :: continue"></div>
    </div>
</div>