<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar"></div>
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/card-header"></div>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35">
                    <p class="text--help text--centered spacing-below-10"
                       th:text="#{general.step-two-of-five}"></p>
                    <h1 class="h2 text--centered spacing-below-35 spacing-above-0"
                        th:text="#{start-household.your-household}"></h1>
                </div>
                <div class="grid__item intro-section boxed-content spacing-below-60">
                    <h2 class="h3 text--centered intro-box__title" th:text="#{general.well-ask-about}"></h2>
                    <ol class="list--numbered spacing-above-10">
                        <li th:text="#{start-household.everyone-you-live-with}"></li>
                        <li th:text="#{start-household.preparing-meals}"></li>
                        <li th:text="#{start-household.special-situations}"></li>
                        <li th:text="#{start-household.citizenship}"></li>
                        <li th:text="#{start-household.ability-to-work}"></li>
                    </ol>
                </div>
                <div class="text--centered">
                    <div th:replace="fragments/continue"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>