<div th:fragment="startHousehold"
     th:with="
     contentHeaders=${ {'general.well-ask-about'} },
     contentItems=${ {
       'start-household.everyone-you-live-with',
       'start-household.preparing-meals',
       'start-household.special-situations',
       'start-household.citizenship',
       'start-household.ability-to-work'} }">
  <div
      th:replace="~{milestoneTemplate :: milestoneTemplate('milestone-live-with-family', '2', 'start-household.your-household', ${contentHeaders}, ${contentItems})}"></div>
</div>