<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(#{${page.pageTitle}})}"></div>
<div th:fragment="submissionConfirmation" th:with="contentHeaders=${ {'submission-confirmation.header'} }">
    <h1 class="h2 spacing-above-15"
        th:text="${docRecommendations.size() > 0} ? #{submission-confirmation.header} : #{submission-confirmation.header-no-recs}">
    </h1>
    <p class="text-25">
        <span th:text="#{submission-confirmation.you-have-30-days}"></span>
    </p>
</div>
</html>
