<div th:fragment="submittingApplication"
     th:with="
     step=${totalMilestones.equals('7') ? '6' : '5'},
     contentHeaders=${ {'submitting-application.before-you-submit', 'submitting-application.well-ask-about'} },
     contentItems=${ {
       'submitting-application.registering-to-vote',
       'submitting-application.getting-help-with-benefits',
       'submitting-application.agreeing-to-terms'} }">
  <div
      th:replace="~{milestoneTemplate :: milestoneTemplate('milestone-application', ${step}, 'submitting-application.submitting-your-application', ${contentHeaders}, ${contentItems})}"></div>
</div>