<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
    function downloadReceipts(downloadCcap) {
        window.location = "\\download";
        if(downloadCcap) {
            window.open("\\download-ccap");
        }
        return false;
    }
</script>
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar"></div>
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div class="card spacing-above-35">
                <div class="grid__item bottom-horizontal-line">
                    <i class="icon-check_circle large"></i>
                    <h2 class="spacing-below-0" th:text="|#{success.success}!|"></h2>
                    <h3 id="application-id" class="spacing-below-10"
                        th:text="|#{success.confirmation-number}: ${applicationId}|"></h3>
                    <p th:if="${county != T(org.codeforamerica.shiba.County).Other}" class="spacing-below-35"
                       id="submission-date" th:text="#{success.application-submitted(${county.name()}, ${T(java.time.format.DateTimeFormatter).ofPattern('MMMM d, yyyy', #locale).format(submissionTime)})}"></p>
                        <p th:if="${county == T(org.codeforamerica.shiba.County).Other}" class="spacing-below-35"
                       id="submission-date"
                       th:text="#{success.application-submitted-other(${T(java.time.format.DateTimeFormatter).ofPattern('MMMM d, yyyy', #locale).format(submissionTime)})}"></p>
                </div>
                <div class="grid__item spacing-above-35">
                    <h3 th:text="#{success.new-weve-generated-a-receipt-of-your-application-for-your-records}"></h3>
                    <img src="/images/receipt.svg" alt="receipt icon"/>
                    <div class="spacing-above-25 spacing-below-35">
                        <div>
                            <th:block th:with="downloadCcap=${@environment.getProperty('flag.ccap') == '1'}">
                            <a class="button button--primary"
                               th:onclick="|downloadReceipts(${downloadCcap})|"
                               th:text="#{success.download-my-receipt}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="form-group" th:if="${sentiment == null || feedbackText == null}">
                    <h3>
                        <label th:text="#{success.how-was-your-experience-filling-out-the-combined-benefits-application}"
                               for="feedback-textarea"></label>
                    </h3>
                    <form method="post" th:action="'/submit-feedback'">
                        <div th:if="${sentiment == null}" class="feedback-buttons-group spacing-below-25">
                            <input type="radio" class="hide-radio-circle" id="happy" name="sentiment" value="HAPPY">
                            <label class="feedback-buttons" for="happy">
                                <i class="icon-sentiment_satisfied"></i>
                                <div th:text="#{success.great}"></div>
                            </label>
                            <input type="radio" class="hide-radio-circle" id="meh" name="sentiment" value="MEH">
                            <label class="feedback-buttons" for="meh">
                                <i class="icon-sentiment_neutral"></i>
                                <div th:text="#{success.ok}"></div>
                            </label>
                            <input type="radio" class="hide-radio-circle" id="sad" name="sentiment" value="SAD">
                            <label class="feedback-buttons" for="sad">
                                <i class="icon-sentiment_dissatisfied"></i>
                                <div th:text="#{success.not-good}"></div>
                            </label>
                        </div>
                        <textarea th:if="${feedbackText == null}"
                                  autocomplete="off" autocapitalize="off" spellcheck="false"
                                  class="textarea" rows="2"
                                  name="feedback" id="feedback-textarea"
                                  th:placeholder="#{success.do-you-have-any-feedback-for-us}"></textarea>
                        <p class="text--error" th:if="${feedbackFailure != null}">
                            <i class="icon-warning"></i>
                            <span th:text="${feedbackFailure}"></span>
                        </p>
                        <p class="text--green" th:if="${feedbackSuccess != null}">
                            <i class="icon-check_circle"></i>
                            <span th:text="${feedbackSuccess}"></span>
                        </p>
                        <button type="submit" class="button button--primary spacing-above-35"
                                th:text="#{success.submit-feedback}"></button>
                    </form>
                </div>
                <p class="text--green" th:if="${sentiment != null && feedbackText != null && feedbackSuccess != null}">
                    <i class="icon-check_circle"></i>
                    <span th:text="${feedbackSuccess}"></span>
                </p>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>