<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar"></div>
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div class="card spacing-above-35">
                <div class="grid__item bottom-horizontal-line">
                    <div th:replace="fragments/icons/icon-submission-success"></div>
                    <h1 class="h2 spacing-below-0" th:text="|#{success.done-your-application-has-been-submitted}|"></h1>
                    <h2 id="application-id" class="spacing-below-10 h3"
                        th:text="|#{success.confirmation-number}: ${applicationId}|"></h2>
                    <p th:if="${county != T(org.codeforamerica.shiba.County).Other}" class="spacing-below-35 text--help"
                       id="submission-date"
                       th:text="#{success.application-submitted(${county.name()}, ${T(java.time.format.DateTimeFormatter).ofPattern('MMMM d, yyyy', #locale).format(submissionTime)})}"></p>
                    <p th:if="${county == T(org.codeforamerica.shiba.County).Other}" class="spacing-below-35 text--help"
                       id="submission-date"
                       th:text="#{success.application-submitted-other(${T(java.time.format.DateTimeFormatter).ofPattern('MMMM d, yyyy', #locale).format(submissionTime)})}"></p>
                </div>
                <div class="grid__item spacing-above-35 bottom-horizontal-line">
                    <h2 class="h3" th:text="#{success.whats-next}"></h2>
                    <div class="grid spacing-below-35">
                        <div class="grid__item width-one-sixth spacing-below-15">
                            <div th:replace="fragments/icons/icon-download" class="success-icons width-one-sixth"></div>
                        </div>
                        <div class="grid__item width-five-sixths">
                            <div class="spacing-below-15" th:text="#{success.download-my-application}"></div>
                            <h3><a class="button--link" href="/download" th:text="#{success.combined-application}"></a></h3>
                            <th:block th:if="${@environment.getProperty('flag.ccap') == '1' && documents.contains(T(org.codeforamerica.shiba.output.Document).CCAP)}">
                                <h3><a class="button--link" href="/download-ccap" th:text="#{success.child-care-application}"></a></h3>
                            </th:block>
                        </div>
                    </div>

                    <div class="grid spacing-below-60">
                        <div class="grid__item width-one-sixth spacing-below-15">
                            <div th:replace="fragments/icons/icon-communications" class="success-icons width-one-sixth"></div>
                        </div>
                        <div class="grid__item width-five-sixths">
                            <div th:text="#{success.your-county-will-contact-within-one-week}" class="width-five-sixths"></div>
                        </div>
                    </div>

                    <div class="grid spacing-below-60">
                        <div class="grid__item width-one-sixth spacing-below-15">
                            <div th:replace="fragments/icons/icon-documents" class="success-icons width-one-sixth"></div>
                        </div>
                        <div class="grid__item width-five-sixths">
                            <div th:text="#{success.additional-documents}" class="width-five-sixths"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group " th:if="${sentiment == null || feedbackText == null}">
                    <h2 class="h3 spacing-above-35">
                        <label th:text="#{success.how-was-your-experience-filling-out-the-combined-benefits-application}"
                               for="feedback-textarea"></label>
                    </h2>
                    <form method="post" th:action="'/submit-feedback'">
                        <div th:if="${sentiment == null}" class="feedback-buttons-group spacing-below-25">
                            <input type="radio" class="hide-radio-circle" id="happy" name="sentiment" value="HAPPY">
                            <label class="feedback-buttons" for="happy">
                                <i class="icon-sentiment_satisfied"></i>
                                <div th:text="#{success.great}"></div>
                            </label>
                            <input type="radio" class="hide-radio-circle" id="meh" name="sentiment" value="MEH">
                            <label class="feedback-buttons" for="meh">
                                <i class="icon-sentiment_neutral"></i>
                                <div th:text="#{success.ok}"></div>
                            </label>
                            <input type="radio" class="hide-radio-circle" id="sad" name="sentiment" value="SAD">
                            <label class="feedback-buttons" for="sad">
                                <i class="icon-sentiment_dissatisfied"></i>
                                <div th:text="#{success.not-good}"></div>
                            </label>
                        </div>
                        <textarea th:if="${feedbackText == null}"
                                  autocomplete="off" autocapitalize="off" spellcheck="false"
                                  class="textarea" rows="2"
                                  name="feedback" id="feedback-textarea"
                                  th:placeholder="#{success.do-you-have-any-feedback-for-us}"></textarea>
                        <p class="text--error" th:if="${feedbackFailure != null}">
                            <i class="icon-warning"></i>
                            <span th:text="${feedbackFailure}"></span>
                        </p>
                        <p class="text--green" th:if="${feedbackSuccess != null}">
                            <i class="icon-check_circle"></i>
                            <span th:text="${feedbackSuccess}"></span>
                        </p>
                        <button type="submit" class="button button--primary spacing-above-35"
                                th:text="#{success.submit-feedback}"></button>
                    </form>
                </div>
                <p class="text--green" th:if="${sentiment != null && feedbackText != null && feedbackSuccess != null}">
                    <i class="icon-check_circle"></i>
                    <span th:text="${feedbackSuccess}"></span>
                </p>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>