<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar"></div>
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/card-header"></div>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35">
                    <h1 class="h2 spacing-below-35 spacing-above-0"
                        th:utext="#{transition-household-person-details.thanks}+'<br><br>'+#{transition-household-person-details.header}">
                    </h1>
                </div>
                <div class="grid__item intro-section boxed-content spacing-below-60">
                    <p class="spacing-below-0" th:utext="'<strong>'+#{transition-household-person-details.up-next}+'</strong> '+#{transition-household-person-details.citizen-disabilities}"></p>
                </div>
                <div>
                    <div th:replace="fragments/continue"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>