<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <div th:replace="fragments/toolbar"></div>
    <div th:replace="fragments/demoBanner"></div>
    <section class="slab slab--shiba">
        <div class="grid">
            <div th:replace="fragments/card-header"></div>
            <div class="card spacing-above-35">
                <div class="grid__item spacing-above-35 spacing-below-35">
                    <h1 class="h2" th:text="#{${page.headerKey}}"></h1>
                    <h2 th:text="#{warning-page.is-that-ok}"></h2>
                </div>
                <div class="spacing-below-15 spacing-above-35">
                    <a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=0'"
                       th:text="#{warning-page.no-keep-id-rather-keep-going}"></a>
                </div>
                <form method="post" th:action="'/groups/'+${subworkflows.keySet().iterator().next()}+'/delete'">
                    <button class="button" type="submit" th:text="#{warning-page.yes-go-back-to-the-start}"></button>
                </form>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>