<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head(#{${page.pageTitle}})"></div>
<body>
<div class="page-wrapper">
    <section class="slab slab--white">
        <div class="grid">
            <a th:replace="fragments/go-back"></a>
            <div class="grid__item spacing-above-35 spacing-below-10">
                <strong  th:text="#{we-do-not-recommend-minimal-flow.we-do-not-recommend-submitting-an-application-with-just-your-name-and-address}"></strong>
            </div>
            <p class="text--help spacing-below-35" th:text="#{we-do-not-recommend-minimal-flow.providing-more-information-now-will-make-make-the-process-shorter}"></p>
            <div class="spacing-below-15">
                <a class="button button--primary" th:text="#{we-do-not-recommend-minimal-flow.continue-to-full-application}"></a>
            </div>
            <div>
                <a class="link--subtle" th:href="'/pages/'+${pageName}+'/navigation'"
                   th:text="#{we-do-not-recommend-minimal-flow.i-still-want-to-submit-an-application-with-just-my-name-and-address}"></a>
            </div>
        </div>
    </section>
</div>
</body>
</html>