<svg th:fragment="icon-phone" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect width="40" height="40" fill="url(#pattern0)"/>
    <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="scale(0.0208333)"/>
        </pattern>
        <image id="image0" width="48" height="48" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABgUlEQVR4Ae3TAUQEYRCG4aSCUBLQQZWKKCmhAHWUgiCQKgRCAgqJRAGCQkSBAgEABRAkgjqoqhOUSCnp7vp6Icju+jf2zLIvDwBmzJSYLSkpKWkQl1CAV6zAZPeQozaY6xNyNApzPUGOZmCuK8jRIsx1CjnagLn2IUcnMNcy5OgLlTDVGBTCAEyVgkKYhbkykKM+mGsTQpA85mCyNBTgDSMwWymykIcsOmC+NchDD2JRPXLQHzuITbs+z9uOWNSCPPTHKcoQi7YhD0uIRTV49DmlNGLRNOThGU2IRYeQhxukYL5qXEMeMqiD+brxDnm4Qytc6sQkelGBojaMXMBPDCGocRQgCB84xjrmMYl+NCCyJvANeShgFeU+m/+AHC1EPUQO8nGObvxWi1sohJdinNM75KOAPTTiCAov+rpwDUWkKFXhEIpAUZvCU3wHIKrBNvI2B3CvGbv4gv7NQPVYQxYKqQAzlSKNLWQgBxcwWwpjWMYBznCDBwj3SMNgSUlJST94QaVxi942mwAAAABJRU5ErkJggg=="/>
    </defs>
</svg>
